<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>NetBoot</string>
	<key>CFBundleGetInfoString</key>
	<string>10.6.3, © Copyright 2004-2010 Apple Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ServerAdmin.NetBoot</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>NetBoot</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.6.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>160.1</string>
	<key>NSMainNibFile</key>
	<string>NetBoot</string>
	<key>NSPrincipalClass</key>
	<string>NetBoot</string>
	<key>ServerManagerDaemonCommand</key>
	<string>servermgr_netboot</string>
</dict>
</plist>
