<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>volcontrolpatch</key>
		<false/>
		<key>legacyusb</key>
		<true/>
		<key>alsfix</key>
		<false/>
		<key>modelIDs</key>
		<array>
			<string>Macmini3,1</string>
		</array>
	</dict>
	<dict>
		<key>volcontrolpatch</key>
		<false/>
		<key>legacyusb</key>
		<true/>
		<key>alsfix</key>
		<false/>
		<key>modelIDs</key>
		<array>
			<string>MacBook5,1</string>
			<string>MacBook5,2</string>
			<string>MacBookAir2,1</string>
			<string>MacBookPro5,1</string>
			<string>MacBookPro5,2</string>
			<string>MacBookPro5,3</string>
			<string>MacBookPro5,4</string>
			<string>MacBookPro5,5</string>
		</array>
	</dict>
	<dict>
		<key>volcontrolpatch</key>
		<false/>
		<key>legacyusb</key>
		<true/>
		<key>alsfix</key>
		<true/>
		<key>modelIDs</key>
		<array>
			<string>MacBookPro4,1</string>
		</array>
	</dict>
	<dict>
		<key>volcontrolpatch</key>
		<false/>
		<key>legacyusb</key>
		<true/>
		<key>alsfix</key>
		<false/>
		<key>modelIDs</key>
		<array>
			<string>MacPro3,1</string>
		</array>
	</dict>
	<dict>
		<key>volcontrolpatch</key>
		<false/>
		<key>legacyusb</key>
		<false/>
		<key>alsfix</key>
		<false/>
		<key>modelIDs</key>
		<array>
			<string>MacPro4,1</string>
		</array>
	</dict>
	<dict>
		<key>volcontrolpatch</key>
		<false/>
		<key>legacyusb</key>
		<true/>
		<key>alsfix</key>
		<false/>
		<key>modelIDs</key>
		<array>
			<string>Xserve2,1</string>
			<string>Xserve3,1</string>
		</array>
	</dict>
	<dict>
		<key>volcontrolpatch</key>
		<false/>
		<key>legacyusb</key>
		<true/>
		<key>alsfix</key>
		<false/>
		<key>modelIDs</key>
		<array>
			<string>iMac7,1</string>
			<string>iMac9,1</string>
		</array>
	</dict>
	<dict>
		<key>volcontrolpatch</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>alsfix</key>
		<false/>
		<key>modelIDs</key>
		<array>
			<string>iMac8,1</string>
		</array>
	</dict>
</array>
</plist>
