<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Servers</key>
	<dict>
		<key>com.apple.ppp.l2tp</key>
		<dict>
			<key>IPSec</key>
			<dict>
				<key>AuthenticationMethod</key>
				<string>SharedSecret</string>
			</dict>
			<key>IPv4</key>
			<dict>
				<key>DestAddressRanges</key>
				<array>
					<string>192.168.2.128</string>
					<string>192.168.2.254</string>
				</array>
			</dict>
			<key>L2TP</key>
			<dict>
				<key>IPSecSharedSecretValue</key>
				<string>replace_me</string>
			</dict>
			<key>enabled</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>