<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>logName</key>
		<string>System Log</string>
		<key>logIdentifier</key>
		<string>systemLog</string>
		<key>logPath</key>
		<string>/var/log/system.log</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>Secure Log</string>
		<key>logIdentifier</key>
		<string>secureLog</string>
		<key>logPath</key>
		<string>/var/log/secure.log</string>
	</dict>
	<dict>	
		<key>logName</key>
		<string>softwareUpdateLog</string>
		<key>logIdentifier</key>
		<string>softwareUpdateLog</string>
		<key>logPath</key>		
		<string>/Library/Logs/Software Update.log</string>
	</dict>
</array>
</plist>