<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>audio</key>
		<string>AAC-LC Music, Stereo, 128 kbps, 44.1 kHz</string>
		<key>name</key>
		<string>Apple TV</string>
		<key>path</key>
		<string>appletv.plist</string>
		<key>mimeType</key>
		<string>video/x-m4v</string>
		<key>video</key>
		<string>H.264 Video, 1280 x 720, 5 Mbps, 30 fps</string>
		<key>extension</key>
		<string>m4v</string>
		<key>uuid</key>
		<string>5C4C5D10-476A-41A8-98AE-3855C546DC5C</string>
	</dict>
	<dict>
		<key>audio</key>
		<string>AAC-LC Music, Stereo, 128 kbps, 44.1 kHz</string>
		<key>name</key>
		<string>Audio</string>
		<key>path</key>
		<string>ipod_audio.plist</string>
		<key>mimeType</key>
		<string>audio/x-m4a</string>
		<key>extension</key>
		<string>m4a</string>
		<key>uuid</key>
		<string>EAFA9278-6278-4EF1-8AE0-95871024F1A4</string>
	</dict>
	<dict>
		<key>audio</key>
		<string>AAC-LC Music, Mono, 24 kbps, 16 kHz</string>
		<key>name</key>
		<string>Mobile</string>
		<key>path</key>
		<string>iphone_cellular.plist</string>
		<key>mimeType</key>
		<string>video/3gpp</string>
		<key>video</key>
		<string>H.264 Video, 176 x 144, 56 kbps, 15 fps</string>
		<key>extension</key>
		<string>3gp</string>
		<key>uuid</key>
		<string>233ECC90-AC22-46B8-867C-161155CF71F6</string>
	</dict>
	<dict>
		<key>audio</key>
		<string>AAC-LC Music, Stereo, 128 kbps, 44.1 kHz</string>
		<key>name</key>
		<string>iPod / iPhone</string>
		<key>path</key>
		<string>ipod.plist</string>
		<key>mimeType</key>
		<string>video/x-m4v</string>
		<key>video</key>
		<string>H.264 Video, 640 x 480, 1.5 Mbps, 30 fps</string>
		<key>extension</key>
		<string>m4v</string>
		<key>uuid</key>
		<string>E43D860D-31BB-454F-83AD-B2ECFFED9E92</string>
	</dict>
	<dict>
		<key>audio</key>
		<string>AAC, Stereo, 256 kbps, 44.1 kHz</string>
		<key>name</key>
		<string>Computer</string>
		<key>path</key>
		<string>computer.plist</string>
		<key>mimeType</key>
		<string>video/x-m4v</string>
		<key>video</key>
		<string>H.264 Video, 1920 x 1080, 10 Mbps, 30 fps</string>
		<key>extension</key>
		<string>m4v</string>
		<key>uuid</key>
		<string>2E83C110-33E3-4D8D-A4EB-DFDE11DA3497</string>
	</dict>
</array>
</plist>
