<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.dosdude1.PatchUpdater</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Utilities/Patch Updater.app/Contents/MacOS/Patch Updater</string>
		<string>-silent</string>
	</array>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
