<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Macmini3,1</key>
	<dict>
		<key>volcontrolpatch</key>
		<false/>
		<key>legacyusb</key>
		<true/>
		<key>alsfix</key>
		<false/>
		<key>backlightPatch</key>
		<false/>
		<key>needsGPUPatch</key>
		<false/>
	</dict>
	<key>MacBook5,1</key>
	<dict>
		<key>volcontrolpatch</key>
		<false/>
		<key>legacyusb</key>
		<true/>
		<key>alsfix</key>
		<false/>
		<key>backlightPatch</key>
		<false/>
		<key>needsGPUPatch</key>
		<false/>
	</dict>
	<key>MacBook5,2</key>
	<dict>
		<key>volcontrolpatch</key>
		<false/>
		<key>legacyusb</key>
		<true/>
		<key>alsfix</key>
		<false/>
		<key>backlightPatch</key>
		<true/>
		<key>needsGPUPatch</key>
		<false/>
	</dict>
	<key>MacBookAir2,1</key>
	<dict>
		<key>volcontrolpatch</key>
		<false/>
		<key>legacyusb</key>
		<true/>
		<key>alsfix</key>
		<false/>
		<key>backlightPatch</key>
		<false/>
		<key>needsGPUPatch</key>
		<false/>
	</dict>
	<key>MacBookPro5,1</key>
	<dict>
		<key>volcontrolpatch</key>
		<false/>
		<key>legacyusb</key>
		<true/>
		<key>alsfix</key>
		<false/>
		<key>backlightPatch</key>
		<false/>
		<key>needsGPUPatch</key>
		<false/>
	</dict>
	<key>MacBookPro5,2</key>
	<dict>
		<key>volcontrolpatch</key>
		<false/>
		<key>legacyusb</key>
		<true/>
		<key>alsfix</key>
		<false/>
		<key>backlightPatch</key>
		<false/>
		<key>needsGPUPatch</key>
		<false/>
	</dict>
	<key>MacBookPro5,3</key>
	<dict>
		<key>volcontrolpatch</key>
		<false/>
		<key>legacyusb</key>
		<true/>
		<key>alsfix</key>
		<false/>
		<key>backlightPatch</key>
		<false/>
		<key>needsGPUPatch</key>
		<false/>
	</dict>
	<key>MacBookPro5,4</key>
	<dict>
		<key>volcontrolpatch</key>
		<false/>
		<key>legacyusb</key>
		<true/>
		<key>alsfix</key>
		<false/>
		<key>backlightPatch</key>
		<false/>
		<key>needsGPUPatch</key>
		<false/>
	</dict>
	<key>MacBookPro5,5</key>
	<dict>
		<key>volcontrolpatch</key>
		<false/>
		<key>legacyusb</key>
		<true/>
		<key>alsfix</key>
		<false/>
		<key>backlightPatch</key>
		<false/>
		<key>needsGPUPatch</key>
		<false/>
	</dict>
	<key>MacBookPro4,1</key>
	<dict>
		<key>volcontrolpatch</key>
		<false/>
		<key>legacyusb</key>
		<true/>
		<key>alsfix</key>
		<true/>
		<key>backlightPatch</key>
		<false/>
		<key>needsGPUPatch</key>
		<false/>
	</dict>
	<key>MacPro3,1</key>
	<dict>
		<key>volcontrolpatch</key>
		<false/>
		<key>legacyusb</key>
		<true/>
		<key>alsfix</key>
		<false/>
		<key>backlightPatch</key>
		<false/>
		<key>needsGPUPatch</key>
		<true/>
	</dict>
	<key>MacPro4,1</key>
	<dict>
		<key>volcontrolpatch</key>
		<false/>
		<key>legacyusb</key>
		<false/>
		<key>alsfix</key>
		<false/>
		<key>backlightPatch</key>
		<false/>
		<key>needsGPUPatch</key>
		<false/>
	</dict>
	<key>Xserve2,1</key>
	<dict>
		<key>volcontrolpatch</key>
		<false/>
		<key>legacyusb</key>
		<true/>
		<key>alsfix</key>
		<false/>
		<key>backlightPatch</key>
		<false/>
		<key>needsGPUPatch</key>
		<true/>
	</dict>
	<key>Xserve3,1</key>
	<dict>
		<key>volcontrolpatch</key>
		<false/>
		<key>legacyusb</key>
		<true/>
		<key>alsfix</key>
		<false/>
		<key>backlightPatch</key>
		<false/>
		<key>needsGPUPatch</key>
		<false/>
	</dict>
	<key>iMac9,1</key>
	<dict>
		<key>volcontrolpatch</key>
		<false/>
		<key>legacyusb</key>
		<true/>
		<key>alsfix</key>
		<false/>
		<key>backlightPatch</key>
		<true/>
		<key>needsGPUPatch</key>
		<false/>
	</dict>
	<key>iMac7,1</key>
	<dict>
		<key>volcontrolpatch</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>alsfix</key>
		<false/>
		<key>backlightPatch</key>
		<true/>
		<key>needsGPUPatch</key>
		<false/>
	</dict>
	<key>iMac8,1</key>
	<dict>
		<key>volcontrolpatch</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>alsfix</key>
		<false/>
		<key>backlightPatch</key>
		<true/>
		<key>needsGPUPatch</key>
		<false/>
	</dict>
</dict>
</plist>
