<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>This patch adds the &quot;-no_compat_check&quot; boot flag to your High Sierra install&apos;s &quot;com.apple.Boot.plist&quot; file. It allows the system to boot without checking for a supported Board ID.</string>
	<string>This patch adds the &quot;mbasd=1&quot; boot flag to your High Sierra install&apos;s &quot;com.apple.Boot.plist&quot;, which tells the system to provide more power to its USB ports so a MacBook Air USB SuperDrive can operate properly.</string>
	<string>This patch places a custom kernel extension, &quot;LegacyUSBInjector.kext&quot;, into your High Sierra install&apos;s &quot;/Library/Extensions&quot; folder. This patch is necessary for most systems to allow its USB controller to function normally under Sierra. Running this patch will also ensure that SIP on your system gets disabled, and will install a LaunchAgent to your Sierra install that will alert you every boot if SIP becomes enabled.</string>
	<string>This patch places a custom kernel extension, &quot;LegacyUSBEthernet.kext&quot;, into your High Sierra install&apos;s &quot;/Library/Extensions&quot; folder. This adds support for the original MacBook Air 10/100 USB Ethernet adapter to Sierra.</string>
	<string>This patch adds support for the ambient light sensor on some systems, specifically the MacBook Pro 4,1. It should not be necessary to install this patch on any other machine.</string>
	<string>This patch fixes an issue on the iMac 8,1 where the internal speaker volume doesn&apos;t change under Sierra, despite indicating that it is doing so. This patch is only necessary on iMac 8,1 systems.</string>
	<string>This patch adds a custom dynamic library, &quot;SUVMMFaker.dylib&quot;, into your High Sierra install&apos;s &quot;/usr/local/lib&quot; folder, and patches the Software Update launch daemon to utilize it. Once installed, your system will be able to receive 10.13.x updates without any extra software.</string>
	<string>The Patch Updater is a tool, installed to your system&apos;s &quot;/Applications/Utilites&quot; folder, that allows easy and automated updating of current patches, as well as installation of new patches released for your specific Mac model.</string>
	<string>This patch performs a series of modifications to your High Sierra install&apos;s Recovery Partition, allowing it to boot on an unsupported machine.</string>
	<string>This patch enables booting of an APFS volume on an unsupported machine. When applied, a custom EFI bootloader will be installed to your system&apos;s EFI System Partition. Your unsupported machine will boot using this bootloader, which will then continue booting High Sierra from your APFS volume.</string>
	<string>This patch fixes an issue where Mac Pro 3,1 systems with newer AMD Radeon HD 5xxx, 6xxx, and 7xxx series video cards installed will not start up or work properly under High Sierra. It replaces &quot;AMDRadeonX3000.kext&quot;, &quot;AMDRadeonX3000GLDriver.bundle&quot;, &quot;AMDRadeonX4000.kext&quot;, &quot;AMDRadeonX4000GLDriver.bundle&quot;, &quot;IOAccelerator2D.plugin&quot;, and &quot;IOAcceleratorFamily2.kext&quot; in your High Sierra install with modified versions.</string>
	<string>This patch fixes an unresponsive backlight control on some machines, by replacing &quot;AppleBacklight.kext&quot;, &quot;AppleBacklightExpert.kext&quot;, and &quot;DisplayServices.framework&quot; in your High Sierra install with modified versions.</string>
</array>
</plist>
