<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Server.help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Server Help</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>CFBundleVersion</key>
	<string>2.1</string>
	<key>HPDBookAccessPath</key>
	<string>redirect.html</string>
	<key>HPDBookIconPath</key>
	<string>spfic.png</string>
	<key>HPDBookIndexPath</key>
	<string>search.helpindex</string>
	<key>HPDBookKBProduct</key>
	<string>kmosxserver106 kxa</string>
	<key>HPDBookKBURL</key>
	<string>http://www.info.apple.com/searchredir.html?bucket=helpviewer&amp;lang='lang'&amp;as_oq='product'&amp;val='query'</string>
	<key>HPDBookRemoteURL</key>
	<string>https://help.apple.com/server/mac/10.7/help/</string>
	<key>HPDBookTitle</key>
	<string>Server Help</string>
	<key>HPDBookType</key>
	<string>3</string>
</dict>
</plist>
