<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>logName</key>
		<string>Address Book Access Log</string>
		<key>logIdentifier</key>
		<string>AddressBook Access Log</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>Calendar Access Log</string>
		<key>logIdentifier</key>
		<string>Calendar Access Log</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>Mail Access Log</string>
		<key>logIdentifier</key>
		<string>Mail Access Log</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>Mail Error Log</string>
		<key>logIdentifier</key>
		<string>Mail Error Log</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>Web Access Log</string>
		<key>logIdentifier</key>
		<string>Web Access Log</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>Web Error Log</string>
		<key>logIdentifier</key>
		<string>HTTP Error Log</string>
	</dict>
</array>
</plist>
