<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>SVPromoteOpenDirectoryReplicaToMasterCredentialsPage.SVPromoteOpenDirectoryReplicaToMasterCredentialsPage</string>
		<key>isNibOwner</key>
		<true/>
	</dict>
	<dict>
		<key>identifier</key>
		<string>SVPromoteOpenDirectoryReplicaToMasterConfirmPage.SVPromoteOpenDirectoryReplicaToMasterConfirmPage</string>
		<key>isNibOwner</key>
		<true/>
	</dict>
</array>
</plist>
