<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>enabled</key>
		<dict>
			<key>showXsan</key>
			<false/>
		</dict>
		<key>identifier</key>
		<string>SVXsanAssistantIntroPage.SVXsanAssistantIntroPage</string>
		<key>isNibOwner</key>
		<true/>
	</dict>
	<dict>
		<key>identifier</key>
		<string>SVXsanAssistantConfigurationTypePage.SVXsanAssistantConfigurationTypePage</string>
		<key>isNibOwner</key>
		<true/>
	</dict>
	<dict>
		<key>children</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>SVXsanAssistantConfigureDirectoryPage.SVXsanAssistantConfigureDirectoryPage</string>
				<key>isNibOwner</key>
				<true/>
			</dict>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>identifier</key>
						<string>SVOpenDirectoryMasterAssistantIntroPage.SVOpenDirectoryMasterAssistantIntroPage</string>
						<key>isNibOwner</key>
						<true/>
					</dict>
					<dict>
						<key>identifier</key>
						<string>SVOpenDirectoryMasterAssistantAdminPage.SVOpenDirectoryMasterAssistantAdminPage</string>
						<key>isNibOwner</key>
						<true/>
					</dict>
					<dict>
						<key>enabled</key>
						<dict>
							<key>showOrganizationInfoPage</key>
							<true/>
						</dict>
						<key>identifier</key>
						<string>SVOpenDirectoryMasterAssistantOrganizationPage.SVOpenDirectoryMasterAssistantOrganizationPage</string>
						<key>isNibOwner</key>
						<true/>
					</dict>
					<dict>
						<key>identifier</key>
						<string>SVOpenDirectoryMasterAssistantConfirmPage.SVOpenDirectoryMasterAssistantConfirmPage</string>
						<key>isNibOwner</key>
						<true/>
					</dict>
				</array>
				<key>enabled</key>
				<dict>
					<key>showOpenDirectoryAssistant</key>
					<true/>
				</dict>
				<key>grouping</key>
				<true/>
				<key>identifier</key>
				<string>OpenDirectory</string>
			</dict>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>identifier</key>
						<string>SVBindToDirectoryAssistantIntroPage.SVBindToDirectoryAssistantIntroPage</string>
						<key>isNibOwner</key>
						<true/>
					</dict>
					<dict>
						<key>identifier</key>
						<string>SVXsanBindToDirectoryAssistantCredentialsPage.SVXsanBindToDirectoryAssistantCredentialsPage</string>
						<key>isNibOwner</key>
						<true/>
					</dict>
					<dict>
						<key>identifier</key>
						<string>SVOpenDirectoryMasterAssistantConfirmPage.SVBindToDirectoryAssistantConfirmPage</string>
						<key>isNibOwner</key>
						<true/>
					</dict>
				</array>
				<key>enabled</key>
				<dict>
					<key>showBindToDirectoryAssistant</key>
					<true/>
				</dict>
				<key>grouping</key>
				<true/>
				<key>identifier</key>
				<string>BindToDirectory</string>
			</dict>
		</array>
		<key>enabled</key>
		<dict>
			<key>xsanConfigurationType</key>
			<string>xsanConfigurationPrimaryController</string>
		</dict>
		<key>grouping</key>
		<true/>
		<key>identifier</key>
		<string>MDC</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>SVXsanAssistantConfirmPage.SVXsanAssistantConfirmPage</string>
		<key>isNibOwner</key>
		<true/>
	</dict>
</array>
</plist>
