<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>componentManufacturer</key>
	<string>appl</string>
	<key>componentSubtype</key>
	<string>M4VH</string>
	<key>componentType</key>
	<string>spit</string>
</dict>
</plist>
