<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Macintosh PowerBook G3</key>
	<string>Portable computer in black plastic-and-rubber case with sculpted sides.</string>
	<key>PowerBook G4</key>
	<string>Includes original thin-profile titanium enclosure with 15" flat-panel display and later models cased in aluminum with 12", 15", or 17" display.</string>
	<key>Power Macintosh G3</key>
	<string>Blue-and-white sculpted plastic tower-style desktop computer. </string>
	<key>Power Mac G4</key>
	<string>Gray-and-white sculpted plastic tower-style desktop computer.</string>
	<key>Power Mac G4 Cube</key>
	<string>Clear plastic cube-form desktop computer.</string>
	<key>Power Mac G5</key>
	<string>Aluminum tower-style desktop computer.</string>
	<key>Xserve G4</key>
	<string>G4 rack-mounted server with either tray-loading or slot-loading optical drive and four expansion bays, or the G4 cluster-node model with a single expansion bay.</string>
	<key>Xserve G5</key>
	<string>G5 based Rack-mounted server computer with slot-loading CD- or DVD-ROM drive and three expansion bays, or the cluster-node model with no expansion bays. </string>
	<key>eMac G4</key>
	<string>All-in-one design with built-in flat-screen CRT in a space-saving rounded enclosure.</string>
	<key>iBook G3</key>
	<string>Includes original brightly colored "clamshell" portable with built-in handle and later models in silver-and-white plastic rectangular enclosures with 12" or 14" flat-panel display.</string>
	<key>iBook G4</key>
	<string>White colored iBooks with a G4 Processor</string>
	<key>iMac G3</key>
	<string>All-in-one design, including original blue-and-white plastic enclosure and later many "flavors" to choose from.</string>
	<key>iMac G4</key>
	<string>All-in-one design featuring dome-shaped base and 15", 17", or 20" flat-panel display.</string>
	<key>iMac G5</key>
	<string>Flat-panel G5 iMac</string>
	<key>Mac mini</key>
	<string>Small-footprint desktop Mac G4 that connects to almost any LCD or VGA display.</string>
	<key>iMac Intel Core Duo</key>
	<string>Flat-panel iMac Intel Core Duo.</string>
	<key>MacBook Pro Intel Core Duo</key>
	<string>MacBook Pro with Intel Core Duo processor and 15" or 17" display.</string>
	<key>Mac mini Intel Core</key>
	<string>Small-footprint desktop Mac with Intel Core Duo or Intel Core Solo processor.</string>
	<key>MacBook</key>
	<string>MacBook with Intel Core Duo processor available in black or white.</string>
	<key>Mac Pro</key>
	<string>Desktop Tower (aluminum enclosure).</string>
	<key>iMac Intel Core 2 Duo</key>
	<string>Flat-panel iMac Intel Core 2 Duo.</string>
	<key>Xserve</key>
	<string>Intel Xeon-based rack-mounted server with slot-loading optical drive and three SATA or SAS expansion bays.</string>
</dict>
</plist>
