<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>enabled</key>
		<true/>
		<key>identifier</key>
		<string>Radius.ServerCertificate</string>
		<key>ownerIdentifier</key>
		<string>com.apple.SimpleServerSetup.RadiusPlugin</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>identifier</key>
		<string>Radius.AddBaseStations</string>
		<key>ownerIdentifier</key>
		<string>com.apple.SimpleServerSetup.RadiusPlugin</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>identifier</key>
		<string>Radius.AllowedUsers</string>
		<key>ownerIdentifier</key>
		<string>com.apple.SimpleServerSetup.RadiusPlugin</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>identifier</key>
		<string>Radius.Confirm</string>
		<key>ownerIdentifier</key>
		<string>com.apple.SimpleServerSetup.RadiusPlugin</string>
	</dict>
</array>
</plist>
