<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>logName</key>
		<string>Podcast Producer Server Log</string>
		<key>logIdentifier</key>
		<string>server_log</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>Podcast Producer Server Error Log</string>
		<key>logIdentifier</key>
		<string>server_error_log</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>Podcast Producer Server Startup Log</string>
		<key>logIdentifier</key>
		<string>startup_log</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>kSeparatorItem</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>Podcast Producer HTTP Access Log</string>
		<key>logIdentifier</key>
		<string>apache_access_log</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>Podcast Producer HTTP Error Log</string>
		<key>logIdentifier</key>
		<string>apache_error_log</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>kSeparatorItem</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>Podcast Producer Application Log</string>
		<key>logIdentifier</key>
		<string>application_log</string>
	</dict>
</array>
</plist>
