<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>batchRequest</string>
	<key>sendResponsesAsDictionary</key>
	<true/>
	<key>requestsArray</key>
	<array>
		<dict>
			<key>name</key>
			<string>servermgr_network</string>
			<key>request</key>
			<dict>
				<key>command</key>
				<string>getState</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>servermgr_info</string>
			<key>request</key>
			<dict>
				<key>command</key>
				<string>getState</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>servermgr_accounts</string>
			<key>request</key>
			<dict>
				<key>command</key>
				<string>getState</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>servermgr_accounts</string>
			<key>request</key>
			<dict>
				<key>command</key>
				<string>authCredentials</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
