<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Servers</key>
	<dict>
		<key>com.apple.ppp.l2tp</key>
		<dict>
			<key>DNS</key>
			<dict>
				<key>OfferedSearchDomains</key>
				<array/>
				<key>OfferedServerAddresses</key>
				<array/>
			</dict>
			<key>IPSec</key>
			<dict>
				<key>AuthenticationMethod</key>
				<string>SharedSecret</string>
				<key>IdentifierVerification</key>
				<string>None</string>
				<key>LocalCertificate</key>
				<data>
				</data>
				<key>LocalIdentifier</key>
				<string></string>
				<key>RemoteIdentifier</key>
				<string></string>
				<key>SharedSecret</key>
				<string></string>
				<key>SharedSecretEncryption</key>
				<string>Keychain</string>
			</dict>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Manual</string>
				<key>DestAddressRanges</key>
				<array/>
				<key>OfferedRouteAddresses</key>
				<array/>
				<key>OfferedRouteMasks</key>
				<array/>
				<key>OfferedRouteTypes</key>
				<array/>
			</dict>
			<key>Interface</key>
			<dict>
				<key>SubType</key>
				<string>L2TP</string>
				<key>Type</key>
				<string>PPP</string>
			</dict>
			<key>L2TP</key>
			<dict>
				<key>Transport</key>
				<string>IPSec</string>
			</dict>
			<key>PPP</key>
			<dict>
				<key>ACSPEnabled</key>
				<integer>1</integer>
				<key>AuthenticatorPlugins</key>
				<array>
					<string>DSAuth</string>
				</array>
				<key>AuthenticatorACLPlugins</key>
				<array>
					<string>DSACL</string>
				</array>
				<key>AuthenticatorEAPPlugins</key>
				<array>
					<string>EAP-KRB</string>
				</array>
				<key>AuthenticatorPlugins</key>
				<array>
					<string>DSAuth</string>
				</array>
				<key>AuthenticatorProtocol</key>
				<array>
					<string>MSCHAP2</string>
				</array>
				<key>DisconnectOnIdle</key>
				<integer>1</integer>
				<key>DisconnectOnIdleTimer</key>
				<integer>7200</integer>
				<key>IPCPCompressionVJ</key>
				<integer>0</integer>
				<key>LCPEchoEnabled</key>
				<integer>1</integer>
				<key>LCPEchoFailure</key>
				<integer>5</integer>
				<key>LCPEchoInterval</key>
				<integer>60</integer>
				<key>Logfile</key>
				<string>/var/log/ppp/vpnd.log</string>
				<key>VerboseLogging</key>
				<integer>1</integer>
			</dict>
			<key>Radius</key>
				<dict>
					<key>Servers</key>
					<array>
						<dict>
							<key>Address</key>
							<string>1.1.1.1</string>
							<key>SharedSecret</key>
							<string>1</string>
						</dict>
						<dict>
							<key>Address</key>
							<string>2.2.2.2</string>
							<key>SharedSecret</key>
							<string>2</string>
						</dict>
					</array>
				</dict>
			<key>Server</key>
			<dict>
				<key>Logfile</key>
				<string>/var/log/ppp/vpnd.log</string>
				<key>MaximumSessions</key>
				<integer>128</integer>
				<key>VerboseLogging</key>
				<integer>1</integer>
				<key>LoadBalancingEnabled</key>
				<integer>0</integer>
				<key>LoadBalancingAddress</key>
				<string>1.2.3.4</string>
			</dict>
		</dict>
		<key>com.apple.ppp.pptp</key>
		<dict>
			<key>DNS</key>
			<dict>
				<key>OfferedSearchDomains</key>
				<array/>
				<key>OfferedServerAddresses</key>
				<array/>
			</dict>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Manual</string>
				<key>DestAddressRanges</key>
				<array/>
				<key>OfferedRouteAddresses</key>
				<array/>
				<key>OfferedRouteMasks</key>
				<array/>
				<key>OfferedRouteTypes</key>
				<array/>
			</dict>
			<key>Interface</key>
			<dict>
				<key>SubType</key>
				<string>PPTP</string>
				<key>Type</key>
				<string>PPP</string>
			</dict>
			<key>PPP</key>
			<dict>
				<key>ACSPEnabled</key>
				<integer>1</integer>
				<key>AuthenticatorPlugins</key>
				<array>
					<string>DSAuth</string>
				</array>
				<key>AuthenticatorACLPlugins</key>
				<array>
					<string>DSACL</string>
				</array>				
				<key>AuthenticatorEAPPlugins</key>
				<array>
					<string>EAP-RSA</string>
				</array>				
				<key>AuthenticatorProtocol</key>
				<array>
					<string>MSCHAP2</string>
				</array>
				<key>CCPEnabled</key>
				<integer>1</integer>
				<key>CCPProtocols</key>
				<array>
					<string>MPPE</string>
				</array>
				<key>DisconnectOnIdle</key>
				<integer>1</integer>
				<key>DisconnectOnIdleTimer</key>
				<integer>7200</integer>
				<key>IPCPCompressionVJ</key>
				<integer>0</integer>
				<key>LCPEchoEnabled</key>
				<integer>1</integer>
				<key>LCPEchoFailure</key>
				<integer>5</integer>
				<key>LCPEchoInterval</key>
				<integer>60</integer>
				<key>Logfile</key>
				<string>/var/log/ppp/vpnd.log</string>
				<key>MPPEKeySize128</key>
				<integer>1</integer>
				<key>MPPEKeySize40</key>
				<integer>0</integer>
				<key>VerboseLogging</key>
				<integer>1</integer>
			</dict>
			<key>Radius</key>
				<dict>
					<key>Servers</key>
					<array>
						<dict>
							<key>Address</key>
							<string>1.1.1.1</string>
							<key>SharedSecret</key>
							<string>1</string>
						</dict>
						<dict>
							<key>Address</key>
							<string>2.2.2.2</string>
							<key>SharedSecret</key>
							<string>2</string>
						</dict>
					</array>
				</dict>
			<key>Server</key>
			<dict>
				<key>Logfile</key>
				<string>/var/log/ppp/vpnd.log</string>
				<key>MaximumSessions</key>
				<integer>128</integer>
				<key>VerboseLogging</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
