<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>593</string>
	<key>CFBundleShortVersionString</key>
	<string>10.6</string>
	<key>CFBundleVersion</key>
	<string>47</string>
	<key>ProjectName</key>
	<string>ServerAdminCalendar</string>
	<key>SourceVersion</key>
	<string>470000</string>
</dict>
</plist>
