<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Macintosh PowerBook G3:ppc</key>
	<array>
		<string>PowerBook1,1</string>
	</array>
	<key>PowerBook G4:ppc</key>
	<array>
		<string>PowerBook3,1</string>
		<string>PowerBook3,2</string>
		<string>PowerBook3,3</string>
		<string>PowerBook3,4</string>
		<string>PowerBook3,5</string>
		<string>PowerBook5,1</string>
		<string>PowerBook5,2</string>
		<string>PowerBook5,3</string>
		<string>PowerBook5,4</string>
		<string>PowerBook5,5</string>
		<string>PowerBook5,6</string>
		<string>PowerBook5,7</string>
		<string>PowerBook6,2</string>
		<string>PowerBook5,8</string>
		<string>PowerBook5,9</string>
	</array>
	<key>Power Macintosh G3:ppc</key>
	<array>
		<string>PowerMac1,1</string>
	</array>
	<key>Power Mac G4:ppc</key>
	<array>
		<string>PowerMac1,2</string>
		<string>PowerMac3,1</string>
		<string>PowerMac3,2</string>
		<string>PowerMac3,3</string>
		<string>PowerMac3,4</string>
		<string>PowerMac3,5</string>
		<string>PowerMac3,6</string>
	</array>
	<key>Power Mac G4 Cube:ppc</key>
	<array>
		<string>PowerMac5,1</string>
	</array>
	<key>Power Mac G5:ppc</key>
	<array>
		<string>PowerMac7,2</string>
		<string>PowerMac9,1</string>
		<string>PowerMac7,3</string>
		<string>PowerMac11,2</string>
	</array>
	<key>Xserve G4:ppc</key>
	<array>
		<string>RackMac1,2</string>
		<string>RackMac1,1</string>
	</array>
	<key>Xserve G5:ppc</key>
	<array>
		<string>RackMac3,1</string>
	</array>
	<key>eMac G4:ppc</key>
	<array>
		<string>PowerMac4,4</string>
		<string>PowerMac6,4</string>
	</array>
	<key>iBook G3:ppc</key>
	<array>
		<string>PowerBook4,3</string>
		<string>PowerBook4,2</string>
		<string>PowerBook4,1</string>
		<string>PowerBook2,4</string>
		<string>PowerBook2,3</string>
		<string>PowerBook2,2</string>
		<string>PowerBook2,1</string>
	</array>
	<key>iBook G4:ppc</key>
	<array>
		<string>PowerBook6,7</string>
		<string>PowerBook6,5</string>
		<string>PowerBook6,4</string>
		<string>PowerBook6,3</string>
		<string>PowerBook6,1</string>
	</array>
	<key>iMac G3:ppc</key>
	<array>
		<string>PowerMac2,1</string>
		<string>PowerMac2,2</string>
		<string>PowerMac4,1</string>
	</array>
	<key>iMac G4:ppc</key>
	<array>
		<string>PowerMac6,3</string>
		<string>PowerMac6,1</string>
		<string>PowerMac4,2</string>
		<string>PowerMac4,5</string>
	</array>
	<key>iMac G5:ppc</key>
	<array>
		<string>PowerMac8,1</string>
		<string>PowerMac12,1</string>
		<string>PowerMac8,2</string>
	</array>
	<key>Mac mini:ppc</key>
	<array>
		<string>PowerMac10,1</string>
		<string>PowerMac10,2</string>
	</array>
	<key>iMac Intel Core Duo:i386</key>
	<array>
		<string>iMac4,1</string>
		<string>iMac4,2</string>
	</array>
	<key>MacBook Pro Intel Core Duo:i386</key>
	<array>
		<string>MacBookPro1,1</string>
		<string>MacBookPro1,2</string>
		<string>MacBookPro2,1</string>
		<string>MacBookPro2,2</string>
	</array>
	<key>Mac mini Intel Core:i386</key>
	<array>
		<string>Macmini1,1</string>
	</array>
	<key>MacBook:i386</key>
	<array>
		<string>MacBook1,1</string>
		<string>MacBook2,1</string>
	</array>
	<key>Mac Pro:i386</key>
	<array>
		<string>MacPro1,1</string>
	</array>
	<key>iMac Intel Core 2 Duo:i386</key>
	<array>
		<string>iMac5,1</string>
		<string>iMac5,2</string>
		<string>iMac6,1</string>
	</array>
	<key>Xserve:i386</key>
	<array>
		<string>Xserve1,1</string>
	</array>
</dict>
</plist>
