<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13A603</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Xsan Admin</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xsnab</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/octet-stream</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Binary</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.XsanAdmin.document-binary</string>
			</array>
			<key>NSDocumentClass</key>
			<string>XsanDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>NSBinaryStoreType</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xsan</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/octet-stream</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XML</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.XsanAdmin.document</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>XsanDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xsans</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/octet-stream</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SQLite</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.XsanAdmin.document-sqlite</string>
			</array>
			<key>NSDocumentClass</key>
			<string>XsanDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>NSSQLiteStoreType</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Xsan Admin</string>
	<key>CFBundleHelpBookFolder</key>
	<string>XsanAdmin.help</string>
	<key>CFBundleHelpBookName</key>
	<string>com.apple.XsanAdmin.help</string>
	<key>CFBundleIconFile</key>
	<string>Application</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.XsanAdmin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1</string>
	<key>CFBundleSignature</key>
	<string>xsan</string>
	<key>CFBundleVersion</key>
	<string>340</string>
	<key>CopyrightEndYear</key>
	<string>2014</string>
	<key>CopyrightStartYear</key>
	<string>2005</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A11344p</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13A603</string>
	<key>DTSDKName</key>
	<string></string>
	<key>DTXcode</key>
	<string>0500</string>
	<key>DTXcodeBuild</key>
	<string>5A11344p</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.9</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2005-2014 Apple Inc.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>SANApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Xsan Admin Binary document</string>
			<key>UTTypeIconFile</key>
			<string>Application</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.XsanAdmin.document-binary</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xsanb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Xsan Admin document</string>
			<key>UTTypeIconFile</key>
			<string>Application</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.XsanAdmin.document</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xsan</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Xsan Admin SQLite document</string>
			<key>UTTypeIconFile</key>
			<string>Application</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.XsanAdmin.document-sqlite</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xsans</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
