<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Macintosh PowerBook G3</key>
	<string>Tragbarer Computer im schwarzen Kunststoff/Gummi-Gehäuse mit geschwungenen Seiten</string>
	<key>PowerBook G4</key>
	<string>Einschließlich des ursprünglichen extra-dünnen Titangehäuses mit 15" LCD-Flachbildschirm und der späteren Modelle im Aluminium-Gehäuse mit 12", 15" oder 17" LCD</string>
	<key>Power Macintosh G3</key>
	<string>Blau-weißer Desktop-Computer im Kunststoff-Tower-Gehäuse</string>
	<key>Power Mac G4</key>
	<string>Grau-weißer Desktop-Computer im Kunststoff-Tower-Gehäuse</string>
	<key>Power Mac G4 Cube</key>
	<string>Desktop-Computer im durchsichtigen, würfelförmigen Gehäuse</string>
	<key>Power Mac G5</key>
	<string>Desktop-Computer in Aluminium-Tower-Gehäuse</string>
	<key>Xserve G4</key>
	<string>G4 Servercomputer für Rackmontage mit optischem Laufwerk mit Schlitten oder Schlitz und vier Erweiterungsschächten, oder das G4 Cluster-Node-Modell mit einem Erweiterungsschacht</string>
	<key>Xserve G5</key>
	<string>G5 Servercomputer für Rackmontage mit Schlitz-CD- oder DVD-ROM-Laufwerk und drei Erweiterungsschächten, oder das Cluster-Node-Modell ohne Erweiterungsschächte</string>
	<key>eMac G4</key>
	<string>All-in-One-Design mit eingebauter, flacher Bildröhre im platzsparenden, abgerundeten Gehäuse</string>
	<key>iBook G3</key>
	<string>Einschließlich der ursprünglichen tragbaren „Muschel“-Modelle in leuchtenden Farben und eingebautem Tragegriff und der späteren Modelle im rechteckigen, silber-weißen Gehäuse mit 12" und 14" LCD</string>
	<key>iBook G4</key>
	<string>Weiße iBooks mit G4 Prozessor</string>
	<key>iMac G3</key>
	<string>All-in-One-Design, einschließlich des ursprünglichen blau-weißen Kunststoffgehäuses und der nachfolgend zur Auswahl stehenden „Geschmacksrichtungen“</string>
	<key>iMac G4</key>
	<string>All-in-One-Design mit halbkugelförmigem Sockel und 15", 17" oder 20" LCD-Flachbildschirm</string>
	<key>iMac G5</key>
	<string>G5 iMac mit LCD-Flachbildschirm</string>
	<key>Mac mini</key>
	<string>G4 Desktop Mac im kleinen Gehäuse, an den fast jeder LCD- oder VGA-Bildschirm angeschlossen werden kann</string>
	<key>iMac Intel Core Duo</key>
	<string>iMac Intel Core Duo mit Flachbildschirm</string>
	<key>MacBook Pro Intel Core Duo</key>
	<string>MacBook Pro mit Intel Core Duo Prozessor und 15" oder 17" Bildschirm</string>
	<key>Mac mini Intel Core</key>
	<string>Desktop Mac im kleinen Gehäuse mit Intel Core 2 Duo, Intel Core Duo oder Intel Core Solo Prozessor</string>
	<key>MacBook</key>
	<string>MacBook mit Intel Core Duo Prozessor, verfügbar in schwarz oder weiß</string>
	<key>Mac Pro</key>
	<string>Desktop-Computer in Aluminium-Tower-Gehäuse</string>
	<key>iMac Intel Core 2 Duo</key>
	<string>iMac Intel Core 2 Duo mit Flachbildschirm</string>
	<key>Xserve</key>
	<string>Server mit Intel Xeon-Prozessor für Rackmontage, mit optischem Laufwerk mit Schlitz und drei SATA- bzw. SAS-Erweiterungsschächten.</string>
</dict>
</plist>
