<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Notification</string>
	<key>CFBundleGetInfoString</key>
	<string>10.6, Copyright © 2008 Apple Inc.,\nAll Rights Reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ServerAdmin.Notification</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Push Notification</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>IsDefaultPlugin</key>
	<false/>
	<key>IsTigerPlugin</key>
	<false/>
	<key>NSMainNibFile</key>
	<string>NotificationServer</string>
	<key>NSPrincipalClass</key>
	<string>NotificationServer</string>
	<key>ServerManagerDaemonCommand</key>
	<string>servermgr_notification</string>
	<key>SupportsSessionlessAccess</key>
	<false/>
</dict>
</plist>
