<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>Default Attribute Type Map</key>
	<array>
			<string>dsAttrTypeStandard:RecordName</string>
			<string>dsAttrTypeStandard:RealName</string>
			<string>dsAttrTypeStandard:UniqueID</string>
			<string>dsAttrTypeStandard:Password</string>
			<string>dsAttrTypeStandard:PrimaryGroupID</string>
			<string>dsAttrTypeStandard:HomeDirectory</string>
			<string>dsAttrTypeStandard:Group</string>
			<string>dsAttrTypeStandard:GroupMembership</string>
			<string>dsAttrTypeStandard:MCXSettings</string>
			<string>dsAttrTypeStandard:MCXFlags</string>
	</array>
</dict>
</plist>