<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>name</key>
		<string>com.apple.webapp.xcsbuildd</string>
		<key>preflightCommand</key>
		<string>/Applications/Server.app/Contents/ServerRoot/usr/sbin/xcsbuildd_preflight</string>
		<key>launchKeys</key>
		<array>
			<string>com.apple.xcsbuildd</string>
		</array>
	</dict>
</plist>
