<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>name</key>
		<string>com.apple.webapp.devicemgr</string>
		<key>includeFiles</key>
		<array>
			<string>/Library/Server/Web/Config/apache2/httpd_devicemanagement.conf</string>
		</array>
		<key>launchKeys</key>
		<array>
      <string>com.apple.DeviceManagement.dmrunnerd</string>
      <string>com.apple.DeviceManagement.php-fpm</string>
		</array>
		<key>proxies</key>
		<dict>
      <key>/devicemanagement/api</key>
			<dict>
				<key>path</key>
				<string>/devicemanagement/api</string>
				<key>urls</key>
				<array>
					<string>http://127.0.0.1:3320</string>
					<string>http://127.0.0.1:3321</string>
					<string>http://127.0.0.1:3322</string>
					<string>http://127.0.0.1:3323</string>
					<string>http://127.0.0.1:3324</string>
					<string>http://127.0.0.1:3325</string>
					<string>http://127.0.0.1:3326</string>
					<string>http://127.0.0.1:3327</string>
					<string>http://127.0.0.1:3328</string>
					<string>http://127.0.0.1:3329</string>
				</array>
      </dict>
    </dict>
		<key>requiredModuleNames</key>
		<array>
			<string>proxy_module</string>
			<string>xsendfile_module</string>
		</array>
		<key>requiredWebAppNames</key>
		<array>
			<string>com.apple.webapp.auth</string>
			<string>com.apple.webapp.devicemgr.ssl</string>
		</array>
		<key>sslPolicy</key>
		<integer>4</integer> <!-- 4 = Use both HTTP and HTTPS -->
	</dict>
</plist>
