<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>com.apple.webapp.calendarserverssl</string>
	<key>includeFiles</key>
	<array>
		<string>/Library/Server/Web/Config/apache2/httpd_corecollaboration_webcalssl.conf</string>
		<string>/Library/Server/Web/Config/apache2/httpd_calendarserver.conf</string>
	</array>
	<key>proxies</key>
	<dict>
		<key>/.well-known</key>
		<dict>
			<key>path</key>
			<string>/.well-known</string>
			<key>urls</key>
			<array>
				<string>https://localhost:8443/.well-known</string>
			</array>
		</dict>
		<key>/calendars</key>
		<dict>
			<key>path</key>
			<string>/calendars</string>
			<key>urls</key>
			<array>
				<string>https://localhost:8443/calendars</string>
			</array>
		</dict>
		<key>/principals</key>
		<dict>
			<key>path</key>
			<string>/principals</string>
			<key>urls</key>
			<array>
				<string>https://localhost:8443/principals</string>
			</array>
		</dict>
		<key>/timezones</key>
		<dict>
			<key>path</key>
			<string>/timezones</string>
			<key>urls</key>
			<array>
				<string>https://localhost:8443/timezones</string>
			</array>
		</dict>
		<key>/webcal</key>
		<dict>
			<key>path</key>
			<string>/webcal</string>
			<key>urls</key>
			<array>
				<string>https://localhost:8443/webcal</string>
			</array>
		</dict>
	</dict>
	<key>requiredModuleNames</key>
	<array>
		<string>proxy_module</string>
		<string>headers_module</string>
	</array>
	<key>requiredWebAppNames</key>
	<array>
		<string>com.apple.webapp.auth</string>
	</array>
	<key>sslPolicy</key>
	<integer>1</integer>
</dict>
</plist>
