<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>logName</key>
		<string>IMAP</string>
		<key>logIdentifier</key>
		<string>IMAP Log</string>
		<key>logPath</key>
		<string>/var/log/mailaccess.log</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>POP</string>
		<key>logIdentifier</key>
		<string>POP Log</string>
		<key>logPath</key>
		<string>/var/log/mailaccess.log</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>Mail Access</string>
		<key>logIdentifier</key>
		<string>Server Log</string>
		<key>logPath</key>
		<string>/var/log/mailaccess.log</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>SMTP</string>
		<key>logIdentifier</key>
		<string>SMTP Log</string>
		<key>logPath</key>
		<string>/var/log/mail.log</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>kSeparatorItem</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>Mailing Lists - Service</string>
		<key>logIdentifier</key>
		<string>Lists qrunner</string>
		<key>logPath</key>
		<string>/var/mailman/logs/qrunner</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>Mailing Lists - Errors</string>
		<key>logIdentifier</key>
		<string>Lists error</string>
		<key>logPath</key>
		<string>/var/mailman/logs/error</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>Mailing Lists - Delivery</string>
		<key>logIdentifier</key>
		<string>Lists smtp</string>
		<key>logPath</key>
		<string></string>
	</dict>
	<dict>
		<key>logName</key>
		<string>Mailing Lists - Delivery Failures</string>
		<key>logIdentifier</key>
		<string>Lists smtp-failure</string>
		<key>logPath</key>
		<string>/var/mailman/logs/smtp</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>Mailing Lists - Postings</string>
		<key>logIdentifier</key>
		<string>Lists post</string>
		<key>logPath</key>
		<string>/var/mailman/logs/post</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>Mailing Lists - Subscriptions</string>
		<key>logIdentifier</key>
		<string>Lists subscribe</string>
		<key>logPath</key>
		<string>/var/mailman/logs/subscribe</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>kSeparatorItem</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>Junk Mail/Virus Scanning</string>
		<key>logIdentifier</key>
		<string>Amavisd Log</string>
		<key>logPath</key>
		<string></string>
	</dict>
	<dict>
		<key>logName</key>
		<string>Virus</string>
		<key>logIdentifier</key>
		<string>Virus Log</string>
		<key>logPath</key>
		<string>/var/log/amavis.log</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>Virus Database Updates</string>
		<key>logIdentifier</key>
		<string>Virus DB Log</string>
		<key>logPath</key>
		<string>/var/log/freshclam.log</string>
	</dict>				
</array>
</plist>
