<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>dirserv</string>
	<string>ftp</string>
	<string>ipfilter</string>
	<string>mysql</string>
	<string>nat</string>
	<string>nfs</string>
	<string>notification</string>
	<string>pcast</string>
	<string>print</string>
	<string>proxy</string>
	<string>qtss</string>
	<string>radius</string>
	<string>swupdate</string>
	<string>xgrid</string>
</array>
</plist>
