<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Server</string>
	<key>CFBundleGetInfoString</key>
	<string>10.6.3, © Copyright 2001–2009 Apple Inc.,\nall rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ServerAdmin.Server</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Server</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.6.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>253.2.1</string>
	<key>IsDefaultPlugin</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>Server</string>
	<key>NSPrincipalClass</key>
	<string>Server</string>
	<key>NonExportableSettings</key>
	<array>
		<string>serialNumber</string>
	</array>
	<key>NonImportableSettings</key>
	<array>
		<string>serialNumber</string>
	</array>
	<key>OptionalVariantForGetState</key>
	<string>fromLeopard</string>
	<key>ServerManagerDaemonCommand</key>
	<string>servermgr_info</string>
	<key>SupportsSessionlessAccess</key>
	<true/>
</dict>
</plist>
