<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Group</key>
	<array>
		<dict>
			<key>Default Field Index</key>
			<integer>4</integer>
			<key>Default Match Type Index</key>
			<integer>1</integer>
			<key>Fields</key>
			<array>
				<dict>
					<key>AllowsMultiple</key>
					<true/>
					<key>DSAttribute</key>
					<string>dsAttrTypeStandard:RecordName</string>
					<key>FieldName</key>
					<string>Le nom abrégé</string>
					<key>MatchTypes</key>
					<array>
						<dict>
							<key>MatchType</key>
							<integer>2</integer>
							<key>MenuItemText</key>
							<string>contient</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>1</integer>
							<key>MenuItemText</key>
							<string>est</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>3</integer>
							<key>MenuItemText</key>
							<string>commence par</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>4</integer>
							<key>MenuItemText</key>
							<string>finit par</string>
						</dict>
					</array>
					<key>ValueType</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AllowsMultiple</key>
					<true/>
					<key>DSAttribute</key>
					<string>dsAttrTypeStandard:RealName</string>
					<key>FieldName</key>
					<string>Le nom réel</string>
					<key>MatchTypes</key>
					<array>
						<dict>
							<key>MatchType</key>
							<integer>2</integer>
							<key>MenuItemText</key>
							<string>contient</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>1</integer>
							<key>MenuItemText</key>
							<string>est</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>3</integer>
							<key>MenuItemText</key>
							<string>commence par</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>4</integer>
							<key>MenuItemText</key>
							<string>finit par</string>
						</dict>
					</array>
					<key>ValueType</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AllowsMultiple</key>
					<true/>
					<key>DSAttribute</key>
					<string>dsAttrTypeStandard:GroupMembership</string>
					<key>FieldName</key>
					<string>L’adhésion</string>
					<key>MatchTypes</key>
					<array>
						<dict>
							<key>MatchType</key>
							<integer>2</integer>
							<key>MenuItemText</key>
							<string>contient</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>1</integer>
							<key>MenuItemText</key>
							<string>est</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>3</integer>
							<key>MenuItemText</key>
							<string>commence par</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>4</integer>
							<key>MenuItemText</key>
							<string>finit par</string>
						</dict>
					</array>
					<key>ValueType</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AllowsMultiple</key>
					<true/>
					<key>DSAttribute</key>
					<string>dsAttrTypeStandard:Comment</string>
					<key>FieldName</key>
					<string>Le commentaire</string>
					<key>MatchTypes</key>
					<array>
						<dict>
							<key>MatchType</key>
							<integer>2</integer>
							<key>MenuItemText</key>
							<string>contient</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>1</integer>
							<key>MenuItemText</key>
							<string>est</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>3</integer>
							<key>MenuItemText</key>
							<string>commence par</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>4</integer>
							<key>MenuItemText</key>
							<string>finit par</string>
						</dict>
					</array>
					<key>ValueType</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AllowsMultiple</key>
					<true/>
					<key>DSAttribute</key>
					<string>dsAttrTypeStandard:PrimaryGroupID</string>
					<key>FieldName</key>
					<string>L’identifiant de groupe</string>
					<key>MatchTypes</key>
					<array>
						<dict>
							<key>MatchType</key>
							<integer>5</integer>
							<key>MenuItemText</key>
							<string>est inférieur à</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>6</integer>
							<key>MenuItemText</key>
							<string>est supérieur à</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>1</integer>
							<key>MenuItemText</key>
							<string>est</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>2</integer>
							<key>MenuItemText</key>
							<string>contient</string>
						</dict>
					</array>
					<key>ValueType</key>
					<integer>2</integer>
				</dict>
			</array>
			<key>TabName</key>
			<string>Élémentaire</string>
		</dict>
		<dict>
			<key>Default Field Index</key>
			<integer>1</integer>
			<key>Default Match Type Index</key>
			<integer>1</integer>
			<key>Fields</key>
			<array>
				<dict>
					<key>AllowsMultiple</key>
					<true/>
					<key>DSAttribute</key>
					<string>dsAttrTypeStandard:HomeLocOwner</string>
					<key>FieldName</key>
					<string>Le nom du propriétaire</string>
					<key>MatchTypes</key>
					<array>
						<dict>
							<key>MatchType</key>
							<integer>2</integer>
							<key>MenuItemText</key>
							<string>contient</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>1</integer>
							<key>MenuItemText</key>
							<string>est</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>3</integer>
							<key>MenuItemText</key>
							<string>commence par</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>4</integer>
							<key>MenuItemText</key>
							<string>finit par</string>
						</dict>
					</array>
					<key>ValueType</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>TabName</key>
			<string>Le dossier de groupe</string>
		</dict>
	</array>
	<key>User</key>
	<array>
		<dict>
			<key>Default Field Index</key>
			<integer>2</integer>
			<key>Default Match Type Index</key>
			<integer>1</integer>
			<key>Fields</key>
			<array>
				<dict>
					<key>AllowsMultiple</key>
					<true/>
					<key>DSAttribute</key>
					<string>dsAttrTypeStandard:RecordName</string>
					<key>FieldName</key>
					<string>Le nom d'enregistrement</string>
					<key>MatchTypes</key>
					<array>
						<dict>
							<key>MatchType</key>
							<integer>2</integer>
							<key>MenuItemText</key>
							<string>contient</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>1</integer>
							<key>MenuItemText</key>
							<string>est</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>3</integer>
							<key>MenuItemText</key>
							<string>commence par</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>4</integer>
							<key>MenuItemText</key>
							<string>finit par</string>
						</dict>
					</array>
					<key>ValueType</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AllowsMultiple</key>
					<true/>
					<key>DSAttribute</key>
					<string>dsAttrTypeStandard:RealName</string>
					<key>FieldName</key>
					<string>Le nom réel</string>
					<key>MatchTypes</key>
					<array>
						<dict>
							<key>MatchType</key>
							<integer>2</integer>
							<key>MenuItemText</key>
							<string>contient</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>1</integer>
							<key>MenuItemText</key>
							<string>est</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>3</integer>
							<key>MenuItemText</key>
							<string>commence par</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>4</integer>
							<key>MenuItemText</key>
							<string>finit par</string>
						</dict>
					</array>
					<key>ValueType</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AllowsMultiple</key>
					<true/>
					<key>DSAttribute</key>
					<string>dsAttrTypeStandard:UniqueID</string>
					<key>FieldName</key>
					<string>L’identifiant d'utilisateur</string>
					<key>MatchTypes</key>
					<array>
						<dict>
							<key>MatchType</key>
							<integer>5</integer>
							<key>MenuItemText</key>
							<string>est inférieur à</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>6</integer>
							<key>MenuItemText</key>
							<string>est supérieur à</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>1</integer>
							<key>MenuItemText</key>
							<string>est</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>2</integer>
							<key>MenuItemText</key>
							<string>contient</string>
						</dict>
					</array>
					<key>ValueType</key>
					<integer>2</integer>
				</dict>
			</array>
			<key>TabName</key>
			<string>Élémentaire</string>
		</dict>
		<dict>
			<key>Fields</key>
			<array>
				<dict>
					<key>AllowsMultiple</key>
					<true/>
					<key>DSAttribute</key>
					<string>dsAttrTypeStandard:Comment</string>
					<key>FieldName</key>
					<string>Le commentaire</string>
					<key>MatchTypes</key>
					<array>
						<dict>
							<key>MatchType</key>
							<integer>2</integer>
							<key>MenuItemText</key>
							<string>contient</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>1</integer>
							<key>MenuItemText</key>
							<string>est</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>3</integer>
							<key>MenuItemText</key>
							<string>commence par</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>4</integer>
							<key>MenuItemText</key>
							<string>finit par</string>
						</dict>
					</array>
					<key>ValueType</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AllowsMultiple</key>
					<true/>
					<key>DSAttribute</key>
					<string>dsAttrTypeStandard:Keywords</string>
					<key>FieldName</key>
					<string>Le mot-clé</string>
					<key>MatchTypes</key>
					<array>
						<dict>
							<key>MatchType</key>
							<integer>2</integer>
							<key>MenuItemText</key>
							<string>contient</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>1</integer>
							<key>MenuItemText</key>
							<string>est</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>3</integer>
							<key>MenuItemText</key>
							<string>commence par</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>4</integer>
							<key>MenuItemText</key>
							<string>finit par</string>
						</dict>
					</array>
					<key>ValueType</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>TabName</key>
			<string>Avancé</string>
		</dict>
		<dict>
			<key>Fields</key>
			<array>
				<dict>
					<key>AllowsMultiple</key>
					<true/>
					<key>DSAttribute</key>
					<string>dsAttrTypeStandard:PrimaryGroupID</string>
					<key>FieldName</key>
					<string>L’identifiant de groupe</string>
					<key>MatchTypes</key>
					<array>
						<dict>
							<key>MatchType</key>
							<integer>5</integer>
							<key>MenuItemText</key>
							<string>est inférieur à</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>6</integer>
							<key>MenuItemText</key>
							<string>est supérieur à</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>1</integer>
							<key>MenuItemText</key>
							<string>est</string>
						</dict>
						<dict>
							<key>MatchType</key>
							<integer>2</integer>
							<key>MenuItemText</key>
							<string>contient</string>
						</dict>
					</array>
					<key>ValueType</key>
					<integer>2</integer>
				</dict>
			</array>
			<key>TabName</key>
			<string>Groupes</string>
		</dict>
	</array>
</dict>
</plist>
