<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>Gateway.Intro</string>
			<key>ownerIdentifier</key>
			<string>com.apple.SimpleServerSetup.GatewayPlugin</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>Gateway.WAN</string>
			<key>ownerIdentifier</key>
			<string>com.apple.SimpleServerSetup.GatewayPlugin</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>Gateway.LAN</string>
			<key>ownerIdentifier</key>
			<string>com.apple.SimpleServerSetup.GatewayPlugin</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>Gateway.VPN</string>
			<key>ownerIdentifier</key>
			<string>com.apple.SimpleServerSetup.GatewayPlugin</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>Gateway.Confirm</string>
			<key>ownerIdentifier</key>
			<string>com.apple.SimpleServerSetup.GatewayPlugin</string>
		</dict>
	</array>
</plist>


