<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>layer-gadgets</key>
	<array>
		<dict>
			<key>id</key>
			<string>533f777f1589a841</string>
			<key>in-layer</key>
			<true/>
			<key>path</key>
			<string>/Library/Widgets/Server Status.wdgt/</string>
			<key>percent-offset-x</key>
			<integer>0</integer>
			<key>percent-offset-y</key>
			<integer>0</integer>
			<key>percent-type</key>
			<integer>1</integer>
			<key>percent-x</key>
			<real>0.24285714328289032</real>
			<key>percent-y</key>
			<real>0.32571429014205933</real>
			<key>pos-x</key>
			<integer>408</integer>
			<key>pos-y</key>
			<integer>342</integer>
			<key>rosetta</key>
			<false/>
		</dict>
		<dict>
			<key>id</key>
			<string>3107b95d1589a841</string>
			<key>in-layer</key>
			<true/>
			<key>path</key>
			<string>/Library/Widgets/World Clock.wdgt/</string>
			<key>percent-offset-x</key>
			<integer>0</integer>
			<key>percent-offset-y</key>
			<integer>0</integer>
			<key>percent-type</key>
			<integer>2</integer>
			<key>percent-x</key>
			<real>0.27619048953056335</real>
			<key>percent-y</key>
			<real>0.38190475106239319</real>
			<key>pos-x</key>
			<integer>1044</integer>
			<key>pos-y</key>
			<integer>401</integer>
			<key>rosetta</key>
			<false/>
		</dict>
		<dict>
			<key>id</key>
			<string>1adebc5d1589a841</string>
			<key>in-layer</key>
			<true/>
			<key>path</key>
			<string>/Library/Widgets/iCal.wdgt/</string>
			<key>percent-offset-x</key>
			<integer>0</integer>
			<key>percent-offset-y</key>
			<integer>0</integer>
			<key>percent-type</key>
			<integer>3</integer>
			<key>percent-x</key>
			<real>0.40000000596046448</real>
			<key>percent-y</key>
			<real>0.33428570628166199</real>
			<key>pos-x</key>
			<integer>675</integer>
			<key>pos-y</key>
			<integer>536</integer>
			<key>rosetta</key>
			<false/>
		</dict>
		<dict>
			<key>id</key>
			<string>e90ec25d1589a841</string>
			<key>in-layer</key>
			<true/>
			<key>path</key>
			<string>/Library/Widgets/Weather.wdgt/</string>
			<key>percent-offset-x</key>
			<integer>0</integer>
			<key>percent-offset-y</key>
			<integer>0</integer>
			<key>percent-type</key>
			<integer>2</integer>
			<key>percent-x</key>
			<real>0.41428571939468384</real>
			<key>percent-y</key>
			<real>0.29333332180976868</real>
			<key>pos-x</key>
			<integer>700</integer>
			<key>pos-y</key>
			<integer>322</integer>
			<key>rosetta</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
