<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>SVDeviceManagementAssistantIntroPage.SVDeviceManagementAssistantIntroPage</string>
		<key>isNibOwner</key>
		<true/>
	</dict>
	<dict>
		<key>children</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>SVOpenDirectoryMasterAssistantIntroPage.SVOpenDirectoryMasterAssistantIntroPage</string>
				<key>isNibOwner</key>
				<true/>
			</dict>
			<dict>
				<key>identifier</key>
				<string>SVOpenDirectoryMasterAssistantAdminPage.SVOpenDirectoryMasterAssistantAdminPage</string>
				<key>isNibOwner</key>
				<true/>
			</dict>
			<dict>
				<key>enabled</key>
				<dict>
					<key>showOrganizationInfoPage</key>
					<true/>
				</dict>
				<key>identifier</key>
				<string>SVOpenDirectoryMasterAssistantOrganizationPage.SVOpenDirectoryMasterAssistantOrganizationPage</string>
				<key>isNibOwner</key>
				<true/>
			</dict>
			<dict>
				<key>identifier</key>
				<string>SVOpenDirectoryMasterAssistantConfirmPage.SVOpenDirectoryMasterAssistantConfirmPage</string>
				<key>isNibOwner</key>
				<true/>
			</dict>
		</array>
		<key>enabled</key>
		<dict>
			<key>showOpenDirectoryAssistant</key>
			<true/>
		</dict>
		<key>grouping</key>
		<true/>
		<key>identifier</key>
		<string>OpenDirectory</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>SVDeviceManagementAssistantOrganizationPage.SVDeviceManagementAssistantOrganizationPage</string>
		<key>isNibOwner</key>
		<true/>
	</dict>
	<dict>
		<key>enabled</key>
		<dict>
			<key>webServerUsingTrustedSSLCert</key>
			<false/>
		</dict>
		<key>identifier</key>
		<string>SVDeviceManagementAssistantConfigureSSLPage.SVDeviceManagementAssistantConfigureSSLPage</string>
		<key>isNibOwner</key>
		<true/>
	</dict>
	<dict>
		<key>enabled</key>
		<dict>
			<key>showAPNSPage</key>
			<true/>
		</dict>
		<key>identifier</key>
		<string>SVDeviceManagementAssistantAPNSPage.SVDeviceManagementAssistantAPNSPage</string>
		<key>isNibOwner</key>
		<true/>
	</dict>
	<dict>
		<key>identifier</key>
		<string>SVDeviceManagementAssistantConfirmPage.SVDeviceManagementAssistantConfirmPage</string>
		<key>isNibOwner</key>
		<true/>
	</dict>
</array>
</plist>
