<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>SVXsanAssistantIntroPage.SVXsanAssistantIntroPage</string>
		<key>isNibOwner</key>
		<true/>
	</dict>
	<dict>
		<key>identifier</key>
		<string>Create SAN Assistant</string>
		<key>enabled</key>
		<dict>
			<key>SVXsanAssistantKeySetupType</key>
			<integer>1</integer>
			<key>SVXsanAssistantKeyHasError</key>
			<false/>
		</dict>
		<key>grouping</key>
		<true/>
		<key>children</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>SVXsanAssistantCreateSANSettingsPage.SVXsanAssistantCreateSANSettingsPage</string>
				<key>isNibOwner</key>
				<true/>
			</dict>
			<dict>
				<key>identifier</key>
				<string>Create Open Directory Master Assistant</string>
				<key>enabled</key>
				<dict>
					<key>SVXsanAssistantKeyShouldShowCreateOpenDirectoryMasterAssistant</key>
					<true/>
				</dict>
				<key>grouping</key>
				<true/>
				<key>children</key>
				<array>
					<dict>
						<key>identifier</key>
						<string>SVOpenDirectoryMasterAssistantIntroPage.SVOpenDirectoryMasterAssistantIntroPage</string>
						<key>isNibOwner</key>
						<true/>
					</dict>
					<dict>
						<key>identifier</key>
						<string>SVOpenDirectoryMasterAssistantAdminPage.SVOpenDirectoryMasterAssistantAdminPage</string>
						<key>isNibOwner</key>
						<true/>
					</dict>
					<dict>
						<key>identifier</key>
						<string>SVOpenDirectoryMasterAssistantOrganizationPage.SVOpenDirectoryMasterAssistantOrganizationPage</string>
						<key>isNibOwner</key>
						<true/>
						<key>enabled</key>
						<dict>
							<key>showOrganizationInfoPage</key>
							<true/>
						</dict>
					</dict>
					<dict>
						<key>identifier</key>
						<string>SVOpenDirectoryMasterAssistantConfirmPage.SVOpenDirectoryMasterAssistantConfirmPage</string>
						<key>isNibOwner</key>
						<true/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>identifier</key>
				<string>SVXsanAssistantOrganizationPage.SVXsanAssistantOrganizationPage</string>
				<key>enabled</key>
				<dict>
					<key>SVXsanAssistantKeyShouldShowOrganizationPage</key>
					<true/>
				</dict>
				<key>isNibOwner</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>identifier</key>
		<string>Join SAN Assistant</string>
		<key>enabled</key>
		<dict>
			<key>SVXsanAssistantKeySetupType</key>
			<integer>2</integer>
			<key>SVXsanAssistantKeyHasError</key>
			<false/>
		</dict>
		<key>grouping</key>
		<true/>
		<key>children</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>SVXsanAssistantJoinSANChooseSANPage.SVXsanAssistantJoinSANChooseSANPage</string>
				<key>isNibOwner</key>
				<true/>
			</dict>
			<dict>
				<key>identifier</key>
				<string>SVXsanAssistantJoinSANCredentialsPage.SVXsanAssistantJoinSANCredentialsPage</string>
				<key>isNibOwner</key>
				<true/>
			</dict>
			<dict>
				<key>identifier</key>
				<string>Create Open Directory Replica Assistant</string>
				<key>enabled</key>
				<dict>
					<key>SVXsanAssistantKeyShouldShowCreateOpenDirectoryReplicaAssistant</key>
					<true/>
					<key>SVXsanAssistantKeyHasError</key>
					<false/>
				</dict>
				<key>grouping</key>
				<true/>
				<key>children</key>
				<array>
					<dict>
						<key>identifier</key>
						<string>SVOpenDirectoryMasterAssistantIntroPage.SVOpenDirectoryMasterAssistantIntroPage</string>
						<key>isNibOwner</key>
						<true/>
					</dict>
					<dict>
						<key>identifier</key>
						<string>SVJoinODDomainAsReplicaCredentialsPage.SVJoinODDomainAsReplicaCredentialsPage</string>
						<key>isNibOwner</key>
						<true/>
					</dict>
					<dict>
						<key>identifier</key>
						<string>SVJoinODDomainAsReplicaConfirmPage.SVJoinODDomainAsReplicaConfirmPage</string>
						<key>isNibOwner</key>
						<true/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>identifier</key>
		<string>Activate SAN Assistant</string>
		<key>enabled</key>
		<dict>
			<key>SVXsanAssistantKeySetupType</key>
			<integer>3</integer>
			<key>SVXsanAssistantKeyHasError</key>
			<false/>
		</dict>
		<key>grouping</key>
		<true/>
		<key>children</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>Create Open Directory Master Assistant</string>
				<key>enabled</key>
				<dict>
					<key>SVXsanAssistantKeyShouldShowCreateOpenDirectoryMasterAssistant</key>
					<true/>
				</dict>
				<key>grouping</key>
				<true/>
				<key>children</key>
				<array>
					<dict>
						<key>identifier</key>
						<string>SVOpenDirectoryMasterAssistantIntroPage.SVOpenDirectoryMasterAssistantIntroPage</string>
						<key>isNibOwner</key>
						<true/>
					</dict>
					<dict>
						<key>identifier</key>
						<string>SVOpenDirectoryMasterAssistantAdminPage.SVOpenDirectoryMasterAssistantAdminPage</string>
						<key>isNibOwner</key>
						<true/>
					</dict>
					<dict>
						<key>identifier</key>
						<string>SVOpenDirectoryMasterAssistantOrganizationPage.SVOpenDirectoryMasterAssistantOrganizationPage</string>
						<key>isNibOwner</key>
						<true/>
						<key>enabled</key>
						<dict>
							<key>showOrganizationInfoPage</key>
							<true/>
						</dict>
					</dict>
					<dict>
						<key>identifier</key>
						<string>SVOpenDirectoryMasterAssistantConfirmPage.SVOpenDirectoryMasterAssistantConfirmPage</string>
						<key>isNibOwner</key>
						<true/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>identifier</key>
				<string>SVXsanAssistantOrganizationPage.SVXsanAssistantOrganizationPage</string>
				<key>enabled</key>
				<dict>
					<key>SVXsanAssistantKeyShouldShowOrganizationPage</key>
					<true/>
				</dict>
				<key>isNibOwner</key>
				<true/>
			</dict>
			<dict>
				<key>identifier</key>
				<string>Create Open Directory Replica Assistant</string>
				<key>enabled</key>
				<dict>
					<key>SVXsanAssistantKeyShouldShowCreateOpenDirectoryReplicaAssistant</key>
					<true/>
				</dict>
				<key>grouping</key>
				<true/>
				<key>children</key>
				<array>
					<dict>
						<key>identifier</key>
						<string>SVOpenDirectoryMasterAssistantIntroPage.SVOpenDirectoryMasterAssistantIntroPage</string>
						<key>isNibOwner</key>
						<true/>
					</dict>
					<dict>
						<key>identifier</key>
						<string>SVJoinODDomainAsReplicaCredentialsPage.SVJoinODDomainAsReplicaCredentialsPage</string>
						<key>isNibOwner</key>
						<true/>
					</dict>
					<dict>
						<key>identifier</key>
						<string>SVJoinODDomainAsReplicaConfirmPage.SVJoinODDomainAsReplicaConfirmPage</string>
						<key>isNibOwner</key>
						<true/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>identifier</key>
		<string>SVXsanAssistantErrorPage.SVXsanAssistantErrorPage</string>
		<key>isNibOwner</key>
		<true/>
		<key>enabled</key>
		<dict>
			<key>SVXsanAssistantKeyHasError</key>
			<true/>
		</dict>
	</dict>
</array>
</plist>
