body {
	font-family:'Lucida Grande';
	position: absolute;
	width: 240px;
	height: 340px;
	top:  0px;
	left:  0px;
	position: fixed;
	margin: 0;
}

#background {
	position: absolute;
	top:  0px;
	left:  0px;
	width: 100%;
	height: 100%;
}

/* @group Front */

#front {
	position: absolute;
	top: 6px;
	left: 10px;
	bottom: 14px;
	right: 10px;
	width: 220px;
	height: 320px;
	border: 1px solid black;
	-webkit-border-radius: 10px;
	background: #343432 url(Images/backgroundGradient.png) no-repeat;
	color: white;
	clip: auto;
}

/* @group Titlebar */

#title {
	position: absolute;
	text-align: center;
	top:  0px;
	left: 0px;
	right: 0px;
	height:  24px;
	border-bottom: 1px solid #191919;
	padding-top: 5px;
	font-size: 14px;
	text-shadow: 0px -1px 0px #000;
}

#titleText {
	margin-left: 24px;
	margin-right: 24px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#flip {
	position: absolute;
	top: 7px;
	right: 20px;
}

/* @end */

div.contentArea {
	display: none;
	position: absolute;
	width: 100%;
	top: 30px;
	bottom: 0px;
}

/* @group Graph & Services */

#graphAndServicesContentArea {
	display: block;
}

#graphArea {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 75px;
	border-top: 1px solid #4c4c4c;
}

#graphButtonArea {
	height: 31px;
	top:  77px;
	left: 1px;
	right: 1px;
	position: absolute;
	border-bottom: 1px solid #191919;
}

#servicesArea {
	position: absolute;
	left: 1px;
	right: 1px;
	bottom: 0px;
	height: 180px;
	display: block;
	border-top: 1px solid #4c4c4c;
}

/* @group Graph Area */

#graphFadeInArea {
	opacity: 0;
	z-index: 10;
	position:  absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	font-size: 10px;
}

div.graphTopLabel {
	position: absolute;
	top: 0px;
	left: 10%;
	width: 80%;
	height: 25%;
	text-align: center;
	font-size: 10px;
	padding-top: 3px;
}

div.graphYAxisLabel {
	position: absolute;
	right: 0px;
	width: 20px;
	font-size: 9px;
	text-align: center;
	margin-right: 1px;
}

canvas.graphCanvas {
	display: block;
	background: rgba(0,0,0,0.02);
	position: absolute;
	left: 21px;
	width: 176px;
	height: 58px;
	bottom: 0px;
}

/* @group CPU Graph */

#cpuGraphArea {
	display: block;
}

#cpuGraphCanvas {
	display: block;
}

#cpuGraph0Label {
	bottom: 0%;
}

#cpuGraph50Label {
	bottom: 30%;	
}

#cpuGraph100Label {
	top: 26%;		
}


/* @end */

/* @group Network Graph */

#networkGraphArea {
	display: none;
}

#networkGraphCanvas {
	
}

#networkGraphInLabel {
	top: 35%;
	text-align: center;
}

#networkGraphOutLabel {
	top: 74%;
	text-align: center;
}

/* @end */

/* @group Disk Graph */

#diskGraphArea {
	display: none;
}

#diskGraphCanvas {
	background: none;
}

#diskGraphTopLabel {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	margin-right: 0;
	margin-left: 0;
	height: 15px;
}

#diskGraphShowOnMouseOver {
	opacity: 0;
}

#diskGraphAmountUsedLabel {
	font-size: 10px;
	text-align: center;
	position: absolute;
	bottom: 0px;
	width: 50%;
	right: 5px;
}

#diskGraphAmountFreeLabel {
	font-size: 10px;
	text-align: center;
	position: absolute;
	bottom: 0px;
	width: 50%;
	left: 5px;
}

/* @end */

/* @group Timescale */

div.graphTimeScale {
	text-align: center;
	position:  absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding-top: 2px;
}

#graphTimeScale1H {}
#graphTimeScale1D {}
#graphTimeScale1W {}

span.regularTimeScale {
	padding-left: 3px;
	padding-right: 3px;
	text-shadow: 0px -1px 1px #000;
}

span.selectedTimeScale {
	padding-left: 3px;
	padding-right: 3px;
	background-color: #d8d8d8;
	color: #3f3f3f;
	-webkit-border-radius: 3px;
	font-weight: bold;
}

/* @end */

/* @end * Services */

/* @group Graph Buttons */


.graphButton {
	width: 48px;
	height: 23px;
}

.graphButton.selected .graphButtonBorder {
    padding: 1px;
    -webkit-border-radius: 2px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(42%,42%,42%,0)), to(rgb(44.7%,45.1%,45.5%)));
    height: 100%;
}

.graphButton.selected .graphButtonInset {
    padding: 0px 1px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgb(22.7%,22.7%,23.1%)));
    height: 100%;
}

.graphButton.selected .graphButtonGradient {
    padding: 0px 1px;
    background: -webkit-gradient(linear, left top, left bottom, from(#151515), to(rgb(27.1%,27.1%,27.5%)));
    height: 100%;
}

#graphCPUButton {
	position: absolute;
	top: 2px;
	left: 39px;
}

#graphNetworkButton {
	position: absolute;
	top: 2px;
	left: 85px;
}

#graphDiskButton {
	position: absolute;
	top: 2px;
	left: 129px;
}

.graphButtonImage {
	position: absolute;
	width: 17px;
	height: 15px;
	top: 5px;
	left: 17px;
}

#cpuButtonImage {
	background-image: url(Images/buttonCPU.png);
	background-repeat: no-repeat;
}

#networkButtonImage {
	background: url(Images/buttonNetwork.png) no-repeat 0 3px;
}

#diskButtonImage {
	background-image: url(Images/buttonDisk.png);
	background-repeat: no-repeat;
}

img.graphButtonBg {
	position: absolute;
	top: 1px;
	display: none;
}

.graphButtonSelected img.graphButtonBg {
	display: block;
}

img.graphButtonBg#cpuBg {
}

img.graphButtonBg#networkBg {
}

img.graphButtonBg#diskBg {
}

.graphButton .graphButtonImage {
	opacity: 0.6;
}

.graphButton.selected .graphButtonImage {
	opacity: 1.0;	
}

/* @end */

/* @group Services */

#services {
	width: 100%;
	height: 100%;
	-apple-dashboard-region:dashboard-region(control rectangle);
}

.servicesTable {
	width: 100%;
	height: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	overflow: hidden;
}

.servicesTable tr{
}

.servicesTable tr:hover {
	background-color: rgba(0,0,0,0.15);
}

.servicesTable td {
	/* an invisible 1px border, so that it is actually
	   rendered and used for layout... otherwise the
	   view will jump about a bit when you mouse over the
	   first row (see tr + tr immediately below) */
	border-top: 1px solid rgba(0,0,0,0);
}

.servicesTable tr + tr td {
	/* slightly lighten the top of the row during normal drawing */
	border-top: 1px solid rgba(255,255,255,0.1);
}

.servicesTable tr:hover td {
	/* slightly darken the top of the row when hovering */
	border-top: 1px solid rgba(0,0,0,0.1);
}

.servicesTable td.gap {
	/* for the "gap" table columns, show no top border */
	width: 5px;
	border-top: 0;
	padding: 0;
}

td.serviceBead {
	width:  12px;
	padding: 0;
}

img.serviceBeadImg {
	width: 12px;
	height: 12px;
}

td.serviceName {
	padding: 0;
	color: white;
	font-size: 12px;
	text-align: left;
	width: 120px;
	padding-left: 1px;
	text-shadow: 0px -1px 1px #000;

}

td.serviceStatus {
	padding: 0;
	color: gray;
	font-size: 10px;
	text-align: left;
	width: 94px;
}

td.serviceLink {
	padding: 0;
	width: 14px;
}


div.serviceLinkIcon {
	position: relative;
	padding: 2px;
	width: 12px;
	height: 12px;
}

tr:hover div.serviceLinkIcon {
	cursor: pointer;
	content: url(Images/linkIcon.png);
}


/* @end */

/* @end */

/* @end */

/* @group Back */

#back {
	position: absolute;
	top: 6px;
	left: 10px;
	bottom: 14px;
	right: 10px;
	border: 1px solid black;
	-webkit-border-radius: 10px;
	background: #343432 url(Images/backgroundGradient.png) no-repeat;
	color: white;
	clip: auto;
	display: none;
	font-size: 11px;
}

#backContent {
	position: absolute;
	top: 20px;
	bottom:  20px;
	left: 20px;
	right: 20px;
}

.backLabel {
	left:  0px;
	position: relative;
}

#back input {
	position: relative;
	left: 0px;
	width: 170px;
	margin-bottom: 6px;
}

#statusLabel {
	position: absolute;
	bottom: 7px;
	width: 100px;
	color: lightgrey;
	font-size: 9px;
}

#doneButton {
	position: absolute;
	bottom: 0px;
	right: 0px;
}



/* @end */