<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Accounts</key>
	<dict>
		<key>693EBBFE-0385-4F55-93FB-9D788A717462</key>
		<dict>
			<key>Private</key>
			<dict/>
			<key>Public</key>
			<dict>
				<key>Address</key>
				<string></string>
				<key>Username</key>
				<string></string>
				<key>Authentication</key>
				<integer>0</integer>
				<key>SSLEnabled</key>
				<false/>
			</dict>
			<key>Type</key>
			<string>SMTP</string>
			<key>UUID</key>
			<string>693EBBFE-0385-4F55-93FB-9D788A717462</string>
		</dict>
	</dict>
</dict>
</plist>
