<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>atomContainerData</key>
	<data>
	AAAAAAAAAAAAAAAAAAAfJ3NlYW4AAAABAAAABgAAAAAAAAGbdmlkZQAAAAEAAAAPAAAA
	AAAAACJzcHRsAAAAAQAAAAAAAAAAYXZjMQAAAAAAGAAABAAAAAAgdHBybAAAAAEAAAAA
	AAAAAAAAAgAAGAAAAAAAGAAAACRkcmF0AAAAAQAAAAAAAAAAAAAAAP//gAAAAAEAAAAB
	AAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABhtZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhw
	c2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAAAAAAAAAAAQAAABZtcGVzAAAA
	AQAAAAAAAAAAAAAAAAAoaGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAFmVuZHMAAAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21m
	cgAAAAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABx2ZXJzAAAAAQAA
	AAAAAAAAAAMAHAABAAAAAAAVdHJuYwAAAAEAAAAAAAAAAAAAAAEGaXNpegAAAAEAAAAJ
	AAAAAAAAABhpd2R0AAAAAQAAAAAAAAAAAAAAAAAAABhpaGd0AAAAAQAAAAAAAAAAAAAA
	AAAAABhwd2R0AAAAAQAAAAAAAAAAAAAAAAAAABhwaGd0AAAAAQAAAAAAAAAAAAAAAAAA
	ADRjbGFwAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAccGFzcAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAGHNjYW0AAAABAAAAAAAAAAAAAAAA
	AAAAFWRpbnQAAAABAAAAAAAAAAAAAAAAFXVlbmYAAAABAAAAAAAAAAAAAAAcCXNvdW4A
	AAABAAAABwAAAAAAABsWYXVkaQAAAAEAAAAHAAAAAAAAADxvc2JkAAAAAQAAAAAAAAAA
	QOWIgAAAAABhYWMgAAAAAAAAAAAAAAQAAAAAAAAAAAIAAAAAAAAAAAAAABxhaXNyAAAA
	AQAAAAAAAAAAQRdwAAAAAAAAABpBY2RzdAAAAAEAAAAAAAAAADw/eG1sIHZlcnNpb249
	IjEuMCIgZW5jb2Rpbmc9IlVURi04Ij8+CjwhRE9DVFlQRSBwbGlzdCBQVUJMSUMgIi0v
	L0FwcGxlLy9EVEQgUExJU1QgMS4wLy9FTiIgImh0dHA6Ly93d3cuYXBwbGUuY29tL0RU
	RHMvUHJvcGVydHlMaXN0LTEuMC5kdGQiPgo8cGxpc3QgdmVyc2lvbj0iMS4wIj4KPGFy
	cmF5PgoJPGRpY3Q+CgkJPGtleT5jb252ZXJ0ZXI8L2tleT4KCQk8c3RyaW5nPlNhbXBs
	ZVJhdGVDb252ZXJ0ZXI8L3N0cmluZz4KCQk8a2V5Pm5hbWU8L2tleT4KCQk8c3RyaW5n
	PlNhbXBsZSBSYXRlIENvbnZlcnRlcjwvc3RyaW5nPgoJCTxrZXk+cGFyYW1ldGVyczwv
	a2V5PgoJCTxhcnJheT4KCQkJPGRpY3Q+CgkJCQk8a2V5PmF2YWlsYWJsZSB2YWx1ZXM8
	L2tleT4KCQkJCTxhcnJheT4KCQkJCQk8c3RyaW5nPkZhc3Rlcjwvc3RyaW5nPgoJCQkJ
	CTxzdHJpbmc+RmFzdDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+Tm9ybWFsPC9zdHJpbmc+
	CgkJCQkJPHN0cmluZz5CZXR0ZXI8L3N0cmluZz4KCQkJCQk8c3RyaW5nPkJlc3Q8L3N0
	cmluZz4KCQkJCTwvYXJyYXk+CgkJCQk8a2V5PmN1cnJlbnQgdmFsdWU8L2tleT4KCQkJ
	CTxpbnRlZ2VyPjM8L2ludGVnZXI+CgkJCQk8a2V5PmhpbnQ8L2tleT4KCQkJCTxpbnRl
	Z2VyPjA8L2ludGVnZXI+CgkJCQk8a2V5PmtleTwva2V5PgoJCQkJPHN0cmluZz5RdWFs
	aXR5PC9zdHJpbmc+CgkJCQk8a2V5Pm5hbWU8L2tleT4KCQkJCTxzdHJpbmc+UXVhbGl0
	eTwvc3RyaW5nPgoJCQkJPGtleT5zdW1tYXJ5PC9rZXk+CgkJCQk8c3RyaW5nPlF1YWxp
	dHkgc2V0dGluZyBmb3IgdGhlIHNhbXBsZSByYXRlIGNvbnZlcnRlci48L3N0cmluZz4K
	CQkJCTxrZXk+dmFsdWUgdHlwZTwva2V5PgoJCQkJPGludGVnZXI+MjI8L2ludGVnZXI+
	CgkJCTwvZGljdD4KCQkJPGRpY3Q+CgkJCQk8a2V5PmF2YWlsYWJsZSB2YWx1ZXM8L2tl
	eT4KCQkJCTxhcnJheT4KCQkJCQk8c3RyaW5nPlByZTwvc3RyaW5nPgoJCQkJCTxzdHJp
	bmc+Tm9ybWFsPC9zdHJpbmc+CgkJCQkJPHN0cmluZz5Ob25lPC9zdHJpbmc+CgkJCQk8
	L2FycmF5PgoJCQkJPGtleT5jdXJyZW50IHZhbHVlPC9rZXk+CgkJCQk8aW50ZWdlcj4x
	PC9pbnRlZ2VyPgoJCQkJPGtleT5oaW50PC9rZXk+CgkJCQk8aW50ZWdlcj4yPC9pbnRl
	Z2VyPgoJCQkJPGtleT5rZXk8L2tleT4KCQkJCTxzdHJpbmc+UHJpbWluZyBNZXRob2Q8
	L3N0cmluZz4KCQkJCTxrZXk+bmFtZTwva2V5PgoJCQkJPHN0cmluZz5QcmltaW5nIE1l
	dGhvZDwvc3RyaW5nPgoJCQkJPGtleT5zdW1tYXJ5PC9rZXk+CgkJCQk8c3RyaW5nPlBy
	aW1pbmcgbWV0aG9kIGZvciB0aGUgc2FtcGxlIHJhdGUgY29udmVydGVyLjwvc3RyaW5n
	PgoJCQkJPGtleT52YWx1ZSB0eXBlPC9rZXk+CgkJCQk8aW50ZWdlcj4yMjwvaW50ZWdl
	cj4KCQkJPC9kaWN0PgoJCTwvYXJyYXk+CgkJPGtleT52ZXJzaW9uPC9rZXk+CgkJPGlu
	dGVnZXI+MDwvaW50ZWdlcj4KCTwvZGljdD4KCTxkaWN0PgoJCTxrZXk+Y29udmVydGVy
	PC9rZXk+CgkJPHN0cmluZz5Db2RlY0NvbnZlcnRlcjwvc3RyaW5nPgoJCTxrZXk+bmFt
	ZTwva2V5PgoJCTxzdHJpbmc+TVBFRyA0IEFBQyBMQyBFbmNvZGVyPC9zdHJpbmc+CgkJ
	PGtleT5wYXJhbWV0ZXJzPC9rZXk+CgkJPGFycmF5PgoJCQk8ZGljdD4KCQkJCTxrZXk+
	RXhwbGljaXRWYWx1ZTwva2V5PgoJCQkJPGludGVnZXI+NjYxOTEzODwvaW50ZWdlcj4K
	CQkJCTxrZXk+YXZhaWxhYmxlIHZhbHVlczwva2V5PgoJCQkJPGFycmF5PgoJCQkJCTxz
	dHJpbmc+TW9ubzwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+U3RlcmVvPC9zdHJpbmc+CgkJ
	CQkJPHN0cmluZz5RdWFkcmFwaG9uaWM8L3N0cmluZz4KCQkJCQk8c3RyaW5nPkFBQyA0
	LjA8L3N0cmluZz4KCQkJCQk8c3RyaW5nPkFBQyA1LjA8L3N0cmluZz4KCQkJCQk8c3Ry
	aW5nPkFBQyA1LjE8L3N0cmluZz4KCQkJCQk8c3RyaW5nPkFBQyA2LjA8L3N0cmluZz4K
	CQkJCQk8c3RyaW5nPkFBQyA2LjE8L3N0cmluZz4KCQkJCQk8c3RyaW5nPkFBQyA3LjA8
	L3N0cmluZz4KCQkJCQk8c3RyaW5nPkFBQyA3LjE8L3N0cmluZz4KCQkJCQk8c3RyaW5n
	Pk9jdGFnb25hbDwvc3RyaW5nPgoJCQkJPC9hcnJheT4KCQkJCTxrZXk+Y3VycmVudCB2
	YWx1ZTwva2V5PgoJCQkJPGludGVnZXI+MTwvaW50ZWdlcj4KCQkJCTxrZXk+aGludDwv
	a2V5PgoJCQkJPGludGVnZXI+NTwvaW50ZWdlcj4KCQkJCTxrZXk+a2V5PC9rZXk+CgkJ
	CQk8c3RyaW5nPkNoYW5uZWwgQ29uZmlndXJhdGlvbjwvc3RyaW5nPgoJCQkJPGtleT5s
	aW1pdGVkIHZhbHVlczwva2V5PgoJCQkJPGFycmF5PgoJCQkJCTxzdHJpbmc+U3RlcmVv
	PC9zdHJpbmc+CgkJCQk8L2FycmF5PgoJCQkJPGtleT5uYW1lPC9rZXk+CgkJCQk8c3Ry
	aW5nPkNoYW5uZWwgQ29uZmlndXJhdGlvbjwvc3RyaW5nPgoJCQkJPGtleT5zdW1tYXJ5
	PC9rZXk+CgkJCQk8c3RyaW5nPlRoZSBjaGFubmVsIGxheW91dCBvZiB0aGUgQUFDIHBy
	b2R1Y2VkIGJ5IHRoZSBlbmNvZGVyPC9zdHJpbmc+CgkJCQk8a2V5PnZhbHVlIHR5cGU8
	L2tleT4KCQkJCTxpbnRlZ2VyPjIyPC9pbnRlZ2VyPgoJCQk8L2RpY3Q+CgkJCTxkaWN0
	PgoJCQkJPGtleT5FeHBsaWNpdFZhbHVlPC9rZXk+CgkJCQk8cmVhbD40NDEwMDwvcmVh
	bD4KCQkJCTxrZXk+YXZhaWxhYmxlIHZhbHVlczwva2V5PgoJCQkJPGFycmF5PgoJCQkJ
	CTxzdHJpbmc+UmVjb21tZW5kZWQ8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjguMDAwPC9z
	dHJpbmc+CgkJCQkJPHN0cmluZz4xMS4wMjU8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjEy
	LjAwMDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+MTYuMDAwPC9zdHJpbmc+CgkJCQkJPHN0
	cmluZz4yMi4wNTA8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjI0LjAwMDwvc3RyaW5nPgoJ
	CQkJCTxzdHJpbmc+MzIuMDAwPC9zdHJpbmc+CgkJCQkJPHN0cmluZz40NC4xMDA8L3N0
	cmluZz4KCQkJCQk8c3RyaW5nPjQ4LjAwMDwvc3RyaW5nPgoJCQkJPC9hcnJheT4KCQkJ
	CTxrZXk+Y3VycmVudCB2YWx1ZTwva2V5PgoJCQkJPGludGVnZXI+ODwvaW50ZWdlcj4K
	CQkJCTxrZXk+aGludDwva2V5PgoJCQkJPGludGVnZXI+NjwvaW50ZWdlcj4KCQkJCTxr
	ZXk+a2V5PC9rZXk+CgkJCQk8c3RyaW5nPlNhbXBsZSBSYXRlPC9zdHJpbmc+CgkJCQk8
	a2V5PmxpbWl0ZWQgdmFsdWVzPC9rZXk+CgkJCQk8YXJyYXk+CgkJCQkJPHN0cmluZz5S
	ZWNvbW1lbmRlZDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+MjIuMDUwPC9zdHJpbmc+CgkJ
	CQkJPHN0cmluZz4yNC4wMDA8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjMyLjAwMDwvc3Ry
	aW5nPgoJCQkJCTxzdHJpbmc+NDQuMTAwPC9zdHJpbmc+CgkJCQkJPHN0cmluZz40OC4w
	MDA8L3N0cmluZz4KCQkJCTwvYXJyYXk+CgkJCQk8a2V5Pm5hbWU8L2tleT4KCQkJCTxz
	dHJpbmc+U2FtcGxlIFJhdGU8L3N0cmluZz4KCQkJCTxrZXk+c3VtbWFyeTwva2V5PgoJ
	CQkJPHN0cmluZz5UaGUgc2FtcGxlIHJhdGUgb2YgdGhlIEFBQyBwcm9kdWNlZCBieSB0
	aGUgZW5jb2Rlcjwvc3RyaW5nPgoJCQkJPGtleT51bml0PC9rZXk+CgkJCQk8c3RyaW5n
	PmtIejwvc3RyaW5nPgoJCQkJPGtleT52YWx1ZSB0eXBlPC9rZXk+CgkJCQk8aW50ZWdl
	cj4yMjwvaW50ZWdlcj4KCQkJPC9kaWN0PgoJCQk8ZGljdD4KCQkJCTxrZXk+RXhwbGlj
	aXRWYWx1ZTwva2V5PgoJCQkJPGludGVnZXI+MTwvaW50ZWdlcj4KCQkJCTxrZXk+YXZh
	aWxhYmxlIHZhbHVlczwva2V5PgoJCQkJPGFycmF5PgoJCQkJCTxzdHJpbmc+QXZlcmFn
	ZSBCaXQgUmF0ZTwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+VmFyaWFibGUgQml0IFJhdGU8
	L3N0cmluZz4KCQkJCQk8c3RyaW5nPlZhcmlhYmxlIEJpdCBSYXRlIENvbnN0cmFpbmVk
	PC9zdHJpbmc+CgkJCQkJPHN0cmluZz5Db25zdGFudCBCaXQgUmF0ZTwvc3RyaW5nPgoJ
	CQkJPC9hcnJheT4KCQkJCTxrZXk+Y3VycmVudCB2YWx1ZTwva2V5PgoJCQkJPGludGVn
	ZXI+MDwvaW50ZWdlcj4KCQkJCTxrZXk+aGludDwva2V5PgoJCQkJPGludGVnZXI+NTwv
	aW50ZWdlcj4KCQkJCTxrZXk+a2V5PC9rZXk+CgkJCQk8c3RyaW5nPlRhcmdldCBGb3Jt
	YXQ8L3N0cmluZz4KCQkJCTxrZXk+bGltaXRlZCB2YWx1ZXM8L2tleT4KCQkJCTxhcnJh
	eT4KCQkJCQk8c3RyaW5nPkF2ZXJhZ2UgQml0IFJhdGU8L3N0cmluZz4KCQkJCQk8c3Ry
	aW5nPlZhcmlhYmxlIEJpdCBSYXRlPC9zdHJpbmc+CgkJCQkJPHN0cmluZz5WYXJpYWJs
	ZSBCaXQgUmF0ZSBDb25zdHJhaW5lZDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+Q29uc3Rh
	bnQgQml0IFJhdGU8L3N0cmluZz4KCQkJCTwvYXJyYXk+CgkJCQk8a2V5Pm5hbWU8L2tl
	eT4KCQkJCTxzdHJpbmc+RW5jb2RpbmcgU3RyYXRlZ3k8L3N0cmluZz4KCQkJCTxrZXk+
	c3VtbWFyeTwva2V5PgoJCQkJPHN0cmluZz5UaGUgZW5jb2Rpbmcgc3RyYXRlZ3kgdXNl
	ZCBmb3IgdGhlIGJpdCBhbGxvY2F0aW9uPC9zdHJpbmc+CgkJCQk8a2V5PnZhbHVlIHR5
	cGU8L2tleT4KCQkJCTxpbnRlZ2VyPjIyPC9pbnRlZ2VyPgoJCQk8L2RpY3Q+CgkJCTxk
	aWN0PgoJCQkJPGtleT5CaXRSYXRlT2Zmc2V0PC9rZXk+CgkJCQk8aW50ZWdlcj4yPC9p
	bnRlZ2VyPgoJCQkJPGtleT5FeHBsaWNpdFZhbHVlPC9rZXk+CgkJCQk8aW50ZWdlcj4x
	MjgwMDA8L2ludGVnZXI+CgkJCQk8a2V5PmF2YWlsYWJsZSB2YWx1ZXM8L2tleT4KCQkJ
	CTxhcnJheT4KCQkJCQk8c3RyaW5nPlJlY29tbWVuZGVkPC9zdHJpbmc+CgkJCQkJPHN0
	cmluZz4xNjwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+MjA8L3N0cmluZz4KCQkJCQk8c3Ry
	aW5nPjI0PC9zdHJpbmc+CgkJCQkJPHN0cmluZz4yODwvc3RyaW5nPgoJCQkJCTxzdHJp
	bmc+MzI8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjQwPC9zdHJpbmc+CgkJCQkJPHN0cmlu
	Zz40ODwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+NTY8L3N0cmluZz4KCQkJCQk8c3RyaW5n
	PjY0PC9zdHJpbmc+CgkJCQkJPHN0cmluZz43Mjwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+
	ODA8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjk2PC9zdHJpbmc+CgkJCQkJPHN0cmluZz4x
	MTI8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjEyODwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+
	MTQ0PC9zdHJpbmc+CgkJCQkJPHN0cmluZz4xNjA8L3N0cmluZz4KCQkJCQk8c3RyaW5n
	PjE5Mjwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+MjI0PC9zdHJpbmc+CgkJCQkJPHN0cmlu
	Zz4yNTY8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjI4ODwvc3RyaW5nPgoJCQkJCTxzdHJp
	bmc+MzIwPC9zdHJpbmc+CgkJCQk8L2FycmF5PgoJCQkJPGtleT5jdXJyZW50IHZhbHVl
	PC9rZXk+CgkJCQk8aW50ZWdlcj4xNDwvaW50ZWdlcj4KCQkJCTxrZXk+aGludDwva2V5
	PgoJCQkJPGludGVnZXI+NDwvaW50ZWdlcj4KCQkJCTxrZXk+a2V5PC9rZXk+CgkJCQk8
	c3RyaW5nPkJpdCBSYXRlPC9zdHJpbmc+CgkJCQk8a2V5PmxpbWl0ZWQgdmFsdWVzPC9r
	ZXk+CgkJCQk8YXJyYXk+CgkJCQkJPHN0cmluZz5SZWNvbW1lbmRlZDwvc3RyaW5nPgoJ
	CQkJCTxzdHJpbmc+NjQ8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjcyPC9zdHJpbmc+CgkJ
	CQkJPHN0cmluZz44MDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+OTY8L3N0cmluZz4KCQkJ
	CQk8c3RyaW5nPjExMjwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+MTI4PC9zdHJpbmc+CgkJ
	CQkJPHN0cmluZz4xNDQ8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjE2MDwvc3RyaW5nPgoJ
	CQkJCTxzdHJpbmc+MTkyPC9zdHJpbmc+CgkJCQkJPHN0cmluZz4yMjQ8L3N0cmluZz4K
	CQkJCQk8c3RyaW5nPjI1Njwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+Mjg4PC9zdHJpbmc+
	CgkJCQkJPHN0cmluZz4zMjA8L3N0cmluZz4KCQkJCTwvYXJyYXk+CgkJCQk8a2V5Pm5h
	bWU8L2tleT4KCQkJCTxzdHJpbmc+VGFyZ2V0IEJpdCBSYXRlPC9zdHJpbmc+CgkJCQk8
	a2V5PnN1bW1hcnk8L2tleT4KCQkJCTxzdHJpbmc+RW5jb2Rpbmcgd2l0aCBhIGxvbmct
	dGVybSBhdmVyYWdlIGJpdCByYXRlPC9zdHJpbmc+CgkJCQk8a2V5PnVuaXQ8L2tleT4K
	CQkJCTxzdHJpbmc+a2Jwczwvc3RyaW5nPgoJCQkJPGtleT52YWx1ZSB0eXBlPC9rZXk+
	CgkJCQk8aW50ZWdlcj4yMjwvaW50ZWdlcj4KCQkJPC9kaWN0PgoJCQk8ZGljdD4KCQkJ
	CTxrZXk+RXhwbGljaXRWYWx1ZTwva2V5PgoJCQkJPGludGVnZXI+NjQ8L2ludGVnZXI+
	CgkJCQk8a2V5PmF2YWlsYWJsZSB2YWx1ZXM8L2tleT4KCQkJCTxhcnJheT4KCQkJCQk8
	c3RyaW5nPkdvb2Q8L3N0cmluZz4KCQkJCQk8c3RyaW5nPkJldHRlcjwvc3RyaW5nPgoJ
	CQkJCTxzdHJpbmc+QmVzdDwvc3RyaW5nPgoJCQkJPC9hcnJheT4KCQkJCTxrZXk+Y3Vy
	cmVudCB2YWx1ZTwva2V5PgoJCQkJPGludGVnZXI+MTwvaW50ZWdlcj4KCQkJCTxrZXk+
	aGludDwva2V5PgoJCQkJPGludGVnZXI+MTwvaW50ZWdlcj4KCQkJCTxrZXk+a2V5PC9r
	ZXk+CgkJCQk8c3RyaW5nPlF1YWxpdHk8L3N0cmluZz4KCQkJCTxrZXk+bmFtZTwva2V5
	PgoJCQkJPHN0cmluZz5RdWFsaXR5PC9zdHJpbmc+CgkJCQk8a2V5PnN1bW1hcnk8L2tl
	eT4KCQkJCTxzdHJpbmc+VGhlIHF1YWxpdHkgb2YgdGhlIGVuY29kZWQgQUFDIGJpdHN0
	cmVhbTwvc3RyaW5nPgoJCQkJPGtleT52YWx1ZSB0eXBlPC9rZXk+CgkJCQk8aW50ZWdl
	cj4yMjwvaW50ZWdlcj4KCQkJPC9kaWN0PgoJCTwvYXJyYXk+CgkJPGtleT52ZXJzaW9u
	PC9rZXk+CgkJPGludGVnZXI+MTwvaW50ZWdlcj4KCTwvZGljdD4KPC9hcnJheT4KPC9w
	bGlzdD4KAAAAIGNsYXkAAAABAAAAAAAAAAAAZQACAAAAAAAAAAAAAAAVcmVjbwAAAAEA
	AAAAAAAAAAAAAAAYcWx0eQAAAAEAAAAAAAAAAAAAAH8AAAAcdmVycwAAAAEAAAAAAAAA
	AAADABUAAQAAAAAAGHNzY3QAAAABAAAAAAAAAABtcDRhAAAAGHNzcnQAAAABAAAAAAAA
	AACsRAAAAAAAFnNzc3MAAAABAAAAAAAAAAAAEAAAABZzc2NjAAAAAQAAAAAAAAAAAAIA
	AABnY2RlYwAAAAEAAAAAAAAAAAAAAAxmcm1hbXA0YQAAAAxtcDRhAAAAAAAAADNlc2Rz
	AAAAAAOAgIAiAAAABICAgBRAFQAYAAAB9AAAAfQABYCAgAISEAaAgIABAgAAAAgAAAAA
	AAAAHHZlcnMAAAABAAAAAAAAAAAAAwAUAAEAAAAAABVlbnZpAAAAAQAAAAAAAAAAAQAA
	ABVlbnNvAAAAAQAAAAAAAAAAAQAAAD9zYXZlAAAAAQAAAAIAAAAAAAAAFWZhc3QAAAAB
	AAAAAAAAAAAAAAAAFnNzdHkAAAABAAAAAAAAAAAAAQ==
	</data>
	<key>componentManufacturer</key>
	<string>appl</string>
	<key>componentSubtype</key>
	<string>MooV</string>
	<key>componentType</key>
	<string>spit</string>
	<key>enableAudioTracks</key>
	<true/>
	<key>enableVideoTracks</key>
	<true/>
</dict>
</plist>
