<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>ServerApp</string>
	<key>BuildVersion</key>
	<string>4</string>
	<key>CFBundleShortVersionString</key>
	<string>10.9.0</string>
	<key>CFBundleVersion</key>
	<string>764</string>
	<key>ProductBuildVersion</key>
	<string>16S4128</string>
	<key>ProjectName</key>
	<string>ServerApp</string>
	<key>SourceVersion</key>
	<string>764000000000000</string>
</dict>
</plist>
