<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nibName</key>
		<string>OpenDirectoryAssistant</string>
		<key>bundleIdentifier</key>
		<string>com.apple.ServerAdmin.DirectoryServices</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>OpenDirectoryAssistant.OpenDirectoryAssistantChooseRolePage</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>OpenDirectoryAssistant.OpenDirectoryAssistantMasterOrPromotion</string>
		<key>grouping</key>
		<true/>
		<key>enabled</key>
		<dict>
			<key>role</key>
			<integer>1</integer>
		</dict>
		<key>children</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>OpenDirectoryAssistant.OpenDirectoryAssistantMasterDNSWarningPage</string>
				<key>enabled</key>
				<dict>
					<key>openDirectoryConfiguration.canKerberize</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>identifier</key>
				<string>OpenDirectoryAssistant.OpenDirectoryAssistantMaster</string>
				<key>grouping</key>
				<true/>
				<key>enabled</key>
				<dict>
					<key>previousRoleIsReplica</key>
					<false/>
				</dict>
				<key>children</key>
				<array>
					<dict>
						<key>identifier</key>
						<string>OpenDirectoryAssistant.OpenDirectoryAssistantMasterDirectoryAdministratorPage</string>
					</dict>
					<dict>
						<key>identifier</key>
						<string>OpenDirectoryAssistant.OpenDirectoryAssistantMasterDomainInfoPage</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>identifier</key>
				<string>OpenDirectoryAssistant.OpenDirectoryAssistantPromoteReplicaToMasterPage</string>
				<key>enabled</key>
				<dict>
					<key>previousRoleIsReplica</key>
					<true/>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>identifier</key>
		<string>OpenDirectoryAssistant.OpenDirectoryAssistantReplicaCreationPage</string>
		<key>enabled</key>
		<dict>
			<key>role</key>
			<integer>2</integer>
		</dict>
	</dict>
	<dict>
		<key>identifier</key>
		<string>OpenDirectoryAssistant.OpenDirectoryAssistantReplicaDecomission</string>
		<key>grouping</key>
		<true/>
		<key>enabled</key>
		<dict>
			<key>previousRoleIsReplica</key>
			<true/>
		</dict>
		<key>children</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>OpenDirectoryAssistant.OpenDirectoryAssistantReplicaDecommissionPage</string>
				<key>enabled</key>
				<dict>
					<key>role</key>
					<integer>3</integer>
				</dict>
			</dict>
			<dict>
				<key>identifier</key>
				<string>OpenDirectoryAssistant.OpenDirectoryAssistantReplicaDecommissionPage</string>
				<key>enabled</key>
				<dict>
					<key>role</key>
					<integer>4</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>identifier</key>
		<string>OpenDirectoryAssistant.OpenDirectoryAssistantConfirmPage</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>OpenDirectoryAssistant.OpenDirectoryAssistantReplicaCreationProgressPage</string>
		<key>enabled</key>
		<dict>
			<key>role</key>
			<integer>2</integer>
		</dict>
	</dict>
	<dict>
		<key>identifier</key>
		<string>OpenDirectoryAssistant.OpenDirectoryAssistantSummaryPage</string>
	</dict>
</array>
</plist>
