<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rules</key>
	<array>
		<dict>
			<key>_id_</key>
			<string>1000</string>
			<key>action</key>
			<string>allow</string>
			<key>destination</key>
			<string>any via lo0</string>
			<key>enableLocked</key>
			<true/>
			<key>enabled</key>
			<true/>
			<key>log</key>
			<false/>
			<key>protocol</key>
			<string>all</string>
			<key>readOnly</key>
			<true/>
			<key>rule</key>
			<string>allow ip from any to any via lo0</string>
			<key>source</key>
			<string>any</string>
			<key>source-port</key>
			<string></string>
		</dict>
		<dict>
			<key>_id_</key>
			<string>1</string>
			<key>action</key>
			<string>allow</string>
			<key>dest-port</key>
			<string>626</string>
			<key>destination</key>
			<string>any</string>
			<key>enableLocked</key>
			<true/>
			<key>enabled</key>
			<true/>
			<key>log</key>
			<false/>
			<key>protocol</key>
			<string>udp</string>
			<key>readOnly</key>
			<true/>
			<key>rule</key>
			<string>allow udp from any 626 to any 626</string>
			<key>source</key>
			<string>any</string>
			<key>source-port</key>
			<string>626</string>
		</dict>
		<dict>
			<key>_id_</key>
			<string>1010</string>
			<key>action</key>
			<string>deny</string>
			<key>dest-port</key>
			<string></string>
			<key>destination</key>
			<string>127.0.0.0/8</string>
			<key>enabled</key>
			<true/>
			<key>log</key>
			<false/>
			<key>protocol</key>
			<string>all</string>
			<key>rule</key>
			<string>deny ip from any to 127.0.0.1/8</string>
			<key>source</key>
			<string>any</string>
			<key>source-port</key>
			<string></string>
		</dict>
		<dict>
			<key>_id_</key>
			<string>1020</string>
			<key>action</key>
			<string>deny</string>
			<key>dest-port</key>
			<string></string>
			<key>destination</key>
			<string>any in</string>
			<key>enabled</key>
			<true/>
			<key>log</key>
			<false/>
			<key>protocol</key>
			<string>ip</string>
			<key>rule</key>
			<string>deny ip from 224.0.0.0/4 to any in</string>
			<key>source</key>
			<string>224.0.0.0/4</string>
			<key>source-port</key>
			<string></string>
		</dict>
		<dict>
			<key>_id_</key>
			<string>1030</string>
			<key>action</key>
			<string>deny</string>
			<key>dest-port</key>
			<string></string>
			<key>destination</key>
			<string>224.0.0.0/4 in</string>
			<key>enabled</key>
			<true/>
			<key>log</key>
			<false/>
			<key>protocol</key>
			<string>tcp</string>
			<key>rule</key>
			<string>deny tcp from any to 224.0.0.0/4 in</string>
			<key>source</key>
			<string>any</string>
			<key>source-port</key>
			<string></string>
		</dict>
		<dict>
			<key>_id_</key>
			<string>65000</string>
			<key>action</key>
			<string>deny</string>
			<key>destination</key>
			<string>any in setup</string>
			<key>enabled</key>
			<false/>
			<key>log</key>
			<false/>
			<key>protocol</key>
			<string>tcp</string>
			<key>readOnly</key>
			<true/>
			<key>rule</key>
			<string>deny tcp from any to any in setup</string>
			<key>source</key>
			<string>any</string>
			<key>source-port</key>
			<string></string>
		</dict>
		<dict>
			<key>_id_</key>
			<string>65001</string>
			<key>action</key>
			<string>deny</string>
			<key>destination</key>
			<string>any in</string>
			<key>enabled</key>
			<false/>
			<key>log</key>
			<false/>
			<key>protocol</key>
			<string>udp</string>
			<key>readOnly</key>
			<true/>
			<key>rule</key>
			<string>deny udp from any to any</string>
			<key>source</key>
			<string>any</string>
			<key>source-port</key>
			<string></string>
		</dict>
		<dict>
			<key>_id_</key>
			<string>63300</string>
			<key>action</key>
			<string>deny</string>
			<key>destination</key>
			<string>any in</string>
			<key>enabled</key>
			<false/>
			<key>log</key>
			<false/>
			<key>protocol</key>
			<string>igmp</string>
			<key>readOnly</key>
			<true/>
			<key>rule</key>
			<string>deny igmp from any to any in</string>
			<key>source</key>
			<string>any</string>
			<key>source-port</key>
			<string></string>
		</dict>
		<dict>
			<key>_id_</key>
			<string>63200</string>
			<key>action</key>
			<string>deny</string>
			<key>destination</key>
			<string>any in icmptypes 0,8</string>
			<key>enabled</key>
			<false/>
			<key>log</key>
			<false/>
			<key>protocol</key>
			<string>icmp</string>
			<key>readOnly</key>
			<true/>
			<key>rule</key>
			<string>deny icmp from any to any in icmptypes 0,8</string>
			<key>source</key>
			<string>any</string>
			<key>source-port</key>
			<string></string>
		</dict>
		<dict>
			<key>_id_</key>
			<string>65534</string>
			<key>action</key>
			<string>deny</string>
			<key>destination</key>
			<string>any</string>
			<key>enabled</key>
			<true/>
			<key>log</key>
			<false/>
			<key>protocol</key>
			<string>ip</string>
			<key>readOnly</key>
			<true/>
			<key>rule</key>
			<string>deny ip from any to any</string>
			<key>source</key>
			<string>any</string>
			<key>source-port</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
