<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>writeSettings</string>
	<key>configuration</key>
	<dict>
		<key>dsCredentials</key>
		<array>
			<dict/>
		</array>
		<key>sharePointRecord</key>
		<dict>
			<key>afpIsGuestAccessEnabled</key>
			<true/>
			<key>afpIsShared</key>
			<false/>
			<key>afpUseParentOwner</key>
			<false/>
			<key>automountFileSystemType</key>
			<integer>1</integer>
			<key>automountHasMount</key>
			<true/>
			<key>ftpIsGuestAccessEnabled</key>
			<true/>
			<key>ftpIsShared</key>
			<false/>
			<key>isIndexingEnabled</key>
			<true/>
			<key>isShared</key>
			<true/>
			<key>nfsExportRecord</key>
			<array>
				<dict>
					<key>clients</key>
					<array/>
					<key>isReadOnly</key>
					<false/>
					<key>mapAllUser</key>
					<string></string>
					<key>mapRootUser</key>
					<string>root</string>
					<key>networkMask</key>
					<string></string>
					<key>networkSubnet</key>
					<string></string>
					<key>securityMechanisms</key>
					<array>
						<string>sys</string>
					</array>
				</dict>
			</array>
			<key>smbCreateMask</key>
			<string>0644</string>
			<key>smbDirectoryMask</key>
			<string>0755</string>
			<key>smbInheritPermissions</key>
			<true/>
			<key>smbIsGuestAccessEnabled</key>
			<true/>
			<key>smbIsShared</key>
			<false/>
			<key>smbUseOplocks</key>
			<true/>
			<key>smbUseStrictLocking</key>
			<true/>
		</dict>
		<key>volumeQuotas</key>
		<dict>
			<key>grp</key>
			<array/>
			<key>usr</key>
			<array/>
		</dict>
	</dict>
	<key>optionalArguments</key>
	<dict/>
</dict>
</plist>
