<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nibName</key>
		<string>PodcastAssistant</string>
		<key>bundleIdentifier</key>
		<string>com.apple.ServerAdmin.Podcast</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>PodcastAssistant.PodcastAssistantIntroductionPage</string>
	</dict>
	<dict>
		<key>enabled</key>
		<false/>
		<key>identifier</key>
		<string>PodcastAssistant.PodcastAssistantRolePage</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>PodcastAssistant.HostRole</string>
		<key>grouping</key>
		<true/>
		<key>enabled</key>
		<dict>
			<key>roleTag</key>
			<integer>0</integer>
		</dict>
		<key>children</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>PodcastAssistant.PodcastAssistantExpressPage</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>PodcastAssistant.PodcastAssistantDirectoryPage</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>PodcastAssistant.ExpressSkip</string>
				<key>grouping</key>
				<true/>
				<key>enabled</key>
				<dict>
					<key>expressTag</key>
					<integer>1</integer>
				</dict>
				<key>children</key>
				<array>
					<dict>
						<key>identifier</key>
						<string>PodcastAssistant.PodcastAssistantAccountsPage</string>
					</dict>
					<dict>
						<key>identifier</key>
						<string>PodcastAssistant.PodcastAssistantLibraryPage</string>
					</dict>
					<dict>
						<key>identifier</key>
						<string>PodcastAssistant.PodcastAssistantMailPage</string>
						<key>enabled</key>
						<false/>
					</dict>
					<dict>
						<key>identifier</key>
						<string>PodcastAssistant.PodcastAssistantXgridPage</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>identifier</key>
				<string>PodcastAssistant.PodcastAssistantPodcastPage</string>
				<key>enabled</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>identifier</key>
		<string>PodcastAssistant.JoinRole</string>
		<key>grouping</key>
		<true/>
		<key>enabled</key>
		<dict>
			<key>roleTag</key>
			<integer>1</integer>
		</dict>
		<key>children</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>PodcastAssistant.PodcastAssistantJoinPage</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>PodcastAssistant.PodcastAssistantJoinDirectoryPage</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>identifier</key>
		<string>PodcastAssistant.PodcastAssistantConfirmPage</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>PodcastAssistant.PodcastAssistantSummaryPage</string>
	</dict>
</array>
</plist>
