<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>writeSettings</string>
	<key>configuration</key>
	<dict>
		<key>Servers</key>
		<dict>
			<key>com.apple.site2site</key>
			<dict>
				<key>IPSec</key>
				<dict>
					<key>LocalAddress</key>
					<string></string>
					<key>LocalCertificate</key>
					<data>
					</data>
					<key>Policies</key>
					<array>
						<dict>
							<key>Level</key>
							<string>Require</string>
							<key>Mode</key>
							<string>Tunnel</string>
							<key>Direction</key>
							<string>InOut</string>							
							<key>LocalAddress</key>
							<string></string>
							<key>LocalPrefix</key>
							<integer>0</integer>
							<key>RemoteAddress</key>
							<string></string>
							<key>RemotePrefix</key>
							<integer>0</integer>
							<key>CompressionAlgorithm</key>
							<array>
								<string>Deflate</string>
							</array>
							<key>EncryptionAlgorithm</key>
							<array>
								<string>AES</string>
							</array>
							<key>HashAlgorithm</key>
							<array>
								<string>SHA1</string>
							</array>
							<key>Lifetime</key>
							<integer>3600</integer>
						</dict>
					</array>
					<key>Proposals</key>
					<array>
						<dict>
							<key>AuthenticationMethod</key>
							<string>SharedSecret</string>
							<key>DHGroup</key>
							<integer>2</integer>
							<key>EncryptionAlgorithm</key>
							<string>3DES</string>
							<key>HashAlgorithm</key>
							<string>MD5</string>
							<key>Lifetime</key>
							<integer>28800</integer>
						</dict>
					</array>
					<key>RemoteAddress</key>
					<string></string>
					<key>SharedSecretValue</key>
					<string></string>
				</dict>
				<key>_newid_</key>
				<string>com.apple.site2site</string>
				<key>enabled</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
