<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>SEConfigureNetworkAssistantIntroPage.SEConfigureNetworkAssistantIntroPage</string>
		<key>isNibOwner</key>
		<true/>
	</dict>
	<dict>
		<key>identifier</key>
		<string>SEConfigureNetworkAssistantFirewallBlockingDHCPPage.SEConfigureNetworkAssistantFirewallBlockingDHCPPage</string>
		<key>isNibOwner</key>
		<true/>
		<key>enabled</key>
		<dict>
			<key>isFirewallBlockingDHCPTraffic</key>
			<true/>
		</dict>
	</dict>
	<dict>
		<key>identifier</key>
		<string>SEConfigureNetworkAssistantDynamicIPPage.SEConfigureNetworkAssistantDynamicIPPage</string>
		<key>isNibOwner</key>
		<true/>
		<key>enabled</key>
		<dict>
			<key>isManagedAirPort</key>
			<false/>
			<key>isDynamicIPAddress</key>
			<true/>
		</dict>
	</dict>
	<dict>
		<key>identifier</key>
		<string>SEConfigureNetworkAssistantAirPortDHCPReservationPage.SEConfigureNetworkAssistantAirPortDHCPReservationPage</string>
		<key>isNibOwner</key>
		<true/>
		<key>enabled</key>
		<dict>
			<key>isDynamicIPAddress</key>
			<true/>
			<key>isManagedAirPort</key>
			<true/>
			<key>isDHCPReservation</key>
			<false/>
		</dict>
	</dict>
	<dict>
		<key>identifier</key>
		<string>SEConfigureNetworkAssistantMisconfiguredDNSPage.SEConfigureNetworkAssistantMisconfiguredDNSPage</string>
		<key>isNibOwner</key>
		<true/>
		<key>enabled</key>
		<dict>
			<key>isValidHostName</key>
			<true/>
			<key>hostNameResolves</key>
			<false/>
		</dict>
	</dict>
	<dict>
		<key>identifier</key>
		<string>SEConfigureNetworkAssistantMisconfiguredRouterForDNSPage.SEConfigureNetworkAssistantMisconfiguredRouterForDNSPage</string>
		<key>isNibOwner</key>
		<true/>
	</dict>
	<dict>
		<key>identifier</key>
		<string>SEConfigureNetworkAssistantMisconfiguredFirewallPage.SEConfigureNetworkAssistantMisconfiguredFirewallPage</string>
		<key>isNibOwner</key>
		<true/>
		<key>enabled</key>
		<dict>
			<key>isFirewallBlockingPrivateTraffic</key>
			<true/>
		</dict>
	</dict>
	<dict>
		<key>identifier</key>
		<string>SEConfigureNetworkAssistantConfirmPage.SEConfigureNetworkAssistantConfirmPage</string>
		<key>isNibOwner</key>
		<true/>
	</dict>
</array>
</plist>
