<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>SEDeviceManagementAssistantIntroPage.SEDeviceManagementAssistantIntroPage</string>
		<key>isNibOwner</key>
		<true/>
	</dict>
	<dict>
		<key>children</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>SEOpenDirectoryMasterAssistantIntroPage.SEOpenDirectoryMasterAssistantIntroPage</string>
				<key>isNibOwner</key>
				<true/>
			</dict>
			<dict>
				<key>identifier</key>
				<string>SEOpenDirectoryMasterAssistantAdminPage.SEOpenDirectoryMasterAssistantAdminPage</string>
				<key>isNibOwner</key>
				<true/>
			</dict>
			<dict>
				<key>enabled</key>
				<dict>
					<key>showOrganizationInfoPage</key>
					<true/>
				</dict>
				<key>identifier</key>
				<string>SEOpenDirectoryMasterAssistantOrganizationPage.SEOpenDirectoryMasterAssistantOrganizationPage</string>
				<key>isNibOwner</key>
				<true/>
			</dict>
			<dict>
				<key>identifier</key>
				<string>SEOpenDirectoryMasterAssistantConfirmPage.SEOpenDirectoryMasterAssistantConfirmPage</string>
				<key>isNibOwner</key>
				<true/>
			</dict>
		</array>
		<key>enabled</key>
		<dict>
			<key>showOpenDirectoryAssistant</key>
			<true/>
		</dict>
		<key>grouping</key>
		<true/>
		<key>identifier</key>
		<string>OpenDirectory</string>
	</dict>
	<dict>
		<key>enabled</key>
		<dict>
			<key>webServerUsingTrustedSSLCert</key>
			<false/>
		</dict>
		<key>identifier</key>
		<string>SEDeviceManagementAssistantConfigureSSLPage.SEDeviceManagementAssistantConfigureSSLPage</string>
		<key>isNibOwner</key>
		<true/>
	</dict>
	<dict>
		<key>enabled</key>
		<dict>
			<key>showAPNSPage</key>
			<true/>
		</dict>
		<key>identifier</key>
		<string>SEDeviceManagementAssistantAPNSPage.SEDeviceManagementAssistantAPNSPage</string>
		<key>isNibOwner</key>
		<true/>
	</dict>
	<dict>
		<key>identifier</key>
		<string>SEDeviceManagementAssistantConfirmPage.SEDeviceManagementAssistantConfirmPage</string>
		<key>isNibOwner</key>
		<true/>
	</dict>
</array>
</plist>
