<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>SESetupAssistantChooseServerPage.SESetupAssistantChooseServerPage</string>
		<key>isNibOwner</key>
		<true/>
		<key>enabled</key>
		<dict>
			<key>unknownSetupType</key>
			<true/>
		</dict>
	</dict>
	<dict>
		<key>identifier</key>
		<string>ClientPromotionWithWelcome</string>
		<key>grouping</key>
		<true/>
		<key>enabled</key>
		<dict>
			<key>setupType</key>
			<integer>5</integer>
		</dict>
		<key>children</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>SESetupAssistantWelcomePage.SESetupAssistantWelcomePage</string>
				<key>isNibOwner</key>
				<true/>
			</dict>
			<dict>
				<key>identifier</key>
				<string>SESetupAssistantOverviewPage.SESetupAssistantOverviewPage</string>
				<key>isNibOwner</key>
				<true/>
			</dict>
			<dict>
				<key>identifier</key>
				<string>SESetupAssistantDownloadUpdatePage.SESetupAssistantDownloadUpdatePage</string>
				<key>isNibOwner</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>identifier</key>
		<string>ClientPromotionWithoutWelcome</string>
		<key>grouping</key>
		<true/>
		<key>enabled</key>
		<dict>
			<key>setupType</key>
			<integer>4</integer>
		</dict>
		<key>children</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>SESetupAssistantOverviewPage.SESetupAssistantOverviewPage</string>
				<key>isNibOwner</key>
				<true/>
			</dict>
			<dict>
				<key>identifier</key>
				<string>SESetupAssistantDownloadUpdatePage.SESetupAssistantDownloadUpdatePage</string>
				<key>isNibOwner</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>identifier</key>
		<string>RemoteSetup</string>
		<key>grouping</key>
		<true/>
		<key>enabled</key>
		<dict>
			<key>setupType</key>
			<integer>2</integer>
		</dict>
		<key>children</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>SESetupAssistantRemoteConfigurationAuthenticationPage.SESetupAssistantRemoteConfigurationAuthenticationPage</string>
				<key>isNibOwner</key>
				<true/>
			</dict>
			<dict>
				<key>identifier</key>
				<string>SARegionPage.SARegionPage</string>
				<key>bundleIdentifier</key>
				<string>com.apple.ServerAssistant.Framework.Pages</string>
				<key>isNibOwner</key>
				<true/>
				<key>helpAnchor</key>
				<string>svrasst_rgn</string>
				<key>enabled</key>
				<dict>
					<key>isUpgrade</key>
					<false/>
				</dict>
			</dict>
			<dict>
				<key>identifier</key>
				<string>SAKeyboardPage.SARemoteKeyboardPage</string>
				<key>bundleIdentifier</key>
				<string>com.apple.ServerAssistant.Framework.Pages</string>
				<key>isNibOwner</key>
				<true/>
				<key>helpAnchor</key>
				<string>svrasst_kybd</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>CleanInstall</string>
				<key>grouping</key>
				<true/>
				<key>children</key>
				<array>
					<dict>
						<key>identifier</key>
						<string>SAMigrateChoicePage.SAMigrateChoicePage</string>
						<key>bundleIdentifier</key>
						<string>com.apple.ServerAssistant.Framework.Pages</string>
						<key>isNibOwner</key>
						<true/>
						<key>helpAnchor</key>
						<string>svrasst_xfr</string>
						<key>enabled</key>
						<dict>
							<key>haveRunMigration</key>
							<false/>
						</dict>
					</dict>
					<dict>
						<key>identifier</key>
						<string>Migration</string>
						<key>grouping</key>
						<true/>
						<key>children</key>
						<array>
							<dict>
								<key>identifier</key>
								<string>SAMigrateSourcePage.SAMigrateSourcePage</string>
								<key>bundleIdentifier</key>
								<string>com.apple.ServerAssistant.Framework.Pages</string>
								<key>isNibOwner</key>
								<true/>
								<key>helpAnchor</key>
								<string>svrasst_xfrvol</string>
								<key>enabled</key>
								<dict>
									<key>haveRunMigration</key>
									<false/>
								</dict>
							</dict>
							<dict>
								<key>identifier</key>
								<string>SASoftwareLicenseAgreementPage.SASoftwareLicenseAgreementPage</string>
								<key>bundleIdentifier</key>
								<string>com.apple.ServerAssistant.Framework.Pages</string>
								<key>isNibOwner</key>
								<true/>
							</dict>
							<dict>
								<key>identifier</key>
								<string>SAOrganizationPage.SAOrganizationPage</string>
								<key>bundleIdentifier</key>
								<string>com.apple.ServerAssistant.Framework.Pages</string>
								<key>isNibOwner</key>
								<true/>
								<key>helpAnchor</key>
								<string>apd6D1B601D-0BA4-4318-83C4-A9948EFD72AC</string>
							</dict>
							<dict>
								<key>identifier</key>
								<string>SAMigrateProgressPage.SAMigrateProgressPage</string>
								<key>bundleIdentifier</key>
								<string>com.apple.ServerAssistant.Framework.Pages</string>
								<key>isNibOwner</key>
								<true/>
								<key>helpAnchor</key>
								<string>svrasst_xfrinfo</string>
								<key>enabled</key>
								<dict>
									<key>haveRunMigration</key>
									<false/>
								</dict>
							</dict>
						</array>
						<key>enabled</key>
						<dict>
							<key>migratePath</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>identifier</key>
						<string>NonMigration</string>
						<key>grouping</key>
						<true/>
						<key>children</key>
						<array>
							<dict>
								<key>identifier</key>
								<string>SAAppleIDPage.SAAppleIDPage</string>
								<key>bundleIdentifier</key>
								<string>com.apple.ServerAssistant.Framework.Pages</string>
								<key>isNibOwner</key>
								<true/>
								<key>helpAnchor</key>
								<string>svrasst_appleid</string>
							</dict>
							<dict>
								<key>identifier</key>
								<string>SASoftwareLicenseAgreementPage.SASoftwareLicenseAgreementPage</string>
								<key>bundleIdentifier</key>
								<string>com.apple.ServerAssistant.Framework.Pages</string>
								<key>isNibOwner</key>
								<true/>
							</dict>
							<dict>
								<key>identifier</key>
								<string>SARegistrationPage.SARegistrationPage</string>
								<key>bundleIdentifier</key>
								<string>com.apple.ServerAssistant.Framework.Pages</string>
								<key>isNibOwner</key>
								<true/>
								<key>helpAnchor</key>
								<string>svrasst_prvcy</string>
							</dict>
							<dict>
								<key>identifier</key>
								<string>SAAdminAccountPage.SARemoteAdminAccountPage</string>
								<key>bundleIdentifier</key>
								<string>com.apple.ServerAssistant.Framework.Pages</string>
								<key>isNibOwner</key>
								<true/>
								<key>helpAnchor</key>
								<string>svrasst_admn</string>
							</dict>
							<dict>
								<key>identifier</key>
								<string>SAOrganizationPage.SAOrganizationPage</string>
								<key>bundleIdentifier</key>
								<string>com.apple.ServerAssistant.Framework.Pages</string>
								<key>isNibOwner</key>
								<true/>
								<key>helpAnchor</key>
								<string>apd6D1B601D-0BA4-4318-83C4-A9948EFD72AC</string>
							</dict>
							<dict>
								<key>identifier</key>
								<string>SATimeZonePage.SATimeZonePage</string>
								<key>bundleIdentifier</key>
								<string>com.apple.ServerAssistant.Framework.Pages</string>
								<key>isNibOwner</key>
								<true/>
								<key>helpAnchor</key>
								<string>svrasst_tmzn</string>
							</dict>
							<dict>
								<key>identifier</key>
								<string>SADateAndTimePage.SADateAndTimePage</string>
								<key>bundleIdentifier</key>
								<string>com.apple.ServerAssistant.Framework.Pages</string>
								<key>isNibOwner</key>
								<true/>
								<key>helpAnchor</key>
								<string>svrasst_dtim</string>
								<key>enabled</key>
								<dict>
									<key>ntpServer.length</key>
									<integer>0</integer>
								</dict>
							</dict>
							<dict>
								<key>identifier</key>
								<string>SAConfigureXsanPage.SAConfigureXsanPage</string>
								<key>bundleIdentifier</key>
								<string>com.apple.ServerAssistant.Framework.Pages</string>
								<key>isNibOwner</key>
								<true/>
								<key>helpAnchor</key>
								<string>svrasst_xsan</string>
								<key>enabled</key>
								<dict>
									<key>showXsan</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>identifier</key>
								<string>SAXsanControllerTypePage.SAXsanControllerTypePage</string>
								<key>bundleIdentifier</key>
								<string>com.apple.ServerAssistant.Framework.Pages</string>
								<key>isNibOwner</key>
								<true/>
								<key>helpAnchor</key>
								<string>svrasst_xsancontr</string>
								<key>enabled</key>
								<dict>
									<key>enableXsan</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>identifier</key>
								<string>EasyNetworkSetup</string>
								<key>grouping</key>
								<true/>
								<key>children</key>
								<array>
									<dict>
										<key>identifier</key>
										<string>SANetworkServicesPage.SARemoteNetworkServicesPage</string>
										<key>bundleIdentifier</key>
										<string>com.apple.ServerAssistant.Framework.Pages</string>
										<key>isNibOwner</key>
										<true/>
										<key>helpAnchor</key>
										<string>svrasst_netw</string>
										<key>enabled</key>
										<dict>
											<key>showChangeNetwork</key>
											<true/>
										</dict>
									</dict>
									<dict>
										<key>identifier</key>
										<string>SANoNetworkPage.SANoNetworkPage</string>
										<key>bundleIdentifier</key>
										<string>com.apple.ServerAssistant.Framework.Pages</string>
										<key>isNibOwner</key>
										<true/>
										<key>helpAnchor</key>
										<string>apd2080FB81-BDDD-47BF-B23C-28D546BD6A7D</string>
										<key>enabled</key>
										<dict>
											<key>detectedNoNetwork</key>
											<true/>
										</dict>
									</dict>
									<dict>
										<key>identifier</key>
										<string>SAMultipleNetworksPage.SAMultipleNetworksPage</string>
										<key>bundleIdentifier</key>
										<string>com.apple.ServerAssistant.Framework.Pages</string>
										<key>isNibOwner</key>
										<true/>
										<key>helpAnchor</key>
										<string>apd392D2F97-51B9-4B18-A895-888D513F1DFE</string>
										<key>enabled</key>
										<dict>
											<key>detectedMultipleNetworks</key>
											<true/>
											<key>showChangeNetwork</key>
											<false/>
										</dict>
									</dict>
									<dict>
										<key>identifier</key>
										<string>SAChooseHostNameTypePage.SAChooseHostNameTypePage</string>
										<key>bundleIdentifier</key>
										<string>com.apple.ServerAssistant.Framework.Pages</string>
										<key>isNibOwner</key>
										<true/>
										<key>helpAnchor</key>
										<string>apdC57F6CFB-4B8B-4A63-B59A-8D4BF4EB3BEC</string>
										<key>enabled</key>
										<dict>
											<key>detectedHostName</key>
											<false/>
										</dict>
									</dict>
									<dict>
										<key>identifier</key>
										<string>SAConnectingToYourMacPage.SAConnectingToYourMacPage</string>
										<key>bundleIdentifier</key>
										<string>com.apple.ServerAssistant.Framework.Pages</string>
										<key>isNibOwner</key>
										<true/>
										<key>helpAnchor</key>
										<string>apd19E2A330-F793-41F5-9C33-299593E4E290</string>
									</dict>
									<dict>
										<key>identifier</key>
										<string>SAAirPortManagementPage.SAAirPortManagementPage</string>
										<key>bundleIdentifier</key>
										<string>com.apple.ServerAssistant.Framework.Pages</string>
										<key>isNibOwner</key>
										<true/>
										<key>helpAnchor</key>
										<string>svrasst_airport</string>
										<key>enabled</key>
										<dict>
											<key>showAirPortManagementOption</key>
											<true/>
										</dict>
									</dict>
								</array>
							</dict>
							<dict>
								<key>identifier</key>
								<string>XsanDirectoryServices</string>
								<key>grouping</key>
								<true/>
								<key>children</key>
								<array>
									<dict>
										<key>identifier</key>
										<string>SAXsanDirectoryServicesPage.SAXsanDirectoryServicesPage</string>
										<key>bundleIdentifier</key>
										<string>com.apple.ServerAssistant.Framework.Pages</string>
										<key>isNibOwner</key>
										<true/>
										<key>helpAnchor</key>
										<string>svrasst_xsands</string>
										<key>enabled</key>
										<dict>
											<key>xsanControllerType</key>
											<string>PRIMARY_CONTROLLER</string>
										</dict>
									</dict>
									<dict>
										<key>identifier</key>
										<string>SAXsanBindToDirectoryPage.SAXsanBindToDirectoryPage</string>
										<key>bundleIdentifier</key>
										<string>com.apple.ServerAssistant.Framework.Pages</string>
										<key>isNibOwner</key>
										<true/>
										<key>helpAnchor</key>
										<string>svrasst_dirimprt</string>
										<key>enabled</key>
										<dict>
											<key>showBindToExternalDirectoryOption</key>
											<true/>
										</dict>
									</dict>
								</array>
								<key>enabled</key>
								<dict>
									<key>xsanController</key>
									<true/>
								</dict>
							</dict>
							<dict>
								<key>identifier</key>
								<string>SAReviewPage.SAReviewPage</string>
								<key>bundleIdentifier</key>
								<string>com.apple.ServerAssistant.Framework.Pages</string>
								<key>isNibOwner</key>
								<true/>
								<key>helpAnchor</key>
								<string>svrasst_rvw</string>
							</dict>
						</array>
						<key>enabled</key>
						<dict>
							<key>migratePath</key>
							<integer>0</integer>
						</dict>
					</dict>
				</array>
				<key>enabled</key>
				<dict>
					<key>isUpgrade</key>
					<false/>
				</dict>
			</dict>
			<dict>
				<key>identifier</key>
				<string>SAOrganizationPage.SAOrganizationPage</string>
				<key>bundleIdentifier</key>
				<string>com.apple.ServerAssistant.Framework.Pages</string>
				<key>isNibOwner</key>
				<true/>
				<key>helpAnchor</key>
				<string>apd6D1B601D-0BA4-4318-83C4-A9948EFD72AC</string>
				<key>enabled</key>
				<dict>
					<key>organizationPageFinished</key>
					<false/>
				</dict>
			</dict>
			<dict>
				<key>identifier</key>
				<string>SARemoteSetupPage.SARemoteSetupPage</string>
				<key>bundleIdentifier</key>
				<string>com.apple.ServerAssistant.Framework.Pages</string>
				<key>isNibOwner</key>
				<true/>
				<key>helpAnchor</key>
				<string>svrasst_config</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>identifier</key>
		<string>RemoteInstall</string>
		<key>grouping</key>
		<true/>
		<key>enabled</key>
		<dict>
			<key>setupType</key>
			<integer>3</integer>
		</dict>
		<key>children</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>SESetupAssistantRemoteConfigurationAuthenticationPage.SESetupAssistantRemoteConfigurationAuthenticationPage</string>
				<key>isNibOwner</key>
				<true/>
			</dict>
			<dict>
				<key>identifier</key>
				<string>SARemoteInstallLanguagePage.SARemoteInstallLanguagePage</string>
				<key>bundleIdentifier</key>
				<string>com.apple.ServerAssistant.Framework.Pages</string>
				<key>isNibOwner</key>
				<true/>
				<key>helpAnchor</key>
				<string>svrasst_lang</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>SALicenseAgreementPage.SARemoteInstallLicenseAgreementPage</string>
				<key>bundleIdentifier</key>
				<string>com.apple.ServerAssistant.Framework.Pages</string>
				<key>isNibOwner</key>
				<true/>
				<key>helpAnchor</key>
				<string>svrasst_lic</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>SARemoteInstallTargetVolumePage.SARemoteInstallTargetVolumePage</string>
				<key>bundleIdentifier</key>
				<string>com.apple.ServerAssistant.Framework.Pages</string>
				<key>isNibOwner</key>
				<true/>
				<key>helpAnchor</key>
				<string>svrasst_vol</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>SARemoteInstallProgressPage.SARemoteInstallProgressPage</string>
				<key>bundleIdentifier</key>
				<string>com.apple.ServerAssistant.Framework.Pages</string>
				<key>isNibOwner</key>
				<true/>
				<key>helpAnchor</key>
				<string>svrasst_inst</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>identifier</key>
		<string>SESetupAssistantDistributeServicesPage.SESetupAssistantDistributeServicesPage</string>
		<key>isNibOwner</key>
		<true/>
		<key>enabled</key>
		<dict>
			<key>assistantStartedToAddServer</key>
			<true/>
		</dict>
	</dict>
</array>
</plist>
