<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServiceName</key>
	<string>serverSettings</string>
	<key>BackupBinaryPath</key>
	<string>/Applications/Server.app/Contents/ServerRoot/usr/libexec/server_backup/serverSettings_backup</string>
	<key>BackupLog</key>
	<string>/private/var/log/server_backup/serverSettings_backup.log</string>
	<key>BackupActions</key>
	<dict>
		<key>Configuration</key>
		<string>configuration</string>
		<key>Data</key>
		<string>data</string>
		<key>Default</key>
		<string>all</string>
		<key>Size</key>
		<string>size</string>
		<key>Settings</key>
		<string>settings</string>
		<key>State</key>
		<string>state</string>
	</dict>
	<key>PreBackupServiceCommands</key>
	<array/>
	<key>PostBackupServiceCommands</key>
	<array/>
	<key>RestoreBinaryPath</key>
	<string>/Applications/Server.app/Contents/ServerRoot/usr/libexec/server_backup/serverSettings_restore</string>
	<key>RestoreLog</key>
	<string>/private/var/log/server_backup/serverSettings_restore.log</string>
	<key>RestoreActions</key>
	<dict>
		<key>Configuration</key>
		<string>configuration</string>
		<key>Data</key>
		<string>data</string>
		<key>Default</key>
		<string>all</string>
		<key>Browse</key>
		<string>browse</string>
		<key>Settings</key>
		<string>settings</string>
		<key>State</key>
		<string>state</string>
	</dict>
	<key>PreRestoreServiceCommands</key>
	<array/>
	<key>PostRestoreServiceCommands</key>
	<array/>
	<key>VerifyBinaryPath</key>
	<string>/Applications/Server.app/Contents/ServerRoot/usr/libexec/server_backup/serverSettings_verify</string>
	<key>VerifyLog</key>
	<string>/private/var/log/server_backup/serverSettings_verify.log</string>
	<key>VerifyActions</key>
	<dict>
		<key>Configuration</key>
		<string>configuration</string>
		<key>Default</key>
		<string>all</string>
		<key>Settings</key>
		<string>settings</string>
		<key>State</key>
		<string>state</string>
	</dict>
	<key>BrowseActions</key>
	<dict>
		<key>Default</key>
		<string>all</string>
		<key>Settings</key>
		<string>settings</string>
		<key>State</key>
		<string>state</string>
	</dict>
	<key>ConfigurationFiles</key>
	<array/>
	<key>DataFiles</key>
	<array/>
	<key>ExclusionPaths</key>
	<array/>
	<key>Version</key>
	<string>10.9</string>
</dict>
</plist>
