html, body{
margin:0;
padding:0;
font-family:"Lucida Grande", LucidaGrande, Lucida, "Helvetica Neue", helvetica, arial, sans-serif;
color:#333;
background:#dadada url(bg_body.gif) 0 0 repeat-x;
}

a:link{
text-decoration:none;
color:#125bcf;
}

a:visited{
text-decoration:none;
color:#636;
}

a:link:hover, a:visited:hover, a:link:active, a:visited:active, a:focus{
text-decoration:underline;
}

h1, h2, h3, h4, h5, h6{
margin:0.3em 0 0.2em;
padding:0;
color:#4d4d4d;
font-weight:500;
}

.body{
font-size:0.76em;
margin:0;
padding:0;
text-align:center; 
}

.contentsheader, .main, .contentsfooter{
text-align:left; 
margin:0 auto;
min-width:40em; 
padding:0;
margin-left: 20px;
margin-right: 20px;
}

.pagecontent{
margin:0;
padding:15px 36px;
border:solid 2px #a9a9a9;
border-radius:6px;
-webkit-border-radius:6px;
-khtml-border-radius:6px;
color:#333;
background:#fff url(bg_pagecontent.gif) 50% 0 repeat-x;
}

.header{
color:#fff;
background:#3772bc url(bg_header.gif);
margin:0;
padding:0;
height: 39px;
border-bottom:solid 2px #214471;
}
.header a:link, .header a:visited{
color:#fff;
text-decoration:none;
}
#search_query{
float:right;
font-size:1em;
border:solid 1px #929292;
margin:0 37px 0 0;
padding:0.1em 0.2em;
}
#tags_button{
display:block;
float:right;
margin-right:1em;
}
.mainnav{
clear:both;
float:none;
}
.mainnav:after{ 
clear:both;
content:"";
display:block;
height:0;
overflow:hidden;
visibility:hidden;
}
#group_title{
padding-top:5px;
color:inherit;
display:block;
font-size:2.25em;
float:left;
margin:0;
font-weight:bold;
}
.webapptoolbar{
font-size:1.3em;
display:block;
text-align:right;
list-style-type:none;
margin:0 -0.5em 0 0;
padding:40px 37px 0.25em 1em;
}
.webapptoolbar li{
display:inline;
list-style-type:none;
margin:0;
padding:0;
}
.webapptoolbar a{
border-radius:0.5em;
-webkit-border-radius:0.5em;
-khtml-border-radius:0.5em;
margin:0 0 0 0.2em;
padding:0.3em 0.5em;
}
.webapptoolbar a.selected, .webapptoolbar a:hover, .webapptoolbar a:active, .webapptoolbar a:focus{
background-color:#7ba1d2;
}
.historycontainer{
margin-right:-35px;
}
div.splitter{
margin-left:-37px;
margin-right:-37px;
}
body {
margin-bottom:3.5em; 
}
.footer{
position:fixed;
z-index:3;
left:0;
bottom:0;
width:100%;
margin:0;
padding:10px 0;
font-size:0.9em;
color:#dbe1ec;
background:#43639c url(bg_footer.gif) 0 0 repeat-x;
border-top:solid 2px #214471;
}
.footer a:link, .footer a:visited{
color:#fff;
}
.contentsfooter{
text-align:center;
}
.contentsfooter div{
display:inline;
padding:0 2.3em 0 2em;
border-right:solid 1px #fff;
}
#help_button{
border-right:0;
}
div.page_footer_appversion{
display:none;
}
.entry{
border-top:solid 1px #ccc;
padding-top:0.6em;
margin-bottom:1.2em;
}
.entry:after{
clear:both;
content:"";
display:block;
height:0;
overflow:hidden;
visibility:hidden;
}
.metadata{
padding:10px 0 0;
}
.entry_title{
font-size:1.3em;
padding:0;
margin:0 0 3px 0;
}
div.summary p{
margin:0.4em 0 0.2em 41px;
font-size:0.9em;
}
p.entry_listing_comments{
font-size:0.8em;
margin:0.1em 0;
float:right;
}
#document_title{
font-size:2em;
}
#document_title_field{
width:450px;
font-size:1em;
border:solid 1px #ccc;
}
.sidebar .module ul{
margin:0 0 1em;
padding:0;
}
.sidebar .module li{
display:block;
list-style:none;
margin:0;
padding:2px 0 0;
}
.sidebar .module a:link, .sidebar .module a:visited{
margin-top:1px;
display:block;
line-height:1.2em;
font-weight:bold;
}
.grouphome .snippet{
font-size:0.9em;
display:block;
padding-bottom:4px;
padding-top:2px;
}
#content_extras_column{
color:#666;
background-color:#f9f9f9;
border:solid 1px #b2b2b2;
border-radius:6px;
-webkit-border-radius:6px;
-khtml-border-radius:6px;
margin:0;
padding:10px 20px;
}
.sidebar .module h3{
border-bottom:solid 1px #b2b2b2;
margin:0.5em 0 0.3em;
padding:0 0 0.1em;
}
.sidebar .module ul{
margin:0.3em 0 1em;
padding:0;
}
.sidebar .module li{
display:block;
list-style:none;
margin:0;
}
.sidebar .module .snippet{
display:none;
}
.tags{
height:1.6em;
padding:0.8em 37px 0.8em;
}
html>body .tags{
height:auto;
min-height:1.6em;
}
.tags h3{
display:block;
float:left;
margin:0;
padding:0.1em 0.15em 0 0.15em;
}
.taglist a:link, .taglist a:visited{
color:#125bcf;
margin:0;
padding:0.1em 0.2em 0.1em 0.3em;
}
.taglist li.inlinedeletefocus{
color:#fff;
background-color:#666;
}
.taglist li.inlinedeletefocus a, .taglist li.inlinedeletefocus a:link, .taglist li.inlinedeletefocus a:link:hover, .taglist li.inlinedeletefocus a:visited:hover, .taglist li.inlinedeletefocus a:visited:active .taglist li.inlinedeletefocus a:focus{
color:#fff;
text-decoration:none;
}
.taglist a:after{
content:',';
color:#666;
}
.taglist li:last-child a:after{
display:none;
}
.tags input.text{
border:solid 1px #999;
border-radius:0.7em;
-webkit-border-radius:0.7em;
-khtml-border-radius:0.7em;
}
.tooltip{
position:absolute;
z-index:502;
top:10px;
left:10px;
background:#fff6ab;
color:#212121;
border:solid 1px #929292;
display:inline-table;
font-size:0.7em;
text-align:left;
padding:5px 10px 10px;
opacity:0.9;
}
.tooltip h2{
color:#333;
font-size:1.3em;
margin:0.3em 0.5em 0.1em;
}
.tooltip h4{
font-size:0.7em;
margin:0 0.5em 0.6em;
}
.tooltip p{
margin:0.4em 0.5em 0.6em;
max-width:400px;
}
.tooltip table, .tooltip th, .tooltip td{
font-size:1em;
}
.tooltip table{
margin-top:0.2em;
margin-right:6px;
margin-left:16px;
}
.tooltip th{
color:#929292;
font-weight:bold;
text-align:right;
}
.toolbar{
margin-top:1.6em; 
margin-bottom:2em;
}
.tbtoolbar{
color:#333;
background-color:#fff;
border:solid 2px #ccc;
border-radius:15px;
-webkit-border-radius:15px;
-khtml-border-radius:15px;
margin:0 0 5px;
}
.tbtoolbar input{
font-size:1em;
padding-left:0.3em;
border-color:#fff;
border-radius:0.7em 0.6em;
-webkit-border-radius:0.7em 0.6em;
-khtml-border-radius:0.7em 0.6em;
}
ul.tbactions{
margin-right:15px;
}
span.forecolor_example_container{
background-color:#fff;
display:block;
float:left;
margin-right:3px;
}
span.forecolor_example{
display:block;
width:12px;
height:12px;
float:left;
font-size:10px;
border:1px solid #dcdcdc;
text-align:center;
}
#save_page_extras{
font-size:0.7em;
color:#fff;
background:#333;
background:rgba(0, 0, 0, 0.8);
position:absolute;
top:0;
left:0;
z-index:504;
padding:8px;
border-radius:6px;
-webkit-border-radius:6px;
-khtml-border-radius:6px;
}
#save_page_extras th{
color:#fff;
}
#save_page_comment{
width:14em;
}
.calendar_nav_footer {
background:#eef1f4;
}
.calendar_nav_footer a:link, .calendar_nav_footer a:visited {
color:#7f7f7f;
}
#calendar_nav_date_picker {
}
.calendar_appointment {
background:#c9e4ff;
}
.calendar_month_view li.month_view_appointment {
color:#742b25;
}
table.data{
clear:both; 
color:#666;
background-color:transparent;
border-spacing:0;
border-collapse:collapse;
font-size:1em;
border-style:solid;
border-width:0 1px 1px 0;
border-color:#ddd;
width:99.5%; 
margin:1px; 
padding:0;
}
.data th, .data td{
font-size:1em;
font-weight:normal;
border-style:solid;
border-width:1px 0 0 1px;
border-color:#ddd;
color:#333;
background-color:transparent;
text-align:left;
vertical-align:top;
margin:0;
padding:2px 4px 3px;
}
.data th{
background-color:#eee;
}
.showcommentformlink:link, .showcommentformlink:visited{
color:inherit;
text-decoration:none;
}
.showcommentformlink:hover, .showcommentformlink:active, .showcommentformlink:focus{
text-decoration:underline;
}
.comments{
margin-top:3em;
}
.comment{
position:relative;
margin:1.5em 0 0.5em;
padding:0;
border:solid 1px #ccc;
}
.comment h4{
position:relative; 
font-size:1em;
min-height:1em;
margin:0 0 0.2em 0;
padding:3px 7px 4px;
border-bottom:solid 1px #ccc;
background-color:#eee;
}
.comment h4:after{ 
clear:both;
content:"";
display:block;
height:0;
overflow:hidden;
visibility:hidden;
}
.comment img.icon{
position:absolute;
display:block;
bottom:-42px;
left:7px;
}
.comment h4 a, .comment h4 a:link, .comment h4 a:visited{
font-weight:bold;
float:left;
}
.comment .extras{
float:right;
}
.comment h4 span{ 
font-size:0.9em;
}
.commentbody{
min-height:32px; 
padding:7px;
}
.comment p{
margin:0 0 0.8em 40px;
}
.comments form, .showcomments{
display:block;
margin:1em 0 0;
padding:0.5em 0 0;
border-top:solid 1px #cccc;
}
.comments form .submit{
}
.comments label, .comments .label{
display:block;
margin:0.6em 0 0.2em;
}
.comments input.text, .comments textarea{
border:solid 1px #999;
font-size:1em;
font-family:inherit;
width:99.9%;
}
h1 a.toc_anchor, h2 a.toc_anchor, h3 a.toc_anchor, h4 a.toc_anchor, h5 a.toc_anchor, h6 a.toc_anchor{
color:#676767;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{
text-decoration:none;
color:#676767;
}
.toc{
border-bottom:2px inset #efefef;
}
.toc ul{
padding-left:16px;
list-style:none;
font-size:1em;
line-height:1.2em;
}
table.thumbnail{
border:solid 1px #929292;
color:#777777;
font-size:10px;
}
.thumbnail img{
cursor:pointer;
}
div.fullsize_link{
float:right;
width:15px;
height:11px;
background:url(/collaboration/images/magnify-clip.png) no-repeat;
display:inline;
cursor:pointer;
}
img.fullsize{
position:absolute;
z-index:504;
background-color:#fff;
border:solid 1px #929292;
padding:4px;
cursor:pointer;
}
body.weblogEntries .entry {
border-top:solid 1px #ccc;
border-top:1px solid #dedede;
margin-bottom: 1.2em;
}
body.weblogEntries div.summary p {
margin-left:0;
}
body.personalWeblogEntries .columnprimary{
padding:10px 0;
width:67%; 
float:left;
}
body.personalWeblogEntries .columnsecondary{
display:block;
padding:10px 0;
width:30%; 
float:right; 
}

