<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Read</string>
		<key>attrmaskname</key>
		<string>ag_Read</string>
		<key>attrmask</key>
		<integer>2698</integer>
		<key>children</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>Write</string>
		<key>attrmaskname</key>
		<string>ag_Write</string>
		<key>attrmask</key>
		<integer>1332</integer>
		<key>children</key>
		<array/>
	</dict>
</array>
</plist>