<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IPFirewall</string>
	<key>CFBundleGetInfoString</key>
	<string>10.6, © Copyright 2003-2008 Apple Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ServerAdmin.IPFirewall</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Firewall</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>144</string>
	<key>NSMainNibFile</key>
	<string>IPFirewall</string>
	<key>NSPrincipalClass</key>
	<string>IPFirewall</string>
	<key>ServerManagerDaemonCommand</key>
	<string>servermgr_ipfilter</string>
</dict>
</plist>
