<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlertUserWhenMinorError</key>
	<string>YES</string>
	<key>AlertUserWhenProblem</key>
	<string>YES</string>
	<key>AutoExpandNewItem</key>
	<string>YES</string>
	<key>AutoRefreshPeriod</key>
	<string>60</string>
	<key>CaseSensitiveTransactionsLogSearch</key>
	<string>NO</string>
	<key>ForceValidCertificate</key>
	<string>NO</string>
	<key>IgnoreRWSettingsVersion</key>
	<string>NO</string>
	<key>KeepPasswordsInRAM</key>
	<string>NO</string>
	<key>MaxDSUGRecords</key>
	<string>100</string>
	<key>MaxWindows</key>
	<string>128</string>
	<key>ResolveIPAddresses</key>
	<string>YES</string>
	<key>SavePasswordsToKeychain</key>
	<string>YES</string>
	<key>SaveServerList</key>
	<string>YES</string>
	<key>ShowBottomTabViews</key>
	<string>NO</string>
	<key>ShowBrowser</key>
	<string>NO</string>
	<key>ShowGroups</key>
	<string>YES</string>
	<key>ShowServiceState</key>
	<string>1</string>
	<key>ShowSystemAccounts</key>
	<string>NO</string>
	<key>TryToAutoLogin</key>
	<string>NO</string>
	<key>UseButtonBar</key>
	<string>NO</string>
	<key>UseCFNLock</key>
	<string>YES</string>
	<key>UseDebugMenu</key>
	<string>NO</string>
	<key>UseSecureConnection</key>
	<string>YES</string>
	<key>UseServerName</key>
	<string>NO</string>
	<key>UseTexturedWindows</key>
	<string>NO</string>
	<key>ShowAlertsForStandardConfig</key>
	<string>YES</string>
</dict>
</plist>
