<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>3</string>
	<key>CFBundleShortVersionString</key>
	<string>10.7.3</string>
	<key>CFBundleVersion</key>
	<string>52.8</string>
	<key>ProjectName</key>
	<string>ServerApp</string>
	<key>SourceVersion</key>
	<string>52008000000000</string>
</dict>
</plist>
