<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>1067</string>
	<key>CFBundleShortVersionString</key>
	<string>93</string>
	<key>CFBundleVersion</key>
	<string>10.8.93</string>
	<key>ProjectName</key>
	<string>servermgr_swupdate</string>
	<key>SourceVersion</key>
	<string>93000000000000</string>
</dict>
</plist>
