<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>logName</key>
		<string>Directory Services Server Log</string>
		<key>logIdentifier</key>
		<string>serverLog</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>Directory Services Error Log</string>
		<key>logIdentifier</key>
		<string>errorLog</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>kSeparatorItem</string>
	</dict>
	<dict>
		<key>logName</key>
		<string>Configuration Log</string>
		<key>logIdentifier</key>
		<string>slapconfigLog</string>
	</dict>	
	<dict>
		<key>logName</key>
		<string>Kerberos Administration Log</string>
		<key>logIdentifier</key>
		<string>kadminLog</string>
	</dict>	
	<dict>
		<key>logName</key>
		<string>Kerberos Server Log</string>
		<key>logIdentifier</key>
		<string>kdcLog</string>
	</dict>	
	<dict>
		<key>logName</key>
		<string>LDAP Log</string>
		<key>logIdentifier</key>
		<string>ldapLog</string>
	</dict>	
	<dict>
		<key>logName</key>
		<string>Password Service Server Log</string>
		<key>logIdentifier</key>
		<string>passwordServiceServerLog</string>
	</dict>	
	<dict>
		<key>logName</key>
		<string>Password Service Error Log</string>
		<key>logIdentifier</key>
		<string>passwordServiceErrorLog</string>
	</dict>	
	<dict>
		<key>logName</key>
		<string>Password Service Replication Log</string>
		<key>logIdentifier</key>
		<string>passwordServiceReplicationLog</string>
	</dict>	
</array>
</plist>
