<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Sharing</string>
	<key>CFBundleGetInfoString</key>
	<string>10.6, © Copyright 2001–2008 Apple Inc.,\nall rights reserved.</string>
	<key>CFBundleIconFile</key>
	<string>Plugin.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ServerAdmin.Sharing</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>File Sharing</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>48</string>
	<key>IsDefaultPlugin</key>
	<false/>
	<key>IsTigerPlugin</key>
	<false/>
	<key>NSMainNibFile</key>
	<string>Sharing</string>
	<key>NSPrincipalClass</key>
	<string>Sharing</string>
	<key>ServerManagerDaemonCommand</key>
	<string>servermgr_sharing</string>
	<key>SupportsSessionlessAccess</key>
	<false/>
</dict>
</plist>
