<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dsRecTypeStandard:All</key>
	<array>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:RecordName</string>
			<key>display string</key>
			<string>レコード名</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:GeneratedUID</string>
			<key>display string</key>
			<string>生成された一意の ID</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:MCXSettings</string>
			<key>display string</key>
			<string>制限付きデスクトップのデータ</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:MCXFlags</string>
			<key>display string</key>
			<string>制限付きデスクトップのフラグ</string>
		</dict>
	</array>
	<key>dsRecTypeStandard:ComputerLists</key>
	<array>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:RecordName</string>
			<key>display string</key>
			<string>リスト名</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:GeneratedUID</string>
			<key>display string</key>
			<string>生成された一意の ID</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:Computers</string>
			<key>display string</key>
			<string>コンピュータ</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:MCXSettings</string>
			<key>display string</key>
			<string>制限付きデスクトップのデータ</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:MCXFlags</string>
			<key>display string</key>
			<string>制限付きデスクトップのフラグ</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:Group</string>
			<key>display string</key>
			<string>グループに制限</string>
		</dict>
	</array>
	<key>dsRecTypeStandard:ComputerGroups</key>
	<array>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:RecordName</string>
			<key>display string</key>
			<string>ユーザ名</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:DistinguishedName</string>
			<key>display string</key>
			<string>グループ名</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:GeneratedUID</string>
			<key>display string</key>
			<string>生成された一意の ID</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:GroupMembers</string>
			<key>display string</key>
			<string>グループメンバー</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:GroupMembership</string>
			<key>display string</key>
			<string>グループメンバーシップ</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:NestedGroups</string>
			<key>display string</key>
			<string>ネストしたグループ</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:Picture</string>
			<key>display string</key>
			<string>ピクチャ</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:MCXSettings</string>
			<key>display string</key>
			<string>制限付きデスクトップのデータ</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:MCXFlags</string>
			<key>display string</key>
			<string>制限付きデスクトップのフラグ</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:Comment</string>
			<key>display string</key>
			<string>コメント</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:ServicesLocator</string>
			<key>display string</key>
			<string>サービスロケータ</string>
		</dict>
	</array>
	<key>dsRecTypeStandard:Computers</key>
	<array>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:RecordName</string>
			<key>display string</key>
			<string>コンピュータ名</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:GeneratedUID</string>
			<key>display string</key>
			<string>生成された一意の ID</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:ENetAddress</string>
			<key>display string</key>
			<string>Ethernet アドレス</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:Comment</string>
			<key>display string</key>
			<string>コメント</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:MCXSettings</string>
			<key>display string</key>
			<string>制限付きデスクトップのデータ</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:MCXFlags</string>
			<key>display string</key>
			<string>制限付きデスクトップのフラグ</string>
		</dict>
	</array>
	<key>dsRecTypeStandard:Groups</key>
	<array>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:RealName</string>
			<key>display string</key>
			<string>名前</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:RecordName</string>
			<key>display string</key>
			<string>ユーザ名</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:PrimaryGroupID</string>
			<key>display string</key>
			<string>一意の ID</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:GeneratedUID</string>
			<key>display string</key>
			<string>生成された一意の ID</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:GroupMembers</string>
			<key>display string</key>
			<string>GUID に基づいたグループメンバー</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:GroupMembership</string>
			<key>display string</key>
			<string>ユーザ名に基づいたグループメンバー</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:NestedGroups</string>
			<key>display string</key>
			<string>ネストしたグループ</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:HomeDirectory</string>
			<key>display string</key>
			<string>グループフォルダ</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:HomeLocOwner</string>
			<key>display string</key>
			<string>グループフォルダのオーナー</string>
		</dict>
	</array>
	<key>dsRecTypeStandard:Users</key>
	<array>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:RealName</string>
			<key>display string</key>
			<string>名前</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:RecordName</string>
			<key>display string</key>
			<string>ユーザ名</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:Password</string>
			<key>display string</key>
			<string>パスワード</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:PasswordPolicyOptions</string>
			<key>display string</key>
			<string>パスワード方式</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:UniqueID</string>
			<key>display string</key>
			<string>一意の ID</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:GeneratedUID</string>
			<key>display string</key>
			<string>生成された一意の ID</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:PrimaryGroupID</string>
			<key>display string</key>
			<string>プライマリグループ ID</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:UserShell</string>
			<key>display string</key>
			<string>ユーザシェル</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:HomeDirectory</string>
			<key>display string</key>
			<string>ホームディレクトリ</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:NFSHomeDirectory</string>
			<key>display string</key>
			<string>NFS ホームディレクトリ</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:SMBHomeDrive</string>
			<key>display string</key>
			<string>SMB ホームドライブ</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:SMBHome</string>
			<key>display string</key>
			<string>SMB ホームパス</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:SMBProfilePath</string>
			<key>display string</key>
			<string>SMB プロファイルパス</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:SMBScriptPath</string>
			<key>display string</key>
			<string>SMB スクリプトパス</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:MailAttribute</string>
			<key>display string</key>
			<string>メール属性</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:MCXSettings</string>
			<key>display string</key>
			<string>制限付きデスクトップのデータ</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:MCXFlags</string>
			<key>display string</key>
			<string>制限付きデスクトップのフラグ</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:Comment</string>
			<key>display string</key>
			<string>コメント</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>dsAttrTypeStandard:Keywords</string>
			<key>display string</key>
			<string>キーワード</string>
		</dict>
	</array>
</dict>
</plist>
