@charset "UTF-8";
/* CSS home.css*/
/* Help acces layout version 1.0.1r  HTML   04-30-09 */
/*added .subheadboxrightRule */
/*Draft 0f 12-16-08 added before style for rule*/
/*Draft 0e 10-31-08*/


p {
	margin-top: 0px;
	margin-bottom: 0px;
}

#apple-pd {
	margin-top: 2px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 24px;
	background-color: #fff;
	color: #333;
	font-family: 'Lucida Grande', Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	min-width: 360px;
	text-align: left;
}


/* START NAVBAR STYLES */

#navbox { 
	position: fixed; 
	top: 0; 
	left: 0px;
	width: 100%; 
	height: 20px; 
	float: left; 
	padding-top: -2px;
	border-bottom: 1px solid #939393;
	background-color: #dddddd;
	z-index: 99;
}

.gradient {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#d1d1d1), color-stop(0.5, #d1d1d1));
	-webkit-background-origin: border;
}

#navrightbox {
	float: right; 
	position: relative;
	top: -1px;
	margin-right: 0px;
	font-size: 10px;
	font-family: 'Lucida Grande', Arial, sans-serif;
	line-height: 18px;
	padding-right: 24px; 
}

.navlink_right {
	position: relative; 
	color: #333;
	font-weight: normal;
	line-height: 22px;
	text-align: right;
	vertical-align: middle;
	text-shadow: #FFFFFF 0px 1px 0;  
 }

/* End Navbar styles */


/* START HEADER AREA STYLES */

#headerbox {
	clear: both;
	margin-top: 46px;
	margin-bottom: 28px;
}

h1 {
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	margin-top: 6px;
	margin-bottom: 0;
	text-align: left;
}

#iconbox {
	float: left;
}

#iconimg {}

#pagetitle {
	padding-left: 38px;
	padding-top: 1px;
}

/* End Header Area Styles */

/* START LINK STYLES */
/* These are link styles are shared by any link; font-size and weight
for a specific style are delinated in the "Left Column Styles" and
"Right Column Styles" section of this stylesheet. */

a {
	color: #3366CC;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #011E57;
}

/* End Link Styles */


/* This wrapper holds the left and right
columns of the layout */
#columnshell {
	clear: both;
	position: relative;
	left: 0px;
	margin-top: 0px;
	padding-bottom: 24px;
}

/* LEFT COLUMN STYLES */

#leftcolumn {
	float: left;
	position: relative;
	left: 0px;
	padding-bottom: 24px;
	width: 50%;
}

.subheadleft {
	color: #36C;
	font-size: 13px;
	font-weight: bold;
	line-height: 16px;
	padding-right: 8px;
	text-align: left;
}

.leftcolumntext {
	font-size: 11px;
	line-height: 15px;
	padding-right: 8px;
	margin-bottom: 12px;
}

/* End Left Column Styles */


/* START RIGHT COLUMN STYLES */

#rightcolumn {
	float: right;
	position: relative;
	margin-top: -14px;
	padding-bottom: 24px;
	width: 50%;
}

#padrightcol {
	padding-left: 7px;
}

#frametop {
	position: relative;
	left: 0px;
	background-color: #FFFFFF;
	border: 1px solid #d7d7d7;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-box-shadow: 0px 2px 4px #CACACA;
	-moz-box-shadow: 0px 2px 4px #CACACA;
	padding-top: 15px;
	padding-bottom: 15px;
}

#framebottom {
	position: relative;
	left: 0px;
	background-color: #FFFFFF;
	border: 1px solid #B9B9B9;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	margin-top: 14px;
	padding-top: 12px;
	padding-bottom: 15px;
}

.headboxtopright {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	line-height: 15px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 1px;
}

.headboxbottomright {
	color: #333;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: .15em;
	line-height: 15px;
	padding-bottom: 3px;
	padding-left: 15px;
	padding-right: 15px;
}

.subheadboxright {
	color: #3366CC;
	font-size: 11px;
	font-weight: bold;
	line-height: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 6px;
	text-align: left;
}

.subheadboxrightRule {
	color: #3366CC;
	font-size: 11px;
	font-weight: bold;
	line-height: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 6px;
	text-align: left;
}
.subheadboxrightRule:before {
    content:"";
    display: block;
    -webkit-box-shadow: 0em .1em .2em #ccc;
    border-top:.1em solid #d7d7d7;
    overflow: visible;
    height: 0em;
    width: 100%;
    display: block;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.rightcolumntext {
	font-size: 11px;
	line-height: 15px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 0px;
}

.subheadboxright + .subheadboxright {
	margin-top: 5px;
}

.subheadboxright + .headboxbottomright:before {
    content:"";
    display: block;
    -webkit-box-shadow: 0em .1em .2em #ccc;
    border-top:.1em solid #d7d7d7;
    overflow: visible;
    height: 0em;
    width: 100%;
    display: block;
    margin-top: 1.6em;
    margin-bottom: 1.75em;
}

/* End Right Column Styles */

/* START FEEDBACK STYLES */

#linkfeedbackbox {
	clear: both;
	position: relative;
	left: 0px;
	margin-bottom: 18px;
	width: 100%;
}

.linkfeedback {
	color: #000000;
}


/* End Feedback Styles */