<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>edit</key>
	<dict>
		<key>contentWatermark</key>
		<dict>
			<key>opacity</key>
			<integer>70</integer>
			<key>path</key>
			<string>$$Application Materials Path$$/Images/Watermark/Apple Logo.png</string>
			<key>position</key>
			<integer>1</integer>
			<key>sizing</key>
			<integer>10</integer>
		</dict>
		<key>intro</key>
		<dict>
			<key>path</key>
			<string>$$Application Materials Path$$/Movies/Introduction/Apple Podcast.mov</string>
		</dict>
		<key>introTransition</key>
		<dict>
			<key>direction</key>
			<integer>0</integer>
			<key>duration</key>
			<real>2</real>
			<key>path</key>
			<string>$$Application Materials Path$$/Compositions/Transitions/ScaleTransition.pqz</string>
		</dict>
		<key>outro</key>
		<dict>
			<key>path</key>
			<string>$$Application Materials Path$$/Movies/Exit/Made on a Mac.mov</string>
		</dict>
		<key>outroTransition</key>
		<dict>
			<key>duration</key>
			<integer>1</integer>
			<key>path</key>
			<string>$$Application Materials Path$$/Compositions/Transitions/DissolveTransition.pqz</string>
		</dict>
		<key>title</key>
		<dict>
			<key>authorEnabled</key>
			<true/>
			<key>copyrightEnabled</key>
			<true/>
			<key>dateEnabled</key>
			<true/>
			<key>descriptionEnabled</key>
			<false/>
			<key>organizationEnabled</key>
			<true/>
			<key>path</key>
			<string>$$Application Materials Path$$/Compositions/Titles/Bumper/FlyingTitle.pqz</string>
			<key>titleEnabled</key>
			<true/>
		</dict>
		<key>titleTransition</key>
		<dict>
			<key>direction</key>
			<integer>0</integer>
			<key>duration</key>
			<real>3</real>
			<key>path</key>
			<string>$$Application Materials Path$$/Compositions/Transitions/SwingTransition.pqz</string>
		</dict>
	</dict>
</dict>
</plist>
