<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Print</string>
	<key>CFBundleGetInfoString</key>
	<string>10.6, © Copyright 2003-2008 Apple Inc.</string>
	<key>CFBundleIconFile</key>
	<string>Plugin.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ServerAdmin.Print</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Print</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>136</string>
	<key>NSMainNibFile</key>
	<string>Print</string>
	<key>NSPrincipalClass</key>
	<string>Print</string>
	<key>ServerManagerDaemonCommand</key>
	<string>servermgr_print</string>
</dict>
</plist>
