<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AbbreviatedName</key>
	<string>WO</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>WebObjects</string>
	<key>CFBundleGetInfoString</key>
	<string>10.5, Copyright ¬© 2006-2009 Apple Inc., All Rights Reserved.</string>
	<key>CFBundleIconFile</key>
	<string>Plugin.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ServerAdmin.WebObjects</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WebObjects</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>10.5</string>
	<key>IsDefaultPlugin</key>
	<false/>
	<key>IsLeopardPlugin</key>
	<true/>
	<key>IsPantherPlugin</key>
	<false/>
	<key>IsTigerPlugin</key>
	<false/>
	<key>NSMainNibFile</key>
	<string>WebObjects</string>
	<key>NSPrincipalClass</key>
	<string>WebObjects</string>
	<key>ServerManagerDaemonCommand</key>
	<string>servermgr_webobjects</string>
	<key>SupportsSessionlessAccess</key>
	<false/>
</dict>
</plist>
