<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blacklist_file</key>
	<string>/var/db/af/blacklist</string>
	<key>default_set</key>
	<string>17</string>
	<key>default_timeout</key>
	<string>15</string>
	<key>firewall_address</key>
	<string>127.0.0.1</string>
	<key>log_facility</key>
	<string>SBS_Security</string>
	<key>log_level</key>
	<string>5</string>
	<key>start_behavior</key>
	<string>enabled</string>
	<key>state_file</key>
	<string>/var/run/af_state</string>
	<key>sweep_interval</key>
	<string>20</string>
	<key>whitelist_file</key>
	<string>/var/db/af/whitelist</string>
</dict>
</plist>
