<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<!-- 										-->
<!-- 										-->
<!--      !!!!!!!!!!! DO NOT LOCALIZE THIS FILE !!!!!!!!!!!!!!			-->
<!-- 										-->
<!--   Localization for the time zone panel is done in the two files called:	-->
<!--   Localizable_Cities.strings and Localizable_Countries.strings 		-->
<!-- 										-->
<!-- 										-->
<!--	The format for this file is:						-->
<!-- 		Line	Usage		Acceptable Values			-->
<!-- 		 1	Latitude	-90.0 to 90.0 (in decimal format)	-->
<!-- 		 2	Longitude	-180.0 to 180.0 (in decimal format)	-->
<!-- 		 3	TimeZoneIndex	0-27 used to show timezone "band"	-->
<!-- 		 4	TimeZone file	path in /usr/share/zoneinfo directory	-->
<!-- 		 5	Modem Code	Approved modem code for the country	-->
<!-- 		 6	City Name	Unlocalized version of City		-->
<!-- 		 7	Country Name	Unlocalized version of Country		-->
<!-- 										-->
<array>
	<array>
		<string>24.466665</string>
		<string>54.416668</string>
		<string>16</string>
		<string>Asia/Dubai</string>
		<string></string>
		<string>Abu Dhabi</string>
		<string>U.A.E.</string>
	</array>
	<array>
		<string>5.583333</string>
		<string>-0.100000</string>
		<string>11</string>
		<string>Africa/Accra</string>
		<string></string>
		<string>Accra</string>
		<string>Ghana</string>
	</array>
	<array>
		<string>51.866666</string>
		<string>-176.650000</string>
		<string>30</string>
		<string>America/Adak</string>
		<string>US</string>
		<string>Adak</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>9.050000</string>
		<string>38.700001</string>
		<string>14</string>
		<string>Africa/Addis_Ababa</string>
		<string></string>
		<string>Addis Ababa</string>
		<string>Ethiopia</string>
	</array>
	<array>
		<string>-34.866669</string>
		<string>138.500000</string>
		<string>26</string>
		<string>Australia/Adelaide</string>
		<string>AU</string>
		<string>Adelaide</string>
		<string>Australia</string>
	</array>
	<array>
		<string>36.833332</string>
		<string>3.000000</string>
		<string>12</string>
		<string>Africa/Algiers</string>
		<string></string>
		<string>Algiers</string>
		<string>Algeria</string>
	</array>
	<array>
		<string>31.949999</string>
		<string>35.933334</string>
		<string>13</string>
		<string>Asia/Amman</string>
		<string></string>
		<string>Amman</string>
		<string>Jordan</string>
	</array>
	<array>
		<string>52.349995</string>
		<string>4.899994</string>
		<string>12</string>
		<string>Europe/Amsterdam</string>
		<string>NL</string>
		<string>Amsterdam</string>
		<string>Netherlands</string>
	</array>
	<array>
		<string>64.750000</string>
		<string>177.483333</string>
		<string>29</string>
		<string>Asia/Anadyr</string>
		<string></string>
		<string>Anadyr</string>
		<string>Russia</string>
	</array>
	<array>
		<string>-18.916666</string>
		<string>47.516670</string>
		<string>14</string>
		<string>Indian/Antananarivo</string>
		<string></string>
		<string>Antananarivo</string>
		<string>Madagascar</string>
	</array>
	<array>
		<string>61.216667</string>
		<string>-149.883331</string>
		<string>2</string>
		<string>America/Anchorage</string>
		<string>US</string>
		<string>Anchorage</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>39.916668</string>
		<string>32.833332</string>
		<string>13</string>
		<string>Europe/Istanbul</string>
		<string></string>
		<string>Ankara</string>
		<string>Turkey</string>
	</array>
	<array>
		<string>15.333333</string>
		<string>38.883333</string>
		<string>14</string>
		<string>Africa/Asmera</string>
		<string></string>
		<string>Asmera</string>
		<string>Eritrea</string>
	</array>
	<array>
		<string>-25.266666</string>
		<string>-57.666668</string>
		<string>7</string>
		<string>America/Asuncion</string>
		<string></string>
		<string>Asuncion</string>
		<string>Paraguay</string>
	</array>
	<array>
		<string>38.000000</string>
		<string>23.733334</string>
		<string>13</string>
		<string>Europe/Athens</string>
		<string>GR</string>
		<string>Athens</string>
		<string>Greece</string>
	</array>
	<array>
		<string>33.750000</string>
		<string>-84.383331</string>
		<string>6</string>
		<string>US/Eastern</string>
		<string>US</string>
		<string>Atlanta</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>30.300001</string>
		<string>-97.699997</string>
		<string>5</string>
		<string>US/Central</string>
		<string>US</string>
		<string>Austin</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>33.333332</string>
		<string>44.433331</string>
		<string>14</string>
		<string>Asia/Baghdad</string>
		<string></string>
		<string>Baghdad</string>
		<string>Iraq</string>
	</array>
	<array>
		<string>12.566667</string>
		<string>-7.916667</string>
		<string>11</string>
		<string>Africa/Bamako</string>
		<string></string>
		<string>Bamako</string>
		<string>Mali</string>
	</array>
	<array>
		<string>13.733334</string>
		<string>100.500000</string>
		<string>23</string>
		<string>Asia/Bangkok</string>
		<string>TH</string>
		<string>Bangkok</string>
		<string>Thailand</string>
	</array>
	<array>
		<string>4.383333</string>
		<string>18.583334</string>
		<string>12</string>
		<string>Africa/Bangui</string>
		<string></string>
		<string>Bangui</string>
		<string>Central African Republic</string>
	</array>
	<array>
		<string>39.916668</string>
		<string>116.416672</string>
		<string>24</string>
		<string>Asia/Shanghai</string>
		<string>CN</string>
		<string>Beijing</string>
		<string>China</string>
	</array>
	<array>
		<string>33.866665</string>
		<string>35.500000</string>
		<string>13</string>
		<string>Asia/Beirut</string>
		<string></string>
		<string>Beirut</string>
		<string>Lebanon</string>
	</array>
	<array>
		<string>44.833332</string>
		<string>20.500000</string>
		<string>12</string>
		<string>Europe/Belgrade</string>
		<string></string>
		<string>Belgrade</string>
		<string>Yugoslavia</string>
	</array>
	<array>
		<string>52.516666</string>
		<string>13.400000</string>
		<string>12</string>
		<string>Europe/Berlin</string>
		<string>DE</string>
		<string>Berlin</string>
		<string>Germany</string>
	</array>
	<array>
		<string>4.600000</string>
		<string>-74.083328</string>
		<string>6</string>
		<string>America/Bogota</string>
		<string></string>
		<string>Bogota</string>
		<string>Colombia</string>
	</array>
	<array>
		<string>42.333336</string>
		<string>-71.083336</string>
		<string>6</string>
		<string>US/Eastern</string>
		<string>US</string>
		<string>Boston</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>-15.783333</string>
		<string>-47.916668</string>
		<string>8</string>
		<string>Brazil/East</string>
		<string></string>
		<string>Brasalia</string>
		<string>Brazil</string>
	</array>
	<array>
		<string>-27.483333</string>
		<string>153.133333</string>
		<string>27</string>
		<string>Australia/Brisbane</string>
		<string>AU</string>
		<string>Brisbane</string>
		<string>Australia</string>
	</array>
	<array>
		<string>50.833332</string>
		<string>4.350000</string>
		<string>12</string>
		<string>Europe/Brussels</string>
		<string>BE</string>
		<string>Brussels</string>
		<string>Belgium</string>
	</array>
	<array>
		<string>44.450001</string>
		<string>26.166666</string>
		<string>13</string>
		<string>Europe/Bucharest</string>
		<string></string>
		<string>Bucharest</string>
		<string>Romania</string>
	</array>
	<array>
		<string>47.500000</string>
		<string>19.083334</string>
		<string>12</string>
		<string>Europe/Budapest</string>
		<string></string>
		<string>Budapest</string>
		<string>Hungary</string>
	</array>
	<array>
		<string>-34.616653</string>
		<string>-58.399994</string>
		<string>8</string>
		<string>America/Buenos_Aires</string>
		<string></string>
		<string>Buenos Aires</string>
		<string>Argentina</string>
	</array>
	<array>
		<string>30.049999</string>
		<string>31.249998</string>
		<string>13</string>
		<string>Africa/Cairo</string>
		<string></string>
		<string>Cairo</string>
		<string>Egypt</string>
	</array>
	<array>
		<string>51.050003</string>
		<string>-114.049995</string>
		<string>4</string>
		<string>Canada/Mountain</string>
		<string>CA</string>
		<string>Calgary</string>
		<string>Canada</string>
	</array>
	<array>
		<string>-35.250000</string>
		<string>149.133331</string>
		<string>27</string>
		<string>Australia/Canberra</string>
		<string>AU</string>
		<string>Canberra</string>
		<string>Australia</string>
	</array>
	<array>
		<string>23.083332</string>
		<string>113.166672</string>
		<string>24</string>
		<string>Asia/Shanghai</string>
		<string>CN</string>
		<string>Canton</string>
		<string>China</string>
	</array>
	<array>
		<string>-33.933334</string>
		<string>18.366667</string>
		<string>13</string>
		<string>Africa/Johannesburg</string>
		<string>ZA</string>
		<string>Cape Town</string>
		<string>South Africa</string>
	</array>
	<array>
		<string>10.500000</string>
		<string>-66.933334</string>
		<string>7</string>
		<string>America/Caracas</string>
		<string></string>
		<string>Caracas</string>
		<string>Venezuela</string>
	</array>
	<array>
		<string>51.500000</string>
		<string>-3.216667</string>
		<string>11</string>
		<string>Europe/London</string>
		<string></string>
		<string>Cardiff</string>
		<string>Wales</string>
	</array>
	<array>
		<string>4.916667</string>
		<string>-52.300003</string>
		<string>8</string>
		<string>America/Cayenne</string>
		<string></string>
		<string>Cayenne</string>
		<string>French Guiana</string>
	</array>
	<array>
		<string>13.133333</string>
		<string>80.316666</string>
		<string>19</string>
		<string>Asia/Calcutta</string>
		<string>IN</string>
		<string>Chennai</string>
		<string>India</string>
	</array>
	<array>
		<string>41.833332</string>
		<string>-87.750000</string>
		<string>5</string>
		<string>America/Chicago</string>
		<string>US</string>
		<string>Chicago</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>6.933333</string>
		<string>79.966667</string>
		<string>19</string>
		<string>Asia/Colombo</string>
		<string></string>
		<string>Colombo</string>
		<string>Sri Lanka</string>
	</array>
	<array>
		<string>40.00000</string>
		<string>-82.883333</string>
		<string>6</string>
		<string>US/Eastern</string>
		<string>US</string>
		<string>Columbus</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>9.483334</string>
		<string>-13.816667</string>
		<string>11</string>
		<string>Africa/Conakry</string>
		<string></string>
		<string>Conakry</string>
		<string>Guinea</string>
	</array>
	<array>
		<string>55.716663</string>
		<string>12.566667</string>
		<string>12</string>
		<string>Europe/Copenhagen</string>
		<string>DK</string>
		<string>Copenhagen</string>
		<string>Denmark</string>
	</array>
	<array>
		<string>37.349991</string>
		<string>-121.950005</string>
		<string>3</string>
		<string>US/Pacific</string>
		<string>US</string>
		<string>Cupertino</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>51.966667</string>
		<string>-8.466666</string>
		<string>11</string>
		<string>Europe/Dublin</string>
		<string>IE</string>
		<string>Cork</string>
		<string>Ireland</string>
	</array>
	<array>
		<string>23.699999</string>
		<string>90.366669</string>
		<string>21</string>
		<string>Asia/Dacca</string>
		<string></string>
		<string>Dacca</string>
		<string>Bangladesh</string>
	</array>
	<array>
		<string>14.566667</string>
		<string>-17.483334</string>
		<string>11</string>
		<string>Africa/Dakar</string>
		<string></string>
		<string>Dakar</string>
		<string>Senegal</string>
	</array>
	<array>
		<string>32.783333</string>
		<string>-96.816666</string>
		<string>5</string>
		<string>US/Central</string>
		<string>US</string>
		<string>Dallas</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>33.500000</string>
		<string>36.250000</string>
		<string>14</string>
		<string>Asia/Damascus</string>
		<string></string>
		<string>Damascus</string>
		<string>Syria</string>
	</array>
	<array>
		<string>-6.833333</string>
		<string>39.200001</string>
		<string>14</string>
		<string>Africa/Dar_es_Salaam</string>
		<string></string>
		<string>Dar es Salaam</string>
		<string>Tanzania</string>
	</array>
	<array>
		<string>-12.466666</string>
		<string>130.850000</string>
		<string>26</string>
		<string>Australia/Darwin</string>
		<string>AU</string>
		<string>Darwin</string>
		<string>Australia</string>
	</array>
	<array>
		<string>39.733334</string>
		<string>-104.983337</string>
		<string>4</string>
		<string>America/Denver</string>
		<string>US</string>
		<string>Denver</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>42.383335</string>
		<string>-83.083336</string>
		<string>6</string>
		<string>America/Detroit</string>
		<string>US</string>
		<string>Detroit</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>11.500001</string>
		<string>43.083332</string>
		<string>14</string>
		<string>Africa/Djibouti</string>
		<string></string>
		<string>Djibouti</string>
		<string>Djibouti</string>
	</array>
	<array>
		<string>25.283333</string>
		<string>51.533337</string>
		<string>14</string>
		<string>Asia/Qatar</string>
		<string></string>
		<string>Doha</string>
		<string>Qatar</string>
	</array>
	<array>
		<string>4.000000</string>
		<string>9.750000</string>
		<string>12</string>
		<string>Africa/Douala</string>
		<string></string>
		<string>Douala</string>
		<string>Cameroon</string>
	</array>
	<array>
		<string>53.333332</string>
		<string>-6.250000</string>
		<string>11</string>
		<string>Europe/Dublin</string>
		<string>IE</string>
		<string>Dublin</string>
		<string>Ireland</string>
	</array>
	<array>
		<string>55.950001</string>
		<string>-3.216667</string>
		<string>11</string>
		<string>Europe/London</string>
		<string>GB</string>
		<string>Edinburgh</string>
		<string>Scotland</string>
	</array>
	<array>
		<string>8.500000</string>
		<string>-13.283333</string>
		<string>11</string>
		<string>Africa/Freetown</string>
		<string></string>
		<string>Freetown</string>
		<string>Sierra Leone</string>
	</array>
	<array>
		<string>46.166664</string>
		<string>6.150000</string>
		<string>12</string>
		<string>Europe/Zurich</string>
		<string>CH</string>
		<string>Geneva</string>
		<string>Switzerland</string>
	</array>
	<array>
		<string>6.766667</string>
		<string>-58.166668</string>
		<string>7</string>
		<string>America/Guyana</string>
		<string></string>
		<string>Georgetown</string>
		<string>Guyana</string>
	</array>
	<array>
		<string>-54.266666</string>
		<string>-36.533333</string>
		<string>9</string>
		<string>Atlantic/South_Georgia</string>
		<string></string>
		<string>Grytviken</string>
		<string>South Georgia</string>
	</array>
	<array>
		<string>13.450000</string>
		<string>144.750000</string>
		<string>27</string>
		<string>Pacific/Guam</string>
		<string>GU</string>
		<string>Guam</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>14.666666</string>
		<string>-90.366669</string>
		<string>5</string>
		<string>America/Guatemala</string>
		<string></string>
		<string>Guatemala</string>
		<string>Guatemala</string>
	</array>
	<array>
		<string>44.650000</string>
		<string>-63.566666</string>
		<string>7</string>
		<string>Canada/Atlantic</string>
		<string>CA</string>
		<string>Halifax</string>
		<string>Canada</string>
	</array>
	<array>
		<string>21.083334</string>
		<string>105.916672</string>
		<string>23</string>
		<string>Asia/Saigon</string>
		<string></string>
		<string>Hanoi</string>
		<string>Vietnam</string>
	</array>
	<array>
		<string>-17.716667</string>
		<string>31.033333</string>
		<string>13</string>
		<string>Africa/Harare</string>
		<string></string>
		<string>Harare</string>
		<string>Zimbabwe</string>
	</array>
	<array>
		<string>22.133333</string>
		<string>-82.366669</string>
		<string>6</string>
		<string>America/Havana</string>
		<string></string>
		<string>Havana</string>
		<string>Cuba</string>
	</array>
	<array>
		<string>60.166668</string>
		<string>24.966667</string>
		<string>13</string>
		<string>Europe/Helsinki</string>
		<string>FI</string>
		<string>Helsinki</string>
		<string>Finland</string>
	</array>
	<array>
		<string>-42.883333</string>
		<string>147.316666</string>
		<string>27</string>
		<string>Australia/Hobart</string>
		<string>AU</string>
		<string>Hobart</string>
		<string>Australia</string>
	</array>
	<array>
		<string>22.250000</string>
		<string>114.166672</string>
		<string>24</string>
		<string>Asia/Hong_Kong</string>
		<string>HK</string>
		<string>Hong Kong</string>
		<string>China</string>
	</array>
	<array>
		<string>21.316668</string>
		<string>-157.866669</string>
		<string>1</string>
		<string>Pacific/Honolulu</string>
		<string>US</string>
		<string>Honolulu</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>39.733333</string>
		<string>-86.283333</string>
		<string>6</string>
		<string>America/Indianapolis</string>
		<string>US</string>
		<string>Indianapolis</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>33.666668</string>
		<string>73.166664</string>
		<string>18</string>
		<string>Asia/Karachi</string>
		<string></string>
		<string>Islamabad</string>
		<string>Pakistan</string>
	</array>
	<array>
		<string>41.033333</string>
		<string>28.983334</string>
		<string>13</string>
		<string>Asia/Istanbul</string>
		<string></string>
		<string>Istanbul</string>
		<string>Turkey</string>
	</array>
	<array>
		<string>-6.133334</string>
		<string>106.750000</string>
		<string>24</string>
		<string>Asia/Jakarta</string>
		<string>ID</string>
		<string>Jakarta</string>
		<string>Indonesia</string>
	</array>
	<array>
		<string>31.783335</string>
		<string>35.233334</string>
		<string>13</string>
		<string>Asia/Jerusalem</string>
		<string></string>
		<string>Jerusalem</string>
		<string>Israel</string>
	</array>
	<array>
		<string>34.500000</string>
		<string>69.199997</string>
		<string>17</string>
		<string>Asia/Kabul</string>
		<string></string>
		<string>Kabul</string>
		<string>Afghanistan</string>
	</array>
	<array>
		<string>0.333333</string>
		<string>32.500000</string>
		<string>14</string>
		<string>Africa/Kampala</string>
		<string></string>
		<string>Kampala</string>
		<string>Uganda</string>
	</array>
	<array>
		<string>27.716666</string>
		<string>85.316666</string>
		<string>20</string>
		<string>Asia/Katmandu</string>
		<string></string>
		<string>Katmandu</string>
		<string>Nepal</string>
	</array>
	<array>
		<string>15.599999</string>
		<string>32.533333</string>
		<string>13</string>
		<string>Africa/Khartoum</string>
		<string></string>
		<string>Khartoum</string>
		<string>Sudan</string>
	</array>
	<array>
		<string>50.500000</string>
		<string>30.466667</string>
		<string>13</string>
		<string>Europe/Kiev</string>
		<string></string>
		<string>Kiev</string>
		<string>Ukraine</string>
	</array>
	<array>
		<string>-4.333333</string>
		<string>15.250000</string>
		<string>12</string>
		<string>Africa/Kinshasa</string>
		<string></string>
		<string>Kinshasa</string>
		<string>Zaire</string>
	</array>
	<array>
		<string>35.816666</string>
		<string>-83.983333</string>
		<string>6</string>
		<string>US/Eastern</string>
		<string>US</string>
		<string>Knoxville</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>22.583334</string>
		<string>88.349998</string>
		<string>19</string>
		<string>Asia/Calcutta</string>
		<string>IN</string>
		<string>Kolkata</string>
		<string>India</string>
	</array>
	<array>
		<string>56.016666</string>
		<string>92.833333</string>
		<string>23</string>
		<string>Asia/Krasnoyarsk</string>
		<string></string>
		<string>Krasnoyarsk</string>
		<string>Russia</string>
	</array>
	<array>
		<string>3.150000</string>
		<string>101.683334</string>
		<string>24</string>
		<string>Asia/Kuala_Lumpur</string>
		<string>MY</string>
		<string>Kuala Lumpur</string>
		<string>Malaysia</string>
	</array>
	<array>
		<string>29.333332</string>
		<string>48.000004</string>
		<string>14</string>
		<string>Asia/Kuwait</string>
		<string></string>
		<string>Kuwait</string>
		<string>Kuwait</string>
	</array>
	<array>
		<string>-16.500000</string>
		<string>-68.150002</string>
		<string>7</string>
		<string>America/La_Paz</string>
		<string></string>
		<string>La Paz</string>
		<string>Bolivia</string>
	</array>
	<array>
		<string>6.450000</string>
		<string>3.383333</string>
		<string>12</string>
		<string>Africa/Lagos</string>
		<string></string>
		<string>Lagos</string>
		<string>Nigeria</string>
	</array>
	<array>
		<string>-12.049999</string>
		<string>-77.050003</string>
		<string>6</string>
		<string>America/Lima</string>
		<string></string>
		<string>Lima</string>
		<string>Peru</string>
	</array>
	<array>
		<string>38.733322</string>
		<string>-9.133331</string>
		<string>11</string>
		<string>Europe/Lisbon</string>
		<string>PT</string>
		<string>Lisbon</string>
		<string>Portugal</string>
	</array>
	<array>
		<string>46.0558</string>
		<string>14.5083</string>
		<string>12</string>
		<string>Europe/Ljubljana</string>
		<string></string>
		<string>Ljubljana</string>
		<string>Slovenia</string>
	</array>
	<array>
		<string>51.500000</string>
		<string>-0.166656</string>
		<string>11</string>
		<string>Europe/London</string>
		<string>GB</string>
		<string>London</string>
		<string>England</string>
	</array>
	<array>
		<string>34.066666</string>
		<string>-118.250000</string>
		<string>3</string>
		<string>America/Los_Angeles</string>
		<string>US</string>
		<string>Los Angeles</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>-8.833334</string>
		<string>13.250000</string>
		<string>12</string>
		<string>Africa/Luanda</string>
		<string></string>
		<string>Luanda</string>
		<string>Angola</string>
	</array>
	<array>
		<string>-15.466667</string>
		<string>28.266666</string>
		<string>13</string>
		<string>Africa/Lusaka</string>
		<string></string>
		<string>Lusaka</string>
		<string>Zambia</string>
	</array>
	<array>
		<string>40.416656</string>
		<string>-3.716660</string>
		<string>12</string>
		<string>Europe/Madrid</string>
		<string>ES</string>
		<string>Madrid</string>
		<string>Spain</string>
	</array>
	<array>
		<string>4.166666</string>
		<string>73.500000</string>
		<string>18</string>
		<string>Indian/Maldives</string>
		<string></string>
		<string>Male</string>
		<string>Maldives</string>
	</array>
	<array>
		<string>12.100000</string>
		<string>-86.333336</string>
		<string>5</string>
		<string>America/Managua</string>
		<string></string>
		<string>Managua</string>
		<string>Nicaragua</string>
	</array>
	<array>
		<string>26.200001</string>
		<string>50.583336</string>
		<string>14</string>
		<string>Asia/Bahrain</string>
		<string></string>
		<string>Manama</string>
		<string>Bahrain</string>
	</array>
	<array>
		<string>42.933333</string>
		<string>-71.433333</string>
		<string>6</string>
		<string>US/Eastern</string>
		<string>US</string>
		<string>Manchester</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>14.600000</string>
		<string>120.983337</string>
		<string>24</string>
		<string>Asia/Manila</string>
		<string>PH</string>
		<string>Manila</string>
		<string>Philippines</string>
	</array>
	<array>
		<string>-25.966667</string>
		<string>32.533333</string>
		<string>13</string>
		<string>Africa/Maputo</string>
		<string></string>
		<string>Maputo</string>
		<string>Mozambique</string>
	</array>
	<array>
		<string>21.449999</string>
		<string>39.816666</string>
		<string>14</string>
		<string>Asia/Riyadh</string>
		<string></string>
		<string>Mecca</string>
		<string>Saudia Arabia</string>
	</array>
	<array>
		<string>-37.833332</string>
		<string>145.000000</string>
		<string>27</string>
		<string>Australia/Melbourne</string>
		<string>AU</string>
		<string>Melbourne</string>
		<string>Australia</string>
	</array>
	<array>
		<string>35.050000</string>
		<string>-90.00000</string>
		<string>5</string>
		<string>US/Central</string>
		<string>US</string>
		<string>Memphis</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>19.400000</string>
		<string>-99.150002</string>
		<string>5</string>
		<string>America/Mexico_City</string>
		<string></string>
		<string>Mexico City</string>
		<string>Mexico</string>
	</array>
	<array>
		<string>25.766668</string>
		<string>-80.200005</string>
		<string>6</string>
		<string>US/Eastern</string>
		<string>US</string>
		<string>Miami</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>44.983334</string>
		<string>-93.216667</string>
		<string>5</string>
		<string>US/Central</string>
		<string>US</string>
		<string>Minneapolis</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>59.566666</string>
		<string>150.800000</string>
		<string>28</string>
		<string>Asia/Magadan</string>
		<string></string>
		<string>Magadan</string>
		<string>Russia</string>
	</array>
	<array>
		<string>2.033333</string>
		<string>45.350002</string>
		<string>14</string>
		<string>Africa/Mogadishu</string>
		<string></string>
		<string>Mogadisho</string>
		<string>Somalia</string>
	</array>
	<array>
		<string>6.300000</string>
		<string>-10.783333</string>
		<string>11</string>
		<string>Africa/Monrovia</string>
		<string></string>
		<string>Monrovia</string>
		<string>Liberia</string>
	</array>
	<array>
		<string>-34.916668</string>
		<string>-56.166668</string>
		<string>8</string>
		<string>America/Montevideo</string>
		<string></string>
		<string>Montevideo</string>
		<string>Uruguay</string>
	</array>
	<array>
		<string>45.500000</string>
		<string>-73.599998</string>
		<string>6</string>
		<string>America/Montreal</string>
		<string>CA</string>
		<string>Montreal</string>
		<string>Canada</string>
	</array>
	<array>
		<string>55.750000</string>
		<string>37.583332</string>
		<string>14</string>
		<string>Europe/Moscow</string>
		<string></string>
		<string>Moscow</string>
		<string>Russia</string>
	</array>
	<array>
		<string>18.933334</string>
		<string>72.849998</string>
		<string>19</string>
		<string>Asia/Calcutta</string>
		<string>IN</string>
		<string>Mumbai</string>
		<string>India</string>
	</array>
	<array>
		<string>48.133335</string>
		<string>11.566667</string>
		<string>12</string>
		<string>Europe/Berlin</string>
		<string>DE</string>
		<string>Munich</string>
		<string>Germany</string>
	</array>
	<array>
		<string>23.483334</string>
		<string>58.549999</string>
		<string>16</string>
		<string>Asia/Muscat</string>
		<string></string>
		<string>Muscat</string>
		<string>Oman</string>
	</array>
	<array>
		<string>-1.283333</string>
		<string>36.833332</string>
		<string>14</string>
		<string>Africa/Nairobi</string>
		<string></string>
		<string>Nairobi</string>
		<string>Kenya</string>
	</array>
	<array>
		<string>12.166666</string>
		<string>14.983334</string>
		<string>12</string>
		<string>Africa/Ndjamena</string>
		<string></string>
		<string>Ndjamena</string>
		<string>Chad</string>
	</array>
	<array>
		<string>28.616667</string>
		<string>77.216667</string>
		<string>19</string>
		<string>Asia/Calcutta</string>
		<string>IN</string>
		<string>New Delhi</string>
		<string>India</string>
	</array>
	<array>
		<string>40.716667</string>
		<string>-74.016670</string>
		<string>6</string>
		<string>America/New_York</string>
		<string>US</string>
		<string>New York</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>18.150000</string>
		<string>-15.966667</string>
		<string>11</string>
		<string>Africa/Nouakchott</string>
		<string></string>
		<string>Nouakchott</string>
		<string>Mauritania</string>
	</array>
	<array>
		<string>55.033333</string>
		<string>83.050003</string>
		<string>21</string>
		<string>Asia/Novosibirsk</string>
		<string></string>
		<string>Novosibirsk</string>
		<string>Russia</string>
	</array>
	<array>
		<string>64.250000</string>
		<string>-51.666668</string>
		<string>8</string>
		<string>America/Godthab</string>
		<string></string>
		<string>Nuuk</string>
		<string>Greenland</string>
	</array>
	<array>
		<string>55.000000</string>
		<string>73.216667</string>
		<string>21</string>
		<string>Asia/Omsk</string>
		<string></string>
		<string>Omsk</string>
		<string>Russia</string>
	</array>
	<array>
		<string>34.666668</string>
		<string>135.500000</string>
		<string>25</string>
		<string>Japan</string>
		<string>JP</string>
		<string>Osaka</string>
		<string>Japan</string>
	</array>
	<array>
		<string>59.933334</string>
		<string>10.750000</string>
		<string>12</string>
		<string>Europe/Oslo</string>
		<string>NO</string>
		<string>Oslo</string>
		<string>Norway</string>
	</array>
	<array>
		<string>45.416664</string>
		<string>-75.700005</string>
		<string>6</string>
		<string>Canada/Eastern</string>
		<string>CA</string>
		<string>Ottawa</string>
		<string>Canada</string>
	</array>
	<array>
		<string>12.416667</string>
		<string>-1.500000</string>
		<string>11</string>
		<string>Africa/Ouagadougou</string>
		<string></string>
		<string>Ougadougou</string>
		<string>Burkina Faso</string>
	</array>
	<array>
		<string>-14.266666</string>
		<string>-170.700000</string>
		<string>30</string>
		<string>Pacific/Pago_Pago</string>
		<string></string>
		<string>Pago Pago</string>
		<string>Samoa</string>
	</array>
	<array>
		<string>9.000000</string>
		<string>-79.416672</string>
		<string>6</string>
		<string>America/Panama</string>
		<string></string>
		<string>Panama</string>
		<string>Panama</string>
	</array>
	<array>
		<string>5.866667</string>
		<string>-55.166668</string>
		<string>8</string>
		<string>America/Paramaribo</string>
		<string></string>
		<string>Paramaribo</string>
		<string>Surinam</string>
	</array>
	<array>
		<string>48.866650</string>
		<string>2.333328</string>
		<string>12</string>
		<string>Europe/Paris</string>
		<string>FR</string>
		<string>Paris</string>
		<string>France</string>
	</array>
	<array>
		<string>-31.933334</string>
		<string>115.833328</string>
		<string>24</string>
		<string>Australia/Perth</string>
		<string>AU</string>
		<string>Perth</string>
		<string>Australia</string>
	</array>
	<array>
		<string>39.616669</string>
		<string>-75.116669</string>
		<string>6</string>
		<string>US/Eastern</string>
		<string>US</string>
		<string>Philadelphia</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>11.549999</string>
		<string>104.916664</string>
		<string>23</string>
		<string>Asia/Phnom_Penh</string>
		<string></string>
		<string>Phnom Penh</string>
		<string>Cambodia</string>
	</array>
	<array>
		<string>33.299999</string>
		<string>-112.033340</string>
		<string>4</string>
		<string>America/Phoenix</string>
		<string>US</string>
		<string>Phoenix</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>37.733333</string>
		<string>-25.666666</string>
		<string>10</string>
		<string>Atlantic/Azores</string>
		<string>PT</string>
		<string>Ponta Delgada</string>
		<string>Portugal</string>
	</array>
	<array>
		<string>-20.166666</string>
		<string>57.500000</string>
		<string>16</string>
		<string>Indian/Mauritius</string>
		<string></string>
		<string>Port Louis</string>
		<string>Mauritius</string>
	</array>
	<array>
		<string>18.666668</string>
		<string>-72.333336</string>
		<string>6</string>
		<string>America/Port-au-Prince</string>
		<string></string>
		<string>Port-au-Prince</string>
		<string>Haiti</string>
	</array>
	<array>
		<string>45.549999</string>
		<string>-122.599998</string>
		<string>3</string>
		<string>US/Pacific</string>
		<string>US</string>
		<string>Portland</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>50.083332</string>
		<string>14.433332</string>
		<string>12</string>
		<string>Europe/Prague</string>
		<string>CZ</string>
		<string>Prague</string>
		<string>Czech Republic</string>
	</array>
	<array>
		<string>39.000000</string>
		<string>125.500000</string>
		<string>25</string>
		<string>Asia/Pyongyang</string>
		<string>KR</string>
		<string>Pyongyang</string>
		<string>North Korea</string>
	</array>
	<array>
		<string>-0.233333</string>
		<string>-78.500000</string>
		<string>6</string>
		<string>America/Guayaquil</string>
		<string></string>
		<string>Quito</string>
		<string>Ecuador</string>
	</array>
	<array>
		<string>34.033333</string>
		<string>-6.850000</string>
		<string>12</string>
		<string>Africa/Casablanca</string>
		<string></string>
		<string>Rabat</string>
		<string>Morocco</string>
	</array>
	<array>
		<string>16.750000</string>
		<string>96.333328</string>
		<string>22</string>
		<string>Asia/Rangoon</string>
		<string></string>
		<string>Rangoon</string>
		<string>Burma</string>
	</array>
	<array>
		<string>-8.000000</string>
		<string>-35.000000</string>
		<string>8</string>
		<string>America/Recife</string>
		<string></string>
		<string>Recife</string>
		<string>Brazil</string>
	</array>
	<array>
		<string>50.416666</string>
		<string>-104.650000</string>
		<string>5</string>
		<string>Canada/Saskatchewan</string>
		<string>CA</string>
		<string>Regina</string>
		<string>Canada</string>
	</array>
	<array>
		<string>64.150002</string>
		<string>-21.949999</string>
		<string>11</string>
		<string>Atlantic/Reykjavik</string>
		<string>IS</string>
		<string>Reykjavik</string>
		<string>Iceland</string>
	</array>
	<array>
		<string>-22.883331</string>
		<string>-43.283325</string>
		<string>8</string>
		<string>Brazil/East</string>
		<string></string>
		<string>Rio de Janeiro</string>
		<string>Brazil</string>
	</array>
	<array>
		<string>24.650000</string>
		<string>46.716667</string>
		<string>14</string>
		<string>Asia/Riyadh</string>
		<string></string>
		<string>Riyadh</string>
		<string>Saudia Arabia</string>
	</array>
	<array>
		<string>41.883331</string>
		<string>12.500001</string>
		<string>12</string>
		<string>Europe/Rome</string>
		<string>IT</string>
		<string>Roma</string>
		<string>Italy</string>
	</array>
	<array>
		<string>40.766666</string>
		<string>-111.883331</string>
		<string>4</string>
		<string>US/Mountain</string>
		<string>US</string>
		<string>Salt Lake City</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>32.716667</string>
		<string>-117.149994</string>
		<string>3</string>
		<string>US/Pacific</string>
		<string>US</string>
		<string>San Diego</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>37.799999</string>
		<string>-122.400002</string>
		<string>3</string>
		<string>US/Pacific</string>
		<string>US</string>
		<string>San Francisco</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>9.983334</string>
		<string>-84.066666</string>
		<string>5</string>
		<string>America/Costa_Rica</string>
		<string></string>
		<string>San Jose</string>
		<string>Costa Rica</string>
	</array>
	<array>
		<string>13.666666</string>
		<string>-89.166664</string>
		<string>5</string>
		<string>America/El_Salvador</string>
		<string></string>
		<string>San Salvador</string>
		<string>El Salvador</string>
	</array>
	<array>
		<string>15.450000</string>
		<string>44.200001</string>
		<string>14</string>
		<string>Asia/Aden</string>
		<string></string>
		<string>Sanaa</string>
		<string>Yemen</string>
	</array>
	<array>
		<string>-33.400002</string>
		<string>-70.666664</string>
		<string>7</string>
		<string>America/Santiago</string>
		<string></string>
		<string>Santiago</string>
		<string>Chile</string>
	</array>
	<array>
		<string>18.500000</string>
		<string>-64.900002</string>
		<string>7</string>
		<string>America/Santo_Domingo</string>
		<string></string>
		<string>Santo Domingo</string>
		<string>Dominican Republic</string>
	</array>
	<array>
		<string>-23.549999</string>
		<string>-46.649998</string>
		<string>8</string>
		<string>America/Sao_Paulo</string>
		<string></string>
		<string>Sao Paulo</string>
		<string>Brazil</string>
	</array>
	<array>
		<string>47.350002</string>
		<string>-122.200005</string>
		<string>3</string>
		<string>US/Pacific</string>
		<string>US</string>
		<string>Seattle</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>37.549999</string>
		<string>126.966667</string>
		<string>25</string>
		<string>Asia/Seoul</string>
		<string>KR</string>
		<string>Seoul</string>
		<string>Korea</string>
	</array>
	<array>
		<string>31.233334</string>
		<string>121.500000</string>
		<string>24</string>
		<string>Asia/Shanghai</string>
		<string>CN</string>
		<string>Shanghai</string>
		<string>China</string>
	</array>
	<array>
		<string>1.283333</string>
		<string>103.850006</string>
		<string>24</string>
		<string>Asia/Singapore</string>
		<string>SG</string>
		<string>Singapore</string>
		<string>Singapore</string>
	</array>
	<array>
		<string>42.750000</string>
		<string>23.333332</string>
		<string>13</string>
		<string>Europe/Sofia</string>
		<string></string>
		<string>Sofia</string>
		<string>Bulgaria</string>
	</array>
	<array>
		<string>47.566666</string>
		<string>-52.716666</string>
		<string>7</string>
		<string>Canada/Newfoundland</string>
		<string>CA</string>
		<string>St. John's</string>
		<string>Canada</string>
	</array>
	<array>
		<string>38.633335</string>
		<string>-90.183334</string>
		<string>5</string>
		<string>US/Central</string>
		<string>US</string>
		<string>St. Louis</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>59.916664</string>
		<string>30.249998</string>
		<string>14</string>
		<string>Europe/Moscow</string>
		<string></string>
		<string>St. Petersburg</string>
		<string>Russia</string>
	</array>
	<array>
		<string>59.333328</string>
		<string>18.049988</string>
		<string>12</string>
		<string>Europe/Stockholm</string>
		<string>SE</string>
		<string>Stockholm</string>
		<string>Sweden</string>
	</array>
	<array>
		<string>-33.866665</string>
		<string>151.216675</string>
		<string>27</string>
		<string>Australia/Sydney</string>
		<string>AU</string>
		<string>Sydney</string>
		<string>Australia</string>
	</array>
	<array>
		<string>25.066668</string>
		<string>121.483330</string>
		<string>24</string>
		<string>Asia/Taipei</string>
		<string>TW</string>
		<string>Taipei</string>
		<string></string>
	</array>
	<array>
		<string>41.333336</string>
		<string>69.166664</string>
		<string>21</string>
		<string>Asia/Tashkent</string>
		<string></string>
		<string>Tashkent</string>
		<string>Uzbekistan</string>
	</array>
	<array>
		<string>14.083333</string>
		<string>-87.233337</string>
		<string>5</string>
		<string>America/Tegucigalpa</string>
		<string></string>
		<string>Tegucigalpa</string>
		<string>Honduras</string>
	</array>
	<array>
		<string>35.666668</string>
		<string>51.433331</string>
		<string>15</string>
		<string>Asia/Tehran</string>
		<string></string>
		<string>Tehran</string>
		<string>Iran</string>
	</array>
	<array>
		<string>10.966667</string>
		<string>106.666664</string>
		<string>23</string>
		<string>Asia/Saigon</string>
		<string></string>
		<string>Thanh Pho Ho Chi Minh</string>
		<string>Vietnam</string>
	</array>
	<array>
		<string>39.133331</string>
		<string>117.200005</string>
		<string>24</string>
		<string>Asia/Shanghai</string>
		<string>CN</string>
		<string>Tientsin</string>
		<string>China</string>
	</array>
	<array>
		<string>35.700001</string>
		<string>139.766678</string>
		<string>25</string>
		<string>Asia/Tokyo</string>
		<string>JP</string>
		<string>Tokyo</string>
		<string>Japan</string>
	</array>
	<array>
		<string>43.650002</string>
		<string>-79.333336</string>
		<string>6</string>
		<string>Canada/Eastern</string>
		<string>CA</string>
		<string>Toronto</string>
		<string>Canada</string>
	</array>
	<array>
		<string>32.883331</string>
		<string>13.200000</string>
		<string>12</string>
		<string>Africa/Tripoli</string>
		<string></string>
		<string>Tripoli</string>
		<string>Libya</string>
	</array>
	<array>
		<string>36.799999</string>
		<string>10.183333</string>
		<string>12</string>
		<string>Africa/Tunis</string>
		<string></string>
		<string>Tunis</string>
		<string>Tunisia</string>
	</array>
	<array>
		<string>47.916668</string>
		<string>106.883339</string>
		<string>24</string>
		<string>Asia/Ulaanbaatar</string>
		<string></string>
		<string>Ulaanbaator</string>
		<string>Mongolia</string>
	</array>
	<array>
		<string>0.0</string>
		<string>0.0</string>
		<string>0</string>
		<string>UTC</string>
		<string></string>
		<string>UTC</string>
		<string>UTC</string>
	</array>
	<array>
		<string>49.266666</string>
		<string>-123.116653</string>
		<string>3</string>
		<string>America/Vancouver</string>
		<string>CA</string>
		<string>Vancouver</string>
		<string>Canada</string>
	</array>
	<array>
		<string>-4.633333</string>
		<string>55.450000</string>
		<string>16</string>
		<string>Indian/Mahe</string>
		<string></string>
		<string>Victoria</string>
		<string>Seychelles</string>
	</array>
	<array>
		<string>48.216667</string>
		<string>16.366667</string>
		<string>12</string>
		<string>Europe/Vienna</string>
		<string>AT</string>
		<string>Vienna</string>
		<string>Austria</string>
	</array>
	<array>
		<string>43.116666</string>
		<string>131.916666</string>
		<string>27</string>
		<string>Asia/Vladivostok</string>
		<string></string>
		<string>Vladivostok</string>
		<string>Russia</string>
	</array>
	<array>
		<string>48.450001</string>
		<string>44.299999</string>
		<string>Europe/Moscow</string>
		<string>14</string>
		<string></string>
		<string>Volgograd</string>
		<string>Russia</string>
	</array>
	<array>
		<string>52.250000</string>
		<string>21.000000</string>
		<string>12</string>
		<string>Europe/Warsaw</string>
		<string>PL</string>
		<string>Warsaw</string>
		<string>Poland</string>
	</array>
	<array>
		<string>38.916656</string>
		<string>-77.000000</string>
		<string>6</string>
		<string>US/Eastern</string>
		<string>US</string>
		<string>Washington, D.C.</string>
		<string>U.S.A.</string>
	</array>
	<array>
		<string>-41.283333</string>
		<string>174.783325</string>
		<string>29</string>
		<string>Pacific/Auckland</string>
		<string>NZ</string>
		<string>Wellington</string>
		<string>New Zealand</string>
	</array>
	<array>
		<string>49.899998</string>
		<string>-97.149994</string>
		<string>5</string>
		<string>America/Winnipeg</string>
		<string>CA</string>
		<string>Winnipeg</string>
		<string>Canada</string>
	</array>
	<array>
		<string>62.000000</string>
		<string>129.666666</string>
		<string>25</string>
		<string>Asia/Yakutsk</string>
		<string></string>
		<string>Yakutsk</string>
		<string>Russia</string>
	</array>
	<array>
		<string>56.850000</string>
		<string>60.600000</string>
		<string>18</string>
		<string>Asia/Yekaterinburg</string>
		<string></string>
		<string>Yekaterinburg</string>
		<string>Russia</string>
	</array>
	<array>
		<string>45.740600</string>
		<string>16.068300</string>
		<string>12</string>
		<string>Europe/Zagreb</string>
		<string></string>
		<string>Zagreb</string>
		<string>Croatia</string>
	</array>
	<array>
		<string>47.383335</string>
		<string>8.550000</string>
		<string>12</string>
		<string>Europe/Zurich</string>
		<string>CH</string>
		<string>Zurich</string>
		<string>Switzerland</string>
	</array>
</array>
</plist>
