<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Path</key>
		<string>/Applications/Utilities/Startup Disk.app</string>
	</dict>
	<dict>
		<key>Path</key>
		<string>/Applications/Utilities/Reset Password.app</string>
	</dict>
	<dict>
		<key>Path</key>
		<string>/Applications/Utilities/Disk Utility.app</string>
	</dict>
	<dict>
		<key>Path</key>
		<string>/Applications/Utilities/Terminal.app</string>
	</dict>
	<dict>
		<key>Path</key>
		<string>/Applications/Utilities/System Profiler.app</string>
	</dict>
</array>
</plist>
