<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entries</key>
	<array>
		<dict>
			<key>advertiseService</key>
			<false/>
			<key>description</key>
			<string>Template</string>
			<key>entryEnabled</key>
			<false/>
			<key>hosts</key>
			<array>
				<string></string>
			</array>
			<key>tcpPrivatePorts</key>
			<string></string>
			<key>tcpPublicPorts</key>
			<string></string>
			<key>type</key>
			<string>XServer-Auto</string>
			<key>udpPrivatePorts</key>
			<string></string>
			<key>udpPublicPorts</key>
			<string></string>
		</dict>
		<dict>
			<key>advertiseService</key>
			<false/>
			<key>description</key>
			<string>Remote Login Service (SSH)</string>
			<key>entryEnabled</key>
			<false/>
			<key>hosts</key>
			<array>
				<string></string>
			</array>
			<key>tcpPrivatePorts</key>
			<string>22</string>
			<key>tcpPublicPorts</key>
			<string>22</string>
			<key>type</key>
			<string>XServer-Auto</string>
			<key>udpPrivatePorts</key>
			<string></string>
			<key>udpPublicPorts</key>
			<string></string>
		</dict>
		<dict>
			<key>advertiseService</key>
			<false/>
			<key>description</key>
			<string>Screen Sharing Service (VNC)</string>
			<key>entryEnabled</key>
			<false/>
			<key>hosts</key>
			<array>
				<string></string>
			</array>
			<key>tcpPrivatePorts</key>
			<string>5900,3283</string>
			<key>tcpPublicPorts</key>
			<string>5900,3283</string>
			<key>type</key>
			<string>XServer-Auto</string>
			<key>udpPrivatePorts</key>
			<string>5900,3283</string>
			<key>udpPublicPorts</key>
			<string>5900,3283</string>
		</dict>
		<dict>
			<key>advertiseService</key>
			<false/>
			<key>description</key>
			<string>iCal Service</string>
			<key>entryEnabled</key>
			<false/>
			<key>hosts</key>
			<array>
				<string></string>
			</array>
			<key>tcpPrivatePorts</key>
			<string>8008,8443</string>
			<key>tcpPublicPorts</key>
			<string>8008,8443</string>
			<key>type</key>
			<string>XServer-Auto</string>
			<key>udpPrivatePorts</key>
			<string></string>
			<key>udpPublicPorts</key>
			<string></string>
		</dict>
		<dict>
			<key>advertiseService</key>
			<false/>
			<key>description</key>
			<string>Address Book Service</string>
			<key>entryEnabled</key>
			<false/>
			<key>hosts</key>
			<array>
				<string></string>
			</array>
			<key>tcpPrivatePorts</key>
			<string>8800,8843</string>
			<key>tcpPublicPorts</key>
			<string>8800,8843</string>
			<key>type</key>
			<string>XServer-Auto</string>
			<key>udpPrivatePorts</key>
			<string></string>
			<key>udpPublicPorts</key>
			<string></string>
		</dict>
		<dict>
			<key>advertiseService</key>
			<false/>
			<key>description</key>
			<string>iChat Service</string>
			<key>entryEnabled</key>
			<false/>
			<key>hosts</key>
			<array>
				<string></string>
			</array>
			<key>tcpPrivatePorts</key>
			<string>5222,5223,5060,5269,7777</string>
			<key>tcpPublicPorts</key>
			<string>5222,5223,5060,5269,7777</string>
			<key>type</key>
			<string>XServer-Auto</string>
			<key>udpPrivatePorts</key>
			<string>16384-16403</string>
			<key>udpPublicPorts</key>
			<string>16384-16403</string>
		</dict>
		<dict>
			<key>advertiseService</key>
			<false/>
			<key>description</key>
			<string>Mail Service (SMTP, IMAP, POP)</string>
			<key>entryEnabled</key>
			<false/>
			<key>hosts</key>
			<array>
				<string></string>
			</array>
			<key>tcpPrivatePorts</key>
			<string>25,110,143,587,993,995</string>
			<key>tcpPublicPorts</key>
			<string>25,110,143,587,993,995</string>
			<key>type</key>
			<string>XServer-Auto</string>
			<key>udpPrivatePorts</key>
			<string></string>
			<key>udpPublicPorts</key>
			<string></string>
		</dict>
		<dict>
			<key>advertiseService</key>
			<false/>
			<key>description</key>
			<string>Web Service</string>
			<key>entryEnabled</key>
			<false/>
			<key>hosts</key>
			<array>
				<string></string>
			</array>
			<key>tcpPrivatePorts</key>
			<string>80,443</string>
			<key>tcpPublicPorts</key>
			<string>80,443</string>
			<key>type</key>
			<string>XServer-Auto</string>
			<key>udpPrivatePorts</key>
			<string></string>
			<key>udpPublicPorts</key>
			<string></string>
		</dict>
		<dict>
			<key>advertiseService</key>
			<false/>
			<key>description</key>
			<string>VPN Service (L2TP)</string>
			<key>entryEnabled</key>
			<false/>
			<key>hosts</key>
			<array>
				<string></string>
			</array>
			<key>tcpPrivatePorts</key>
			<string></string>
			<key>tcpPublicPorts</key>
			<string></string>
			<key>type</key>
			<string>XServer-Auto</string>
			<key>udpPrivatePorts</key>
			<string>500,1701,4500</string>
			<key>udpPublicPorts</key>
			<string>500,1701,4500</string>
		</dict>
		<dict>
			<key>advertiseService</key>
			<false/>
			<key>description</key>
			<string>VPN Service (PPTP)</string>
			<key>entryEnabled</key>
			<false/>
			<key>hosts</key>
			<array>
				<string></string>
			</array>
			<key>tcpPrivatePorts</key>
			<string>1723</string>
			<key>tcpPublicPorts</key>
			<string>1723</string>
			<key>type</key>
			<string>XServer-Auto</string>
			<key>udpPrivatePorts</key>
			<string></string>
			<key>udpPublicPorts</key>
			<string></string>
		</dict>
		<dict>
			<key>advertiseService</key>
			<false/>
			<key>description</key>
			<string>File Sharing Service (AFP, SMB)</string>
			<key>entryEnabled</key>
			<false/>
			<key>hosts</key>
			<array>
				<string></string>
			</array>
			<key>tcpPrivatePorts</key>
			<string>548,139</string>
			<key>tcpPublicPorts</key>
			<string>548,139</string>
			<key>type</key>
			<string>XServer-Auto</string>
			<key>udpPrivatePorts</key>
			<string></string>
			<key>udpPublicPorts</key>
			<string></string>
		</dict>
	</array>
	<key>syncEnabled</key>
	<false/>
	<key>syncOccurred</key>
	<false/>
	<key>version</key>
	<string>2</string>
	<key>syncTime</key>
	<date>2001-01-01T00:00:00Z</date>
</dict>
</plist>
